@charset "utf-8";
/* CSS Document */

.table_metko{
padding-top:20px;
background:url(../images/site/bolo_s.png) no-repeat  center top;
}



.table_admin{
	padding-top:20px;
	padding-bottom:20px;
}

.table_admin th{
	padding-bottom:10px;
	//text-align:left;
	font-size:20px;
	font-style:italic;
	font-family:"Monotype Corsiva";
	color:#95C512;/*#B2D65B;*/
}

.table_admin td{
	vertical-align:middle;
	padding-left:5px;
	color:#600;
}
.table_admin div{
	margin:5px 0 5px 0;
}

.td_dotted .table_admin td{
	border-bottom:1px dashed #ccc;
}


.table_admin input[type="text"]{
	margin:10px 0 10px 0;
}

.table_admin input[type="text"][name="avtor"]{
	width:300px;
}
.table_admin input[type="text"][name="zagalovok"]{
	width:610px;
}
.table_admin textarea[name="tema"]{
	width:250px;
	min-width:250px;
	max-width:530px;
	height:20px;
	max-height:50px;
	margin-bottom:10px;
}

.table_admin input[type="text"][name="famil"],
.table_admin input[type="text"][name="imya"],
.table_admin input[type="text"][name="otches"]{
	width:250px;

}

.table_admin input[type="text"][name="tema"]{
	width:600px;
}

.table_admin input[type="text"][name="god"]{
	width:110px;
}




.table_admin input[type="radio"][value="2"], .table_admin input[type="radio"][value="3"]{
	margin:20px 5px 0 30px;
}



.last_file{
	color:#ccc;
	font-size:9px;
	font-style:italic;
}

.zv{
	float:right;
	color:#00F;
}




	

