@charset "utf-8";
/* CSS Document */

.div_ru, .div_en, .div_sim{
	text-align:center;
}

.div_ru a, .div_en a, .div_sim a{
	color:#600;
	text-decoration:none;
	font-weight:bold;
	padding:0 2px 0 2px;
}
.div_ru span, .div_en span, .div_sim span{
	color:#CCC;
	text-decoration:none;
	font-weight:bold;
	padding:0 2px 0 2px;
}
	
.div_ru a:hover, .div_en a:hover, .div_sim a:hover{
	color:#F00;
	font-size:15px;

}

.div_sim{
	height:20px;
}
