@charset "utf-8";
/* CSS Document */

.searched_img{
	border:1px solid #000;
	width:70px;
	height:110px;
	margin:4px 4px 4px 4px;
	background-color:#F4F2F0;
	font-size:10px;
	background:url(../images/nest_img.gif) no-repeat scroll center center;
}

