@charset "utf-8";
/* CSS Document */

.jus_vase_table{
	width:680px;
	box-shadow:5px 10px 15px #666;
	//behavior: url(ie-css3.htc);
	padding:15px 0 15px 0;
	margin-bottom:25px;
}

.jus_vase_table input[type="text"]{
	
	width:425px;
	box-shadow:1px 1px 1px #666;
	//behavior: url(ie-css3.htc);
	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

}

.div_search{
	width:730px;
	float:left;
	margin:0 10px 0 10px;
}


.div_search input[type="text"]{
	-webkit-transition: background-color 2s ease-in-out, border-color 2s ease-in-out;
    -moz-transition: background-color 2s ease-in-out, border-color 2s ease-in-out;
    -o-transition: background-color 2s ease-in-out, border-color 2s ease-in-out;
    transition: background-color 2s ease-in-out, border-color 2s ease-in-out;
	background-color:#FFF;
}

.div_search input[type="text"]:focus{
	background-color:#FFC; 
}
.jus_vase_table select{
	width:429px;
	box-shadow:1px 1px 1px #666;
	//behavior: url(ie-css3.htc);

}

.search_area{
	margin-top:15px;
	margin-bottom:60px;
}


.jus_vase_table td{
	height:30px;
	padding-left:10px

}
	
.jus_vase_td{
	width:130px;
}

input[type="submit"][name="jus_vase"], input[type="submit"][name="jus_sodda"]{
	font-family:"Monotype Corsiva";
	height:30px;
	
	background-color:#300;
	color:#FFF;
	font-size:18px;
	
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	
	box-shadow:5px 5px 5px #666;
}

.search_table{
	margin-bottom:25px;
	width:720px;

	border: 1px solid silver; 
	
	padding:5px;

	border-radius:10px;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
	
	box-shadow:5px 10px 5px #666;
	//behavior: url(ie-css3.htc);

}
.search_table td{
	vertical-align:top;
}


.search_td_img{
	width:80px;
	height:120px;
	background:url(../images/nest_img.gif) no-repeat center center ;
}
.search_table td img{
	width:70px;
	height:110px;
	margin:5px 5px 5px 5px;
}

.search_table label{
	font-weight:bold;
	font-size:14px;
}
.search_table .search_lable_info{
	font-size:12px;
	font-style:italic;
	color:#033;
}

.search_table_vase{
	margin-bottom:25px;
	width:720px;

	border: 1px solid silver; 
	border-radius:15px;
	padding:5px;


	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
	
	box-shadow:5px 10px 5px #666;
	//behavior: url(ie-css3.htc);

}
.search_table_vase td{
	vertical-align:top;
}


.search_td_img_vase{
	width:80px;
	height:120px;
	/*background:url(../images/nest_img.gif) no-repeat center center ;*/
}
.search_table_vase td img{
	width:70px;
	height:110px;
	margin:5px 5px 5px 5px;
}

.search_table_vase label{
	font-weight:bold;
	font-size:14px;

}
.search_table_vase .search_lable_info_vase{
	font-size:12px;
	font-style:italic;
	color:#033;
}

.search_table_vase a{
	text-decoration:none;
}

.search_eftagi_vase{
	font-weight:bold;
/*	font-size:20px;*/
color:#0E1CB3;
}

.jus_sodda{
	font-size:20px;
	height:30px;
	width:580px;
	margin-right:10px;
	border-radius:5px;
	-moz-border-radius:5px;
  	-webkit-border-radius:5px;
	
	box-shadow:5px 5px 5px #666;
	//behavior: url(ie-css3.htc);
}

.searched_img{
	border:1px solid #000;
	width:70px;
	height:110px;
	margin:4px 4px 4px 4px;
	background-color:#F4F2F0;
	font-size:10px;
	background:url(../images/nest_img.gif) no-repeat scroll center center;
}

.search_img{
background-color:#F6F6F6;
border-radius:20px;
padding-left:14px;
padding-bottom:5px;
}

.wrong_search{
	color:#ccc;
	font-style:italic;
	font-size:16px;
}

.search_submit{
	height:32px;
	box-shadow:5px 5px 5px #666;
	//behavior: url(ie-css3.htc);
	width:90px;
}
