@charset "utf-8";
/* CSS Document */

.search_table_limit{
	margin-top:40px;
	margin-right:0px;
	border:1px solid #333;
	
	padding:3px 20px 5px 20px;
	
	border-radius:20px;
	-moz-border-radius: 20px;
  	-webkit-border-radius: 20px;
	
	box-shadow:5px 5px 5px #666;
	//behavior: url(ie-css3.htc);
	
}
.search_table_limit tr{
	border-radius:20px;
	-moz-border-radius: 20px;
  	-webkit-border-radius: 20px;
}


.search_table_limit span{
	padding-left:8px;
	padding-right:8px;
}
.search_table_limit span a:hover{
	font-size:16px;
}
	
.search_limit_active{
	font-size:18px;
	font-weight:bold;
	color:#CCC;
	font-family:Algerian;
}

.search_limit_p{
	margin:15px 10px 15px 0px;
	text-align:center;
}

.search_limit_poin_active a{
	text-decoration:none;
		color:#630;
}
.search_limit_poin_active a:hover{
	text-decoration:underline;
		color:#F00;
}

.search_limit_poin_neactive{
	color:#ccc;

}