@charset "utf-8";
/* CSS Document */

.t_menui_asosi_b{
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
  	-webkit-border-radius:10px 10px 0 0;
	background:url(../images/site/bolo_f.gif) no-repeat  left top;
	height:500px;

}

.t_menui_asosi_b td{
	padding:25px 5px 50px 5px;
	text-indent:20px;
	text-align:justify;
	vertical-align:top;

}

/*.akhbor_table_z .akhbor_table_t*/
.t_menui_asosi_i2{
	margin-bottom:20px;
}
.t_menui_asosi_i1, .t_menui_asosi_i2{

	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
  	-webkit-border-radius:10px 10px 0 0;
}


.t_menui_asosi_i1 div, .t_menui_asosi_i2 div{
	padding:15px 0 0 0;
}

.t_menui_asosi_i1 th, .t_menui_asosi_i2 th{
	background:url(../images/site/bolo_t.gif) no-repeat  left top;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
  	-webkit-border-radius:10px 10px 0 0;
	
	background-color:#f6f6f6;
	text-align:left;
	padding-left:25px;
}
.t_menui_asosi_i1 td, .t_menui_asosi_i2 td{
	padding:10px 10px 10px 10px;
	text-align:justify;
}
.t_menui_asosi_i2 th{
	padding-left:18px;
}
.t_menui_asosi_i2 th p{
line-height:5px;
}
.t_menui_asosi_i1 th p, .t_menui_asosi_i2 th p{
	font-weight:normal;
	font-size:12px;
	font-style:italic;
	color:#424242;
}
	
.t_menui_asosi_i_count_view{
	border-top:1px  dashed #ccc;
}
.t_menui_asosi_i_count_view div{
 padding:0px 0 0 15px;
 color:#630;
 font-size:12px;
 font-style:italic;
}
