@charset "utf-8";
/* CSS Document */


.menu_body{
	//background:transparent url(../images/menu_body1.gif) repeat-y scroll left top;
	margin-bottom:0px;
	border:1px solid #CCC;
	
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	
	box-shadow:3px 3px 5px #630;
	background-color:#FFFFEF;
}

/*.menu_heder{
	//background:transparent url(../images/menu_header1.gif) no-repeat scroll left top;


}
	
.menu_footer{
//background: transparent url(../images/menu_footer1.gif) no-repeat scroll left bottom;
  //background:url(../images/site/bolo_p.gif) no-repeat   bottom  right;
}*/

.menu_zag{
	font-family:"Monotype Corsiva";
	font-size:24px;
	text-align:center;
	padding-top:1px;
	padding-bottom:1px;
	
	color:#FFF;
	margin:20px 6px 0px 7px;
	background-color:#8B5F26; /*#D2C39B;*/

	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-khtml-border-radius:20px;
	
	box-shadow:3px 5px 1px #CCC;
	-moz-box-shadow:3px 5px 1px #ccc;
	-khtml-box-shadow:3px 5px 1px #ccc;
	-webkit-box-shadow:3px 5px 1px #ccc;

}






.menu ul.menu_ul{
	list-style-type:none;
	text-align:left;
	margin:0 0 25px -9px;
}
.menu ul.menu_ul li a:alink{
	color:#F00;
}
.menu_ul1{
	list-style-type:none;
	text-align:left;
	margin:0;
	margin:0 0 25px -5px;
}

.menu_ul li{
	background: url(../images/link1.gif) no-repeat 8px center;
	margin:0px;
	margin:0 10px 1px -25px;

}
.menu_ul1 li{
	background: url(../images/link1.gif) no-repeat 8px center;
	margin:0px;
	margin:0 1px 1px -35px;
}

.menu ul.menu_ul li:hover{
	background-color:#FFF;
}
.menu ul.menu_ul li a{
	display:block;
	text-decoration:none;
	line-height:19px;
	height:20px;
	font-size:13px;
	font-weight:400;
	padding:0 0 0 23px;
	margin:0 0 0 0px;
	color:#633;
	border-bottom:1px dotted #EAEAEA;	
}

.menu ul.menu_ul li a:hover{
	text-shadow: black 1px 1px 1px, #ccc 0 0 5px;

}

.menu{
	padding:15px 0 1px 0;
}


.menu_reg{
	padding:20px 5px 15px 10px;
}

.menu_reg input[type="text"], .menu_reg input[type="password"]{
	width:100px;
}

.menu_reg table input[type="submit"]{
	font-family:"Monotype Corsiva";

	background-color:#300;
	color:#FFF;
	font-size:17px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;

}
.menu_reg table input[type="text"], .menu_reg table input[type="password"]{
	-webkit-transition: background-color 2s ease-in-out, border-color 2s ease-in-out;
    -moz-transition: background-color 2s ease-in-out, border-color 2s ease-in-out;
    -o-transition: background-color 2s ease-in-out, border-color 2s ease-in-out;
    transition: background-color 2s ease-in-out, border-color 2s ease-in-out;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	border:1px solid #630;
}

.menu_reg table input[type="text"]:focus, .menu_reg table input[type="password"]:focus{
background-color:#FFC; 
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-khtml-border-radius:5px;

//padding-left:10px;
}
.menu_reg table input[type="password"]:focus{
	color:#630;
}

.menu_reg td{
	text-align:left;
	vertical-align:middle;
}


.menu_reg input[type="submit"]{
	margin:12px 0 0 0;
}

.menu_reg table{
	margin:0 10px 0 0;
	width:180px;
	max-width:185px;
}
.reg_status{
	color:#F00;
	padding-top:10px;
}



.kitobhoi_nav{
margin:0 10px 15px 10px;

}

.kitobhoi_nav div{
border-bottom:1px dotted #000;
margin-bottom:10px;
font-size:12px;
}


.li_admin_z{
	font-size:20px;
	font-family:"Monotype Corsiva";
	
}