@charset "utf-8";
/* CSS Document */

body{
	background-color:#EFE7E1; /*#EFE7E1;*/
	font:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.div1{}

.div_main{
	width:1000px;
	margin:0 auto;
	margin-top:-20px;
	min-height:730px;
}

.div_header{
	width:1000px;
	position:relative;
	height:190px;
	//background:url(../images/header.gif) no-repeat  center center;
	padding-top:10px;


	

}
.div_header_1{
	height:170px;
	
	
	width:1000px;
	border:1px solid #CCC;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow:3px 3px 5px #630;
	background-color:#FFF;
}

.div_body{
	//background: transparent  url(../images/contentbg.gif) repeat-y  scroll left top;
	margin:auto;
	width:1000px;
	height:auto;
	
	border:1px solid #CCC;
	
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	
	box-shadow:3px 3px 5px #630;
	background-color:#FFF;
}

.div_body_top{
	//background: transparent  url(../images/body_top.gif) no-repeat  scroll left top;
	margin:auto;
	width:1000px;
	height:auto;
	padding-top:10px;
}


	
.div_body_footer{
	//background:transparent  url(../images/footer.gif) no-repeat scroll left bottom;
	margin:auto;
	width:1000px;
	padding-bottom:40px;
	height:auto;
	min-height:735px;
	


}

.content{
	width:1000px;
	margin:0 auto;
	padding:10px 0 0;
	height:auto;
}

.namon{
	clear:both;
}




.content_body_left{
	float:left;
	width:210px;
	margin:0 10px 16px 0;

}

.content_body{
	width:730px;
	margin:0 auto;
	height:auto;
	float:right;
	margin-right:20px;

}

.copy_right{
		-webkit-transition: background-color 3s ease-in-out, border-color 3s ease-in-out;
    -moz-transition: background-color 3s ease-in-out, border-color 3s ease-in-out;
    -o-transition: background-color 3s ease-in-out, border-color 3s ease-in-out;
    transition: background-color 3s ease-in-out, border-color 3s ease-in-out;
margin-top:20px;
	min-height:70px;

	//background:url(../images/copy_right.gif) no-repeat  center center;
	
	width:1000px;
	border:1px solid #CCC;
	
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow:3px 3px 5px #630;
	background-color:#FFF;
}

.copy_right_body{
font-size:12px;
color:#CCC;
text-align:center;
padding:27px 0 27px 0;
margin-left:15px;
margin-right:30px;

	
}

.copy_right:hover{
	background-color:#f2f2f2;
	color:#F00;

}



.element_top{
	width:100%;
	border:0;
}


.td_div_language, .div_language{
	width:260px;;
}


.div_language{
	float:left;
}
.div_language li:hover{
	background-color:#630;
	//border:1px dashed #F00;
	text-shadow: #FFF 1px 1px 1px, #FFF 0 0 5px;

}



.language_ul{
	margin-top:0px;
	margin-bottom:7px;
	padding-left:20px;

}

.language_ul li{
	-webkit-transition: background-color 3s ease-in-out, border-color 3s ease-in-out;
    -moz-transition: background-color 3s ease-in-out, border-color 3s ease-in-out;
    -o-transition: background-color 3s ease-in-out, border-color 3s ease-in-out;
    transition: background-color 3s ease-in-out, border-color 3s ease-in-out;


	display:inline;
	border-right:inherit;
	padding:0px 5px 1px 5px;
	margin-right:10px;

	border-radius:5px;
	-moz-border-radius:5px;
  	-webkit-border-radius:5px;
	
	box-shadow:3px 3px 3px #666;
	//behavior: url(ie-css3.htc);

}

.language_ul a{
	text-decoration:none;
	color:#300;
}


.language_rus a,.language_toj a,.language_eng a{
	padding-left:24px;
	padding-right:3px;
}

.language_rus{
	background:url(../images/ru.gif) no-repeat 5px center;
}
.language_toj{
	background: url(../images/tj.gif) no-repeat 5px center;
}

.language_eng{
	background:url(../images/en.gif) no-repeat 5px  center;
}

.reg_top{
	width:400px;

	margin: 0 auto;
	//opacity: 0.5;
	box-shadow:0px 0px 35px #FFFFFF;
	font-family:"Monotype Corsiva";
	font-size:16px;
	font-weight:bold;
	color:#300;
	
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.reg_top table{
	margin: 0 auto;
	border:0;
}
.reg_top table td{
	text-align:center;
}
.reg_top input[type="submit"]{
	font-family:"Monotype Corsiva";
	margin-left:10px;
	background-color:#300;
	color:#FFF;
	font-size:12px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;

}

.content_left{
	float:left;
	width:220px;
	margin:0 10px 16px 10px;
	height:auto;
	margin-top:-26px;
}

.td_search{
	width:310px;
	margin-right:10px;
}

.search{
	float:right;
	margin-right:20px;
}



.search input[type="text"]{
	padding-left:20px;
	background:url(../images/site/search_ico.png) no-repeat 4px  1px;
	border-radius:7px 7px 7px 7px;
	-moz-border-radius:7px 7px 7px 7px;
  	-webkit-border-radius:7px 7px 7px 7px;
	color:#90C;
	box-shadow:5px 4px 2px #666;
	//behavior: url(ie-css3.htc);
	-webkit-transition: background-color 1s ease-in-out, border-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out, border-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out, border-color 1s ease-in-out;
    transition: background-color 1s ease-in-out, border-color 1s ease-in-out;
}

.search input[type="text"]:focus{
	background-color:#FFF;
}
.search input[type="submit"]{
	font-family:"Monotype Corsiva";
	background-color:#300;
	color:#FFF;
	font-size:16px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}



.table_header{
	height:180px;
	border-collapse:collapse;
	width:100%;


}

.table_header td {
	text-align:center;
	font-size:30px;
	/*font-family:"Monotype Corsiva";*/ 
	color:#300;
	/*border:1px solid #000;*/
	
}
.table_header td span{
	font-size:14px;
	
}


/*////////////////////////////////////////////////////////////////*/
.tema{
	text-align:center;
	font-size:25px;
	font-weight:bold;
	font-family:"Monotype Corsiva";
	margin-bottom:10px;
	font-style:italic;
}

.natijai_justuju{
	color:#ccc;
	margin-bottom:15px;
	margin-top:10px;
	font-style:italic;

}

.tables, .idb table{
	border:1px solid #300;
	border-collapse:collapse;
}

.tables th, .idb table th{
	font-size:20px;
	font-style:italic;
	font-family:"Monotype Corsiva";
	padding-right:5px;
	border:1px solid #000;
	background-color:#EFE9E4;
	color:#95C512;
}

.tables .th2{background-color:#F5FFFF;
	font-size:18px;
	color:#90F;
	font-weight:bold;
	font-style:italic;
}
	
.tables td, .tables th{
	border:1px dotted #300;
}

.td_number{
	background-color:#FFC;
}

.table_message{
	height:300px;
	text-align:center;
	color:#300;
}
	
.tables1{
	border-collapse:collapse;
}

.tables1 th{
	font-size:20px;
	font-style:italic;
	font-family:"Monotype Corsiva";
	padding:0 5px 15px 0px;
	text-align:left;
	color:#95C512;
}

.tables1 td{
	border-bottom:1px dashed #ccc;
}

#td_latter{
	border-bottom:hidden;
	border-left:hidden;
}


/*3D's*/
.t_menui_asosi_b, .tables, .tables1, .t_menui_asosi_i1, .t_menui_asosi_i2, .table_message, .idb table, .table_admin{
	width:735px;
	box-shadow:5px 10px 10px #666;
	//behavior: url(ie-css3.htc);	
}

/* table teg a*/
.t_menui_asosi_i2 th a, .tables a, .table_admin a, .kitobhoi_nav a, .search_table a, .search_table_limit a, .search_table_vase a,.search_eftagi a{
	color:#630;
	text-decoration:none;
}

.tables a:link, .table_admin a:link, .kitobhoi_nav a:link,.search_table a:link,.search_table_limit a:link, .search_table_vase a:link, .search_eftagi a:link{
	color:#330; /*#609;*/
}

.tables a:hover, .table_admin a:hover,.kitobhoi_nav a:hover, .search_table a:hover,.search_table_limit a:hover, .search_table_vase a:hover,.search_eftagi a:hover{
	color:#F00;
}
	
input[type='button'][name='button_message']{
	font-family:"Monotype Corsiva";
	background-color:#300;
	color:#FFF;
	border-radius:10px 10px 10px 10px;
	//behavior: url(ie-css3.htc);
	margin:10px 0 20px 10px;
	color:#fff;
}

input[type="submit"][name='submits']{
	font-family:"Monotype Corsiva";

	background-color:#300;
	color:#FFF;
	font-size:18px;
	
	border-radius:10px 10px 10px 10px;
	//behavior: url(ie-css3.htc);
	margin:20px 0 20px 10px;
	color:#fff;
	height:30px;
}



