@charset "utf-8";
/* CSS Document */



.idb_td_img{
	width:170px;
	height:270px;
	background-color:#FFC;
	text-align:center;
	color:#CCC;
	
}


.idb table td img{
	width:150px;
	height:250px;
	padding:10px 10px 10px 10px;
}

.idb table td{
	border:1px solid #000;
}


.idb_info{
	vertical-align:top;
}
.idb_info div{
	margin-top:10px;
	padding-left:10px;
}
.idb_lable_info{
	font-style:italic;
	color:#033;
}

.idb_info div label{
	font-size:15px;
	font-weight:bold;	
}