<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml; charset=utf-8" />
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
<meta name="description" content="Блог обо всём, личные заметки">
<meta name="keywords" content="Блог,вап мастер,сайтостроение,сайты,игры,скачать,комп,картинки,прикол,фото,люди,события">
<meta name="author" content="Morty">
<link rel="stylesheet" href="http://mortyk.org.ua/web/css/style.css" type="text/css"/>
<link rel="stylesheet" href="http://mortyk.org.ua/web/css/style-print.css" type="text/css" media="print" />
<link rel="shortcut icon" href="http://mortyk.org.ua/favicon.ico" />
<link rel="stylesheet" href="http://softwaremaniacs.org/media/soft/highlight/styles/idea.css">
<title>Блог обо всём :)</title>
<script language="JavaScript" type="text/javascript">
function spoiler(id)
 {
  var obj = "";
  if(document.getElementById)
   obj = document.getElementById(id).style;
  else if(document.all)
   obj = document.all[id];
  else if(document.layers)
   obj = document.layers[id];
  else
   return 1;
  if(obj.display == "")
   obj.display = "none";
  else if(obj.display != "none")
   obj.display = "none";
  else
   obj.display = "block";
 }
</script>
<script type="text/javascript" src="http://softwaremaniacs.org/media/soft/highlight/highlight.pack.js"></script>
<!--Highslide-->
<script type="text/javascript" src="http://mortyk.org.ua/hs/highslide.js"></script>
<link rel="stylesheet" type="text/css" href="http://mortyk.org.ua/hs/highslide.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="http://mortyk.org.ua/hs/highslide-ie6.css" />
<![endif]-->
<!--#Highslide-->
<script type='text/javascript'>
hljs.tabReplace = '    ';
hljs.initHighlightingOnLoad();
</script>
<!--WinSmiles-->
<script type="text/javascript">
function x () {return;}
function FocusText() {
    document.addcomment.comment.focus();
    document.addcomment.comment.select();
    return true; }
function DoSmilie(addSmilie) {
    var revisedmsgage;
    var currentmsgage = document.addcomment.comment.value;
    revisedmsgage = currentmsgage+addSmilie;
    document.addcomment.comment.value=revisedmsgage;
    document.addcomment.comment.focus();
    return;
}
function DoPrompt(action) { var revisedmsgage; var currentmsgage = document.addcomment.qmsgage.value; }
</script>
<!--#WinSmiles-->
<!--Spoiler-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.spoiler-body').hide()
        jQuery('.spoiler-head').click(function(){
            jQuery(this).toggleClass('folded').toggleClass('unfolded').next().slideToggle()
        })
    })
</script>
<!--#Spoiler-->
<!--Tabs-->
<script type="text/javascript" src="http://mortyk.org.ua/js/addclasskillclass.js"></script>
<script type="text/javascript" src="http://mortyk.org.ua/js/attachevent.js"></script>
<script type="text/javascript" src="http://mortyk.org.ua/js/addcss.js"></script>
<script type="text/javascript" src="http://mortyk.org.ua/js/tabtastic.js"></script>
<link rel="stylesheet" type="text/css" href="http://mortyk.org.ua/js/tabtastic.css" />
<!--#Tabs-->
<style>.chlang img{width: 60px; height: 60px;}</style>
<!--[if IE]><style>.chlang img{width: 59px; height: 59px; !important}</style><![endif]-->
</head>
<body>
<div id="wrapper">
<div id="header">
<div class="tabs">
<h2 class="tabset_label">Table of Contents</h2>
<ul class="tabset_tabs">
    <li id="btn_login" class="firstchild"><a title="Вход" href="#login" class="preActive active"><img src="http://mortyk.org.ua/web/img/auth_btn_login.gif" alt="Вход"></a></li>
    <li id="btn_register"><a title="Регистрация" href="#register" class="preActive postActive"><img src="http://mortyk.org.ua/web/img/auth_btn_reg.gif" alt="Регистрация"></a></li><li id="btn_logoutn"><img src="http://mortyk.org.ua/web/img/auth_btn_logoutn.gif" alt="Выход"></li><li id="btn_lostpass"><a title="Восстановить пароль" class="preActive" href="#lostpass"><img src="http://mortyk.org.ua/web/img/input_lost_pass_btn.gif" alt="Восстановить пароль"></a></li></ul>
<div id="login" class="tabset_content tabset_content_active">
	<h2 class="tabset_label"></h2>
		<form action="http://mortyk.org.ua/login.php?go=login" method="post">
            <b>Авторизация</b><br /><input type='hidden' name='url' value='http://mortyk.org.ua/blog/tabtastic.css'/>
            <input class="login_inp" type="text" name="login" value="Логин" onBlur="if(this.value=='') this.value='Логин';" onFocus="if(this.value=='Логин') this.value='';"/><br />
            <input class="login_inp" type="password" name="pass" value="******"  onBlur="if(this.value=='') this.value='******';" onFocus="if(this.value=='******') this.value='';"/><br />
            <input type="image" class="login_btn" src="http://mortyk.org.ua/web/img/spacer.gif" onsubmit="submit-form();">
        </form></div>
<div id="register" class="tabset_content">
	<h2 class="tabset_label"></h2>
		<form action="http://mortyk.org.ua/login.php?go=register" method="post">
        <input type='hidden' name='url' value='http://mortyk.org.ua//blog/tabtastic.css'/>
            <b>Регистрация</b><br />
            Логин<br /> <input type="text" name="login" value=""><br />
            E-mail<br /> <input type="text" name="email" value=""><br />
            Пароль<br /> <input type="password" name="pass" value=""><br />
            Пароль ещё раз<br /> <input type="password" name="rpass" value=""><br />
<div style="margin-top:3px;"><img id="rsiimage" style="border: 1px solid #000; margin-right:2px" src="http://mortyk.org.ua/captcha/securimage_show.php?sid=ef4da5a2622ed995676717fbde326d87" alt="CAPTCHA Image"><a href="#" title="Сменить картинку" onclick="document.getElementById('rsiimage').src = 'http://mortyk.org.ua/captcha/securimage_show.php?sid=' + Math.random(); this.blur(); return false"><img width='20' height='20' src="http://mortyk.org.ua/captcha/images/refresh.png" alt="Сменить картинку" onclick="this.blur()"></a></div>Код с картинки <input type="text" name="captcha" size="12" maxlength="8"><br>
            <input type="image" class="reg_btn" src="http://mortyk.org.ua/web/img/spacer.gif" onsubmit="submit-form();">
        </form>
</div>
<div id="lostpass" class="tabset_content">
	<h2 class="tabset_label"></h2>
<form action="http://mortyk.org.ua/login.php?go=reset" method="post">
<input type='hidden' name='url' value='http://mortyk.org.ua//blog/tabtastic.css'/>
Введите Ваш E-mail:<br/>
<input type="text" name="email" value="" size="20"><br/>
<div style="margin-top:4px;"><img id="lsiimage" style="border: 1px solid #000; margin-right:2px" src="http://mortyk.org.ua/captcha/securimage_show.php?sid=e979958bf22ee4cc09e3957df3d5177f" alt="CAPTCHA Image"><a href="#" title="Сменить картинку" onclick="document.getElementById('lsiimage').src = 'http://mortyk.org.ua/captcha/securimage_show.php?sid=' + Math.random(); this.blur(); return false"><img width='20' height='20' src="captcha/images/refresh.png" alt="Сменить картинку" onclick="this.blur()"></a></div>Введите код с картинки <input type="text" name="captcha" size="12" maxlength="8" /><br>
<input type="submit" value="Отправить">
</form>
    </div>
</div><div class='chlang'>
        <b>Change language</b><br/>
        <a class="google_translate" href="#" rel="nofollow" title="English" onclick="window.open('http://translate.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=id%cen&ru=en&sl=ru&tl=en');"><img src='http://mortyk.org.ua/web/img/eng.gif' alt='English'></a>
        <a class="google_translate" href="#" rel="nofollow" title="German" onclick="window.open('http://translate.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=id%cen&ru=en&sl=ru&tl=de');"><img src='http://mortyk.org.ua/web/img/ger.gif' alt='German'></a>
        <a class="google_translate" href="#" rel="nofollow" title="French" onclick="window.open('http://translate.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=id%cen&ru=en&sl=ru&tl=fr');"><img src='http://mortyk.org.ua/web/img/fr.gif' alt='French'></a>
    </div>
    <a title="Назад" href="#" onClick="javascript:history.go(-1)"><img class="h_btn_left" src="http://mortyk.org.ua/web/img/spacer.gif" alt="Назад"></a>
    <a title="Вперёд" href="#" onClick="javascript:history.go(1)"><img class="h_btn_right" src="http://mortyk.org.ua/web/img/spacer.gif" alt="Вперёд"></a>

    <div id="speedbar">&#9658;&nbsp;Блог обо всём :)
    </div>

    <div id="search_form">
        <form action="http://mortyk.org.ua/poisk.php" method="GET"><input class='search_inp' name="s" value="Поиск по сайту..." onBlur="if(this.value=='') this.value='Поиск по сайту...';" onFocus="if(this.value=='Поиск по сайту...') this.value='';" type="text" /><input type="image" class="search_btn" src="http://mortyk.org.ua/web/img/spacer.gif" onsubmit="submit-form();">
        </form>
    </div>

    <div id="menu">
    <ul>
        <li><img class="menu_icons" src="http://mortyk.org.ua/web/img/ico_home.png" alt="Главная"/><a href="http://mortyk.org.ua">Главная</a></li>
        <li><img class="menu_icons" src="http://mortyk.org.ua/web/img/ico_gb.png" alt="Гостевая"/><a href="http://mortyk.org.ua/gb">Гостевая (29)</a></li>
        <li><img class="menu_icons" src="http://mortyk.org.ua/web/img/ico_agree.png" alt="Соглашение"/><a href="http://mortyk.org.ua/s.php">Соглашение</a></li>
        <li><img class="menu_icons" src="http://mortyk.org.ua/web/img/ico_cont.png" alt="Контакты"/><a href="http://mortyk.org.ua/s.php?mod=cont">Контакты</a></li>
        <li><img class="menu_icons" src="http://mortyk.org.ua/web/img/ico_rss.png" alt="RSS"/><a href="http://mortyk.org.ua/rss/rss.php">RSS</a></li>
    </ul>
    </div>
</div>

<div id="content">
<table class="main" width="984px" border="0" cellpadding="0" cellspacing="0">
<tr><td class="sidebar" width="25%">
    <div class="darker-bg">
            <!--Блок1-->
            <div class="side_title">Категории</div>
            <ul class="categories" align="left"><li><a href="http://mortyk.org.ua/cat/21">Игры</a> (13)</li><li><a href="http://mortyk.org.ua/cat/20">Кино</a> (18)</li><li><a href="http://mortyk.org.ua/cat/19">Flash&#039;ки</a> (15)</li><li><a href="http://mortyk.org.ua/cat/18">Картинки/Фото</a> (22)</li><li><a href="http://mortyk.org.ua/cat/17">Видео/Аудио</a> (81)</li><li><a href="http://mortyk.org.ua/cat/16">Сайты</a> (10)</li><li><a href="http://mortyk.org.ua/cat/15">Другое</a> (17)</li><li><a href="http://mortyk.org.ua/cat/13">Люди/События</a> (5)</li><li><a href="http://mortyk.org.ua/cat/12">Комп</a> (5)</li><li><a href="http://mortyk.org.ua/cat/11">Сайтостроение</a> (2)</li><li>Всего постов <b>188</b></li>
            </ul>
            <!--#Блок1-->

            <!--Блок2-->
            <div class="side_title">Популярные посты</div>
            <ul class="categories" align="left"><li><a href="http://mortyk.org.ua/blog/260">Что делать если не пускает в твиттер? Ответ здесь! (актуально для абонентов "Укртелеком")</a></li><li><a href="http://mortyk.org.ua/blog/258">Взломщик игр Alawar 2012</a></li><li><a href="http://mortyk.org.ua/blog/256">Мошенники ищут лохов. Как не попасться?!</a></li><li><a href="http://mortyk.org.ua/blog/255">Spooky Night Escape / Побег в жуткой ночи</a></li><li><a href="http://mortyk.org.ua/blog/247">Охотники за Снарком: На всех парах / Snark busters: All revved up</a></li><li><a href="http://mortyk.org.ua/blog/246">Охотники за Снарком: Добро пожаловать в клуб! / Snark busters: Welcome to the club!</a></li><li><a href="http://mortyk.org.ua/blog/241">В "Вконтаке" можно будет совершить виртуальный суицид :D</a></li><li><a href="http://mortyk.org.ua/blog/238">Mr. Freeman Part 9 "И чо?"</a></li><li><a href="http://mortyk.org.ua/blog/233">Новый +100500 #37 "Мы их выебали"</a></li><li><a href="http://mortyk.org.ua/blog/228">"Super Star KZ" фр фр фр фристайло :D</a></li></ul>
            <!--#Блок2-->

            <!--Блок3-->
            <div class="side_title">Последние комментарии</div>
            <ul class="categories" align="left"><li><strong>Morty</strong> к <a href="http://mortyk.org.ua/blog/268">BioShock Infinite</a></li><li><strong>Pikardo</strong> к <a href="http://mortyk.org.ua/blog/268">BioShock Infinite</a></li><li><strong>Анна</strong> к <a href="http://mortyk.org.ua/blog/258">Взломщик игр Alawar 2012</a></li><li><strong>Morty</strong> к <a href="http://mortyk.org.ua/blog/258">Взломщик игр Alawar 2012</a></li><li><strong>Morty</strong> к <a href="http://mortyk.org.ua/blog/256">Мошенники ищут лохов. Как не попасться?!</a></li><li><strong>Саша</strong> к <a href="http://mortyk.org.ua/blog/258">Взломщик игр Alawar 2012</a></li><li><strong>алекс.</strong> к <a href="http://mortyk.org.ua/blog/258">Взломщик игр Alawar 2012</a></li><li><strong>Poma</strong> к <a href="http://mortyk.org.ua/blog/256">Мошенники ищут лохов. Как не попасться?!</a></li><li><strong>Ольга</strong> к <a href="http://mortyk.org.ua/blog/258">Взломщик игр Alawar 2012</a></li><li><strong>герой</strong> к <a href="http://mortyk.org.ua/blog/258">Взломщик игр Alawar 2012</a></li></ul>
            <!--#Блок3-->
            <hr/>
            <!--Блок4-->
            <ul class="categories" align="left">
                <li><a href="http://bit.ly/EvroNetwork" target="_blank">Хостинг "EvroNetwork"</a></li>
                <li><a href="/stat.php">Статистика блога</a></li>
            </ul>
            <!--#Блок4-->
            <hr/>
            <!--Блок 5-->                <!--LiveInternet counter--><script type="text/javascript"><!--
                    document.write("<a href='http://www.liveinternet.ru/click' "+
                    "target=_blank><img src='//counter.yadro.ru/hit?t42.11;r"+
                    escape(document.referrer)+((typeof(screen)=="undefined")?"":
                    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                    ";h"+escape(document.title.substring(0,80))+";"+Math.random()+
                    "' alt='' title='LiveInternet' "+
                    "border='0' width='31' height='31'><\/a>")
                    //-->
                    </script>
                <!--/LiveInternet-->
           <!--#Блок 5-->
    </div>
<div class="paging" title=""></div>
</td><td class="main" width="75%"><div class="err">Страница которую вы запросили либо отсутсвует, либо недоступна!<br/>Попробуйте позже!</div><div class="navi" style="text-align:left !important; padding-left:7px; margin-bottom:7px;"><b>Сортировка</b>&nbsp;<span class="navi_btn_current">По возрастанию</span> <span class="navi_btn"><a href="http://mortyk.org.ua?s=1">По убыванию</a></span></div>
<script type="text/javascript">
    hs.registerOverlay({
    html: '<div class="closebutton" onclick="return hs.close(this)" title="Закрыть"></div>',
    position: 'top right',
    fade: 1 // fading the semi-transparent overlay looks bad in IE
    });
    hs.graphicsDir = 'hs/graphics/';
    hs.wrapperClassName = 'borderless';
</script>
<div class="post_short">
    <div class="post_short_head">
        <div class="post_short_head_title"><a class="name" href="http://mortyk.org.ua/blog/271">Подборка красивых HD фото</a></div><hr/>
        <b>Опубликовано</b> 06.05.2012 19:31 <b>в категории</b> <a href="http://mortyk.org.ua/cat/18">Картинки/Фото</a> |&nbsp;<b>Просмотров</b> 10 | <a href="http://mortyk.org.ua/blog/271#comments"><strong>Комментарии</strong></a> (0)</div>
    <div class="post_short_text">[img]http://mortyk.org.ua/files/hd&...
        <div class="more_btn"><a href="http://mortyk.org.ua/blog/271">Далее</a></div>
    </div>
</div>
<script type="text/javascript">
    hs.registerOverlay({
    html: '<div class="closebutton" onclick="return hs.close(this)" title="Закрыть"></div>',
    position: 'top right',
    fade: 1 // fading the semi-transparent overlay looks bad in IE
    });
    hs.graphicsDir = 'hs/graphics/';
    hs.wrapperClassName = 'borderless';
</script>
<div class="post_short">
    <div class="post_short_head">
        <div class="post_short_head_title"><a class="name" href="http://mortyk.org.ua/blog/270">Прикольные видео с классными спецэффектами</a></div><hr/>
        <b>Опубликовано</b> 26.04.2012 06:34 <b>в категории</b> <a href="http://mortyk.org.ua/cat/17">Видео/Аудио</a> |&nbsp;<b>Просмотров</b> 22 | <a href="http://mortyk.org.ua/blog/270#comments"><strong>Комментарии</strong></a> (0)</div>
    <div class="post_short_text">Случайно наткнулся на одно видео, и решил посмотрел другие ролики автора.
Много слов здесь будут лишними, поэтому просто смотрите <img src="/smilies/02.gif" alt="=)"/>
[tube]iJhZEQ-K8&...
        <div class="more_btn"><a href="http://mortyk.org.ua/blog/270">Далее</a></div>
    </div>
</div>
<script type="text/javascript">
    hs.registerOverlay({
    html: '<div class="closebutton" onclick="return hs.close(this)" title="Закрыть"></div>',
    position: 'top right',
    fade: 1 // fading the semi-transparent overlay looks bad in IE
    });
    hs.graphicsDir = 'hs/graphics/';
    hs.wrapperClassName = 'borderless';
</script>
<div class="post_short">
    <div class="post_short_head">
        <div class="post_short_head_title"><a class="name" href="http://mortyk.org.ua/blog/269">&quot;Рассказать друзьям&quot; - Как познакомиться с девушкой?</a></div><hr/>
        <b>Опубликовано</b> 25.04.2012 12:18 <b>в категории</b> <a href="http://mortyk.org.ua/cat/17">Видео/Аудио</a> |&nbsp;<b>Просмотров</b> 11 | <a href="http://mortyk.org.ua/blog/269#comments"><strong>Комментарии</strong></a> (0)</div>
    <div class="post_short_text"><center><iframe title="YouTube video player" class="youtube-player" type="text/html" width="700" height="360" src="http://www.youtube.com/embed/PO-7k7HXCxI" frameborder="0"></iframe></center>...
        <div class="more_btn"><a href="http://mortyk.org.ua/blog/269">Далее</a></div>
    </div>
</div>
<script type="text/javascript">
    hs.registerOverlay({
    html: '<div class="closebutton" onclick="return hs.close(this)" title="Закрыть"></div>',
    position: 'top right',
    fade: 1 // fading the semi-transparent overlay looks bad in IE
    });
    hs.graphicsDir = 'hs/graphics/';
    hs.wrapperClassName = 'borderless';
</script>
<div class="post_short">
    <div class="post_short_head">
        <div class="post_short_head_title"><a class="name" href="http://mortyk.org.ua/blog/268">BioShock Infinite</a></div><hr/>
        <b>Опубликовано</b> 24.04.2012 11:07 <b>в категории</b> <a href="http://mortyk.org.ua/cat/21">Игры</a> |&nbsp;<b>Просмотров</b> 25 | <a href="http://mortyk.org.ua/blog/268#comments"><strong>Комментарии</strong></a> (0)</div>
    <div class="post_short_text">Разглдывал картинки на одном сайте и увидел фото девушки, сродни косплея, а сверху вот такая картинка
<a href="http://mortyk.org.ua/files/bioshock-infinite.jpg" class="highslide" onclick="return hs.expand(this)"><img src="http://mortyk.org.ua/files/bioshock-infinite.jpg" alt="Изображение" title="Жмакни чтоб увеличить" class="post_img"/></a>
Не знаю почему но мне захотелось узнать, что это за биошок.
Ввёл в гугле, оказалось это игра в жанре FPS с элементами RPG. Но википедия &quot;забыла&quot; упомянуть, что игра выполнена в стиле стимпанка. Когда я увидел трейлер, я был покорён так как являюсь...
        <div class="more_btn"><a href="http://mortyk.org.ua/blog/268">Далее</a></div>
    </div>
</div>
<script type="text/javascript">
    hs.registerOverlay({
    html: '<div class="closebutton" onclick="return hs.close(this)" title="Закрыть"></div>',
    position: 'top right',
    fade: 1 // fading the semi-transparent overlay looks bad in IE
    });
    hs.graphicsDir = 'hs/graphics/';
    hs.wrapperClassName = 'borderless';
</script>
<div class="post_short">
    <div class="post_short_head">
        <div class="post_short_head_title"><a class="name" href="http://mortyk.org.ua/blog/267">Рассказать друзьям про первый раз</a></div><hr/>
        <b>Опубликовано</b> 17.04.2012 05:41 <b>в категории</b> <a href="http://mortyk.org.ua/cat/17">Видео/Аудио</a> |&nbsp;<b>Просмотров</b> 23 | <a href="http://mortyk.org.ua/blog/267#comments"><strong>Комментарии</strong></a> (0)</div>
    <div class="post_short_text"><center><iframe title="YouTube video player" class="youtube-player" type="text/html" width="700" height="360" src="http://www.youtube.com/embed/B7ixOHtwmdE" frameborder="0"></iframe></center>...
        <div class="more_btn"><a href="http://mortyk.org.ua/blog/267">Далее</a></div>
    </div>
</div><div class="navi"><span class="navi_btn_current"><b>1</b></span><span class="navi_btn"><a href="http://mortyk.org.ua/2">2</a></span><span class="navi_btn"><a href="http://mortyk.org.ua/3">3</a></span> ... <span class="navi_btn"><a href="http://mortyk.org.ua/38">38</a></span><span class="navi_btn"><a href="http://mortyk.org.ua/2">&raquo;</a></span></div>
</td>
</tr>
</table>

<div id="footer">
    <p>2011 - 2012 &copy; <a href="http://mortyk.org.ua">MORTYK.ORG.UA</a></p>
</div>
</div>
</body></html>