body {
	font-family: Palatino Linotype;
}
/*
td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
*/

.style1 {
		font-family: Palatino Linotype;
        font-weight: bold;
        font-size: 20px;
		color: #000000;
}
.style2 {
        font-family: Palatino Linotype;
        font-weight: bold;
        font-size: 16px;
}
.style3 {
        font-family: Palatino Linotype;
        font-weight: bold;
        font-size: 14px;
		color: #E6E6FF;
}
.style4 {
		font-family: Palatino Linotype;
        font-weight: bold;
		font-size: 16px;
		color: #6664CA;
}
.style5 {
		font-family: Palatino Linotype;
        font-weight: bold;
		font-style: italic;
		font-size: 16px;
		color: #993300;
}
.style6{
		font-family: Palatino Linotype;
        font-weight: bold;
} 
.style7 {
		font-size: 12px;
		color: #FFFFFF;}

.style8 {font-family: Palatino Linotype; font-size: 18px; font-weight: bold; color: #6664CA; }
.style9 {
	color: #000000;
	font-size: 13px;
}
.style10 {
	color: #666666;
	font-size: 13px;
}
.style13 {
	font-size: 17px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Palatino Linotype;
}
.style24 {	font-size: 14px;
	color: #6664CA;
	font-family: Palatino Linotype;
}
.style23 {	font-size: 18px;
	color: #6664CA;
}
.style16 {
	font-family: Palatino Linotype;
	font-size: 16px;
	font-weight: bold;
}
.lib {
	font-family: Palatino Linotype;
	font-size: 16px;
	font-weight: bold;
	color:#000000
}
