/* Common */
html, body {height: 100%; margin: 0; padding: 0;}
body {background: #fff; font: normal 100% Arial, sans-serif; color: #000; text-align: center;}
img, table {border: 0;}
table {border-collapse: collapse;}
td {margin: 0; padding: 0; vertical-align: top;}
td, th, p, div {text-align: left;}
a {color: #0857a6; text-decoration: underline;}
a:hover {color: #f26d00; text-decoration: none;}
form, h1, h2, h3, h4 {margin: 0;}
h1, h2, h3, h4 {font-family: arial, sans-serif; color: #003073;}
h1 a, h2 a, h3 a, h4 a {color: #0857a6;}
h1 {font-size: 100%;}
h2 {font-size: 90%;}
h3 {font-size: 80%;}
h4 {font-size: 75%;}
a.serv70, a.serv95 {color: #666666; font-family: Tahoma, sans-serif; font-size: 70%;}
a.serv95 {font-size: 95% !important;}
a.serv70:hover, a.serv95:hover {color: #F26D00;}
a.dasha {text-decoration: none; border-bottom: 1px #0857a6 dashed;}
a.dasha:hover {border-bottom: 1px #fff dashed;}
a.dashag {text-decoration: none; border-bottom: 1px #666666 dashed;}
a.dashag:hover {border-bottom: 1px #F26D00 dashed; color: #F26D00;}
p {margin: 0 0 8px 0; padding: 0;}

/* Total */
.page_block {width: 96%; min-width: 760px; margin: 0 auto;}
.cross_piece {width: 880px; height: 1px; line-height: 1px; font-size: 1px;}

/* Top Banner */
#TopBanner {margin: 9px 0 9px 0; text-align: center; min-width: 880px;}
#TopBanner .cross_piece {width: 880px;}

/* Header */
#HeadCnt {background: #00468c /*url('/img/4years-logo.gif') 0px 0px no-repeat;*/}
#HeadCnt.y5 {background: #00468c url('/img/5years-logo.gif') 0px 0px no-repeat;}
#Blueheader .first .y5 {padding: 14px 0 24px;}
#Blueheader {position: relative; z-index: 1; min-width: 880px; background: url(/img/f.gif) left top no-repeat; color: #fff;}
#Blueheader .cross_piece {width: 940px; height: 1px;}
#Blueheader a {color: #fff; text-decoration: underline;}
#Blueheader a:hover {color: #fff; text-decoration: none;}
#Blueheader div {position: relative; z-index: 2; background: url(/img/f.gif) left bottom no-repeat;}
#Blueheader div div {position: relative; z-index: 3; background: url(/img/f.gif) right top no-repeat;}
#Blueheader div div div {position: relative; z-index: 4; background: url(/img/f.gif) right bottom no-repeat;}
#Blueheader div div div div {position: relative; z-index: auto; background: none;}
#Blueheader .Blueheader {width: 100%; position: relative; /*background: url('/img/bg_head_14r.gif') right 2px no-repeat*/;}
#Blueheader .first {width: 240px; padding: 19px 0;}
#Blueheader .first div {width: 225px; font-size: 1%; line-height: 1%; margin-left: 15px;}
#Blueheader .first img {float: left;}
#Blueheader .second {width: 100%; vertical-align: middle;}
#Blueheader .third {width: 240px; color: #fff; padding: 0; vertical-align: top;}
#Blueheader div.cross {position: relative; z-index: 1; width: 240px; height: 1px; font-size: 1%; line-height: 1%;}
#Blueheader .cross {width: 20px; padding: 0;}
#Blueheader .cross div {position: relative; z-index: 1; width: 20px; height: 1px; font-size: 1%; line-height: 1%;}
.unicredit-head {background: #e31818 url('/img/bg-unicredit.gif') 0 0 repeat-x !important;}

/* Footer */
#FootCnt {background: #00468c /*url('/img/bg-unicredit.gif') 0 -20px repeat-x*/; margin-bottom: 15px; height: 24px;}
#Copyright {position: relative; z-index: 1; width: 100%; min-width: 880px; background: url(/img/f.gif) left top no-repeat; margin-bottom: -1px;}
#Copyright div.first {position: relative; z-index: 2; width: 100%; background: url(/img/f.gif) left bottom no-repeat;}
#Copyright div.second {position: relative; z-index: 3; width: 100%; background: url(/img/f.gif) right top no-repeat;}
#Copyright div.third {position: relative; z-index: 4; width: 100%; background: url(/img/f.gif) right bottom no-repeat;}
#Copyright div.fourth {padding: 5px 15px 4px 15px;}
#Copyright table {width: 100%;}
#Copyright .mail div {width: 250px; height: 1px; line-height: 1px; font-size: 1px;}
#Copyright .navigation {text-align: right;}
#Copyright .navigation div {width: 480px; height: 1px; line-height: 1px; font-size: 1px;}
#Copyright .mail, #Copyright .navigation {font-size: 70%; color: #fff;}
#Copyright .mail a, #Copyright .navigation a {color: #fff;}
#Copyright .mail a:hover, #Copyright .navigation a:hover {color: #cce8ff;}
#Copyright .cross_piece {width: 940px;}
.unicredit-foot {background: #e31818 url('/img/bg-unicredit.gif') 0 -20px repeat-x !important;}
 
/* Stat header */
#Stats {position: relative; z-index: 1; margin-bottom: 9px; background: #e5ecf3 url(http://otvet.mail.ru/img/f.gif) left top no-repeat; color: #00468c;} 
#Stats div {position: relative; z-index: 2; background: url(http://otvet.mail.ru/img/f.gif) left bottom no-repeat;}
#Stats div div {position: relative; z-index: 3; background: url(http://otvet.mail.ru/img/f.gif) right top no-repeat;}
#Stats div div div {position: relative; z-index: 4; background: url(http://otvet.mail.ru/img/f.gif) right bottom no-repeat;}
#Stats div div div div {position: relative; z-index: auto; margin: 0 11px;}
#Stats .cross_piece {width: 880px; height: 1px;}
#Stats table {width: 100%; font-size: 70%; font-family: Tahoma;}
#Stats td {padding: 4px 5px 4px 4px; text-align: center; background: url(http://otvet.mail.ru/img/bg_stat.gif) right center no-repeat; vertical-align: middle !important; white-space: nowrap;}
#Stats td.frst, #Stats td.last, #Stats td.nobg {background: none;}
#Stats td.frst {text-align: left; font-size: 120%;}
#Stats td.last {text-align: right;}
#Stats td.frst div {padding: 1px 0 2px 35px; margin: -1px 0 -1px 0; background: url(http://otvet.mail.ru/img/ico_stats.gif) left top no-repeat; font-weight: bold;}
#Stats a, #Stats span {font-weight: bold;}
#Stats td.last .rate-cont {text-align: center; margin: 0 !important;}
#Stats td.last .rate-cont div {background: #008aff; text-align: center; margin: 0;}
#Stats td.last .lbl-line {margin: 0 1px 0 1px !important;}
#Stats td.last .link {padding: 1px 5px 2px 5px; margin: -1px 0 -1px 0;}
#Stats td.last a {color: #fff;}

/* Search*/
.Search {width: 100%; font-family: Tahoma, sans-serif;;}
.Search td {vertical-align: bottom; color: #fff;}
.Search input {font-size: 75%; font-family: Arial, sans-serif; margin-top: 3px;}
.Search img {float: right; margin: 0 0 0 0;}

/* Logout */
.LogOut {float: right; margin-right: 12px; text-align: right; font-size: 70%; font-family: Tahoma, sans-serif;}
.LogOut input {font-size: 95%; font-family: Tahoma, sans-serif; vertical-align: middle; margin-left: 5px;}
#f2_loginform_new {display:none; position: relative; right: 0; top: -100px; z-index:100; width: 230px; float: right; clear: both !important; margin-bottom: -200px;}

/* Authorisation */
#Auth {background: #00468c; padding: 12px 16px 5px 16px; color: #fff;}
#Auth h2 {margin: 0; color: #fff;}
#Auth table {width: 100%; font-size: 75%; margin: 0 0 5px 0;}
#Auth A {color: #fff; text-decoration: underline;}
#Auth A:hover {text-decoration: none;}
#Auth INPUT, SELECT {font-family: Arial;}
#Auth INPUT.login {width: 100%;}
#Auth INPUT.loginemp {width: 100%;}
#Auth INPUT.password {width: 100%;}
#Auth SELECT {width: 100%;}
#Auth TD.input {padding: 3px 0 14px 0; width: 62%;}
#Auth TD.select {padding: 3px 0 15px 0; text-align: right; width: 38%; vertical-align: bottom;}
#Auth TD.check {font-size: 95%;}
#Auth TD.submit {text-align: right;}

/* Userblock */
#UserBlock {background: #fff2d8; padding: 12px 10px;}
.UserDet {width: 100%; font-size: 75%;}
.UserDet td.av {width: 100px; height: 100px; vertical-align: middle !important; text-align: center;}
.UserDet td.ics {padding-top: 6px;}
.UserDet td.ics div {margin: 0 0 5px 7px;}
.UserDet td.ics div img {margin: 0 5px -3px 0;}
.UserDet td.stat {padding: 3px 0 0 0 !important;}
.UserDet td.stat , .UserDet td.stat div {font-family: Tahoma, sans-serif; font-size: 95%; padding: 0 0 0 0; text-align: center;}
.UserDet td.av .awards {background: #ffe0a9; padding: 4px 5px 8px 5px; text-align: center; //margin-top: -3px; height: 14px;}
.UserDet td.av .awards img {border: none !important;}
.UserDet td.banned .awards-ban {background: #dcdcdc; padding: 4px 5px 8px 5px; text-align: center; //margin-top: -3px; height: 14px;}
.UserDet td.banned .awards-ban img {border: none !important;}
#UserBlock {background: #fff2d8; padding: 12px 10px;}
.UserDet {width: 100%; font-size: 75%;}
.UserDet td.av {width: 100px; height: 100px; vertical-align: middle !important; text-align: center;}
.UserDet td.av table {width: auto; height: auto; background: #ffe0a9;}
.UserDet td.av table td.ava {width: 90px; height: 90px; padding: 5px 5px 0 5px; background: #ffe0a9; text-align: center; vertical-align: middle !important;}
.UserDet td.banned table {background: #dcdcdc;}
.UserDet td.banned .awards {background: #dcdcdc;}
.UserDet td.av table td {text-align: center;}
.UserDet td.av table td.awards img {margin-top: 5px;}
.UserDet td.av table.banned {width: auto; height: auto; background: #dcdcdc !important;}
.UserDet td.banned table td.ava {width: 90px; height: 90px; padding: 5px 5px 0 5px; background: #dcdcdc !important; text-align: center; vertical-align: middle !important;}
.UserDet td.data {padding-left: 10px;}
.UserDet td.data .stat {line-height: 135%;}
#UserBlock .friends {font-size: 75%; margin-bottom: 10px;}
#UserBlock .friends div {margin-bottom: 3px;}
#UserBlock .friends a {padding-left: 19px;}
#UserBlock .friends a.fr {background: url(/img/ico_u_frnd.gif) left top no-repeat;}
#UserBlock .friends a.ans {background: url(/img/ico_friend_ans.gif) left top no-repeat;}
#UserBlock .friends a.ask {background: url(/img/ico_friend_ask.gif) left top no-repeat;}
#UserBlock .ics {margin-bottom: 10px; border: solid 1px #ffe0a9; background: #fff5e2; padding: 9px 12px 4px 12px; font-size: 75%;}
#UserBlock .ics table {width: 100%;}
#UserBlock .ics td {width: 50%;}
#UserBlock .ics div {margin-bottom: 5px;}
#UserBlock .ics a {padding-left: 20px;}
#UserBlock .ics a.my {background: url(/img/ico_u_my.gif) left top no-repeat;}
#UserBlock .ics a.blog {background: url(/img/ico_u_blog.gif) left top no-repeat;}
#UserBlock .ics a.foto {background: url(/img/ico_u_foto.gif) left top no-repeat;}
#UserBlock .ics a.vid {background: url(/img/ico_u_vid.gif) left top no-repeat;}
#UserBlock a.chng {background: url(/img/ico_sets.gif) left top no-repeat; padding-left: 20px;}
#UserBlock a.addfr {background: url(/img/ico_add_fr.gif) left top no-repeat; padding-left: 20px;}
#UserBlock a.delfr {background: url(/img/ico_minus_fr.gif) left top no-repeat; padding-left: 20px;}
.UserDet td.stat , .UserDet td.stat div {font-family: Tahoma, sans-serif; font-size: 95%; padding: 0 0 0 0; text-align: center;}
a.plusfr, a.minusfr, a.invfr, span.invfr {padding: 0 0 3px 19px; background: url(/img/ico_plus_fr.gif) left top no-repeat;}
a.minusfr {background: url(/img/ico_minus_fr.gif) left top no-repeat;}
a.plusfr:hover, a.minusfr:hover, a.invfr:hover {color:#f26d00;}
a.invfr, span.invfr {background: url(/img/ico_my_friends.gif) left top no-repeat; color: #666666;}
a.plusfr-head, a.minusfr-head {padding: 0 0 3px 18px; background: url(/img/ico_plus_fr.gif) left top no-repeat; font-size: 95%; font-family: Tahoma; color: #666666;}
a.minusfr-head {background: url(/img/ico_minus_fr.gif) left top no-repeat;}
a.plusfr-head:hover, a.minusfr-head:hover {color:#f26d00;}
a.sendgift {padding: 2px 0 3px 19px; background: url(/img/ico_sendgift.gif) 0 0 no-repeat; font-size: 95%; font-family: Tahoma; color: #666666;}
a.sendgift:hover {color:#f26d00;}

/* Primary table */
#ContentTable {width: 96%; margin: 0 auto 15px auto;}
#ContentTable td {vertical-align: top;}
#ContentTable .left_block, #ContentTable .right_block {width: 240px; padding-bottom: 20px;}
#ContentTable .left_block .banner {float: left; width: 100%; margin-bottom: 10px; text-align: center;}
#ContentTable .left_block .cross_piece, #ContentTable .right_block .cross_piece {position: relative; z-index: 1; width: 240px; height: 1px; font-size: 1%; line-height: 1%;}
#ContentTable .interval {width: 20px;}
#ContentTable .interval .cross_piece {position: relative; z-index: 1; width: 20px; height: 1px; font-size: 1%; line-height: 1%;}
#ContentTable .content_block, #ContentTable .content_block_2, #ContentTable .content_block_3 {width: 100%; padding-bottom: 20px;}
#ContentTable .content_block .cross_piece {position: relative; z-index: 1; width: 880px; height: 1px; font-size: 1%; line-height: 1%; }
#ContentTable .content_block_2 .cross_piece {position: relative; z-index: 1; width: 620px; height: 1px; font-size: 1%; line-height: 1%; }
#ContentTable .content_block_3 .cross_piece {position: relative; z-index: 1; width: 420px; height: 1px; font-size: 1%; line-height: 1%;}

/* Stuff */
  /* Line */
.line {height: 1px; margin: 0; border: 0; background: #ced0d9;}

  /* Pricks */
.blue-l-t, .blue-l-b {height: 1px; margin: 0 1px 0 1px; background: #00468c;}
.blue-l-b {margin-bottom: 10px;}
.yell-l-t, .yell-l-b {height: 1px; margin: 0 1px 0 1px; background: #fff2d8;}
.yell-l-b {margin-bottom: 10px;}

  /* List */
UL, OL {margin: 0; padding: 0;}
UL LI {list-style: none; padding: 0 0 0 12px; background: url(../img/list-ul.gif) 0px 7px no-repeat; line-height: 153%;}
UL.txt LI {background: url(../img/list-ul.gif) 0px 9px no-repeat;}
UL UL {margin: 0;}
UL UL LI {list-style: none; padding-left: 12px; background: url(../img/list-ul-ul.gif) 2px 7px no-repeat;}
/* *** */
OL {margin: 0 0 0 30px; padding: 0;}
OL UL {margin: 0 0 0 30px; padding: 0;}
OL LI {margin: 0 0 5px 0; padding: 0;}
OL LI UL LI {list-style: none; padding: 0 0 0 12px; background: url(../img/list-ul.gif) 0px 9px no-repeat !important; line-height: 153%;}
/* *** */
UL.no-bullit, UL.no-bullit-sm {margin: 0; padding: 0;}
UL.no-bullit LI {list-style: none; padding: 0 0 0 0; background: none; line-height: 160%;}
UL.no-bullit-sm LI {list-style: none; padding: 0 0 0 0; background: none; line-height: 175%; font-family: Tahoma, sans-serif; font-size: 70%;}
UL.no-bullit-sm LI UL LI {font-size: 100% !important;}
UL.no-bullit LI UL {margin: 0 0 0 35px;}


  /* Blue Bordered Block */
.Frame {position: relative; z-index: 1; float: left; width: 100%; margin-bottom: 10px; background: url(../img/c.gif) left top repeat-y;}
.Frame div {position: relative; z-index: 2; float: left; width: 100%; background: url(../img/c.gif) left top repeat-x;}
.Frame div div {position: relative; z-index: 3; float: left; width: 100%; background: url(../img/c.gif) right bottom repeat-y;}
.Frame div div div {position: relative; z-index: 4; float: left; width: 100%; background: url(../img/c.gif) right bottom repeat-x;}
.Frame div div div div {position: relative; z-index: 5; float: left; width: 100%; background: url(../img/f.gif) left top no-repeat;}
.Frame div div div div div {position: relative; z-index: 6; float: left; width: 100%; background: url(../img/f.gif) right top no-repeat;}
.Frame div div div div div div {position: relative; z-index: 7; float: left; width: 100%; background: url(../img/f.gif) left bottom no-repeat;}
.Frame div div div div div div div {position: relative; z-index: 8; float: left; width: 100%; background: url(../img/f.gif) right bottom no-repeat;}
.Frame div div div div div div div div {position: relative; z-index: 9; float: none; width: auto; background: none; padding: 12px 16px;}
.Frame div div div div div div div div div {position: static; z-index: auto; float: none; padding: 0;}
  /* Orange Bordered Block */
.OrFrame {position: relative; z-index: 1; float: left; width: 100%; margin-bottom: 10px; background: url(../img/o.gif) left top repeat-y;}
.OrFrame div {position: relative; z-index: 2; float: left; width: 100%; background: url(../img/o.gif) left top repeat-x;}
.OrFrame div div {position: relative; z-index: 3; float: left; width: 100%; background: url(../img/o.gif) right bottom repeat-y;}
.OrFrame div div div {position: relative; z-index: 4; float: left; width: 100%; background: url(../img/o.gif) right bottom repeat-x;}
.OrFrame div div div div {position: relative; z-index: 5; float: left; width: 100%; background: url(../img/f.gif) left top no-repeat;}
.OrFrame div div div div div {position: relative; z-index: 6; float: left; width: 100%; background: url(../img/f.gif) right top no-repeat;}
.OrFrame div div div div div div {position: relative; z-index: 7; float: left; width: 100%; background: url(../img/f.gif) left bottom no-repeat;}
.OrFrame div div div div div div div {position: relative; z-index: 8; float: left; width: 100%; background: url(../img/f.gif) right bottom no-repeat;}
.OrFrame div div div div div div div div {position: relative; z-index: 9; float: none; width: auto; background: none; padding: 12px 16px;}
.OrFrame div div div div div div div div div {position: static; z-index: auto; float: none; padding: 0;}
.OrFrame h1 {color: #f26d00;}
  /* Gold Bordered Block */
.GoFrame {position: relative; z-index: 1; float: left; width: 100%; margin-bottom: 10px; background: url(../img/g.gif) left top repeat-y;}
.GoFrame div {position: relative; z-index: 2; float: left; width: 100%; background: url(../img/g.gif) left top repeat-x;}
.GoFrame div div {position: relative; z-index: 3; float: left; width: 100%; background: url(../img/g.gif) right bottom repeat-y;}
.GoFrame div div div {position: relative; z-index: 4; float: left; width: 100%; background: url(../img/g.gif) right bottom repeat-x;}
.GoFrame div div div div {position: relative; z-index: 5; float: left; width: 100%; background: url(../img/f.gif) left top no-repeat;}
.GoFrame div div div div div {position: relative; z-index: 6; float: left; width: 100%; background: url(../img/f.gif) right top no-repeat;}
.GoFrame div div div div div div {position: relative; z-index: 7; float: left; width: 100%; background: url(../img/f.gif) left bottom no-repeat;}
.GoFrame div div div div div div div {position: relative; z-index: 8; float: left; width: 100%; background: url(../img/f.gif) right bottom no-repeat;}
.GoFrame div div div div div div div div {position: relative; z-index: 9; float: none; width: auto; background: none; padding: 12px 16px;}
.GoFrame div div div div div div div div div {position: static; z-index: auto; float: none; padding: 0;}
.GoFrame h1 {color: #d90;}
  /* Framless Block */
.Frameless {padding: 20px;}
.Frameless div.sp {margin-left: -16px; font-size: 75%; line-height: 160%;}
.Frameless div.sp img {vertical-align: middle;}
  /* Table frame for old slots */
table.frame{margin-bottom:10px;border-collapse:separate;}
table.frame td.cor{height:1px;padding:0;background:#D9D9D9 url("http://img.mail.ru/1.gif") no-repeat;text-align:right}
table.frame td.cont{margin:0;padding:8px 14px 8px 14px;border-left:1px solid #D9D9D9;border-right:1px solid #D9D9D9}

  /* Bookmarks */
.Bookmarks, .BookL {height: 21px; background: url(../img/b.gif) left bottom repeat-x; padding-left: 4px; margin-top: 5px; white-space: nowrap; clear: both;}
.Bookmarks DIV, .BookL DIV {float: left; height: 21px; font-size: 70%; font-weight: bold; color: #393b40; font-family: Tahoma, sans-serif;}
.Bookmarks A, .BookL A {display: block; margin: 3px 8px 0 14px; font-weight: normal; float: left; white-space: nowrap;}
.Bookmarks SPAN, .BookL SPAN {display: block; margin: 3px 10px 0 18px; float: left; white-space: nowrap;}
.Bookmarks SUP {display: block; position: relative; left: -6px; top: 2px; float: left; white-space: nowrap;}


.Bookmarks .lna {width: 2px; background: url(../img/book_l_na.gif) left top no-repeat;}
.Bookmarks .la {width: 2px; background: url(../img/book_l_a.gif) left bottom no-repeat;}
.Bookmarks .a-na {width: 23px; background: url(../img/book_a_na.gif) left top no-repeat;}
.Bookmarks .na-a {width: 15px; background: url(../img/book_na_a.gif) left top no-repeat;}
.Bookmarks .na-na {width: 23px; background: url(../img/book_na_na.gif) left top no-repeat;}
.Bookmarks .rna {width: 22px; background: url(../img/book_r_na.gif) left 1px no-repeat;}
.Bookmarks .ra {width: 22px; background: url(../img/book_r_a.gif) left bottom no-repeat;}
.Bookmarks .na {background: #fff url(../img/book_na.gif) left top repeat-x;}
.Bookmarks .a {background: #e6e8ed url(../img/book_bg.gif) left top repeat-x;}
.BookL {background: url(../img/b_l.gif) left bottom repeat-x;}
.BookL .lna {width: 2px; background: url(../img/book_l_na_l.gif) left top no-repeat;}
.BookL .la {width: 2px; background: url(../img/book_l_a_l.gif) left bottom no-repeat;}
.BookL .a-na {width: 23px; background: url(../img/book_a_na_l.gif) left top no-repeat;}
.BookL .na-na {width: 23px; background: url(../img/book_na_na_l.gif) left top no-repeat;}
.BookL .na-a {width: 15px; background: url(../img/book_na_a_l.gif) left top no-repeat;}
.BookL .rna {width: 22px; background: url(../img/book_r_na_l.gif) left 1px no-repeat;}
.BookL .ra {width: 22px; background: url(../img/book_r_a_l.gif) left bottom no-repeat;}
.BookL .na {background: #fff url(../img/book_na_l.gif) left top repeat-x;}
.BookL .a {background: #ffe6d7 url(../img/book_bg_l.gif) left top repeat-x;}
.Bookmarks .a-nao {width: 23px; background: url(../img/book_a_na_o.gif) left top no-repeat;}
.Bookmarks .na-ao {width: 15px; background: url(../img/book_na_a_o.gif) left top no-repeat;}
.Bookmarks .na-nao {width: 23px; background: url(../img/book_na_na_o.gif) left top no-repeat;}
.Bookmarks .rnao, .Bookmarks .rao {width: 22px; background: url(../img/book_r_na_o.gif) left 1px no-repeat;}
.Bookmarks .nao {background: #eb8e1f url(../img/book_na_o.gif) left top repeat-x;}
.Bookmarks .ao {background: #eb8e1f url(../img/book_na_o.gif) left -1px repeat-x;}
.Bookmarks .a-naor {width: 24px; background: url(../img/book_a_na_red.gif) left top no-repeat;}
.Bookmarks .na-aor {width: 15px; background: url(../img/book_na_a_red.gif) left top no-repeat;}
.Bookmarks .rnaor, .Bookmarks .raor {width: 20px; background: url(../img/book_r_na_red.gif) -3px 1px no-repeat;}
.Bookmarks .naor {background: #f00 url(../img/book_na_red.gif) left top repeat-x;}
.Bookmarks .aor {background: #f00 url(../img/book_na_red.gif) left -1px repeat-x;}
.Bookmarks a.det {color: #fff;}

a.vip {color: #666666; font-weight: bold;}

/* Context Help */
div.help_div {position: absolute; z-index: 10000; width: 300px; font-size: 11px; font-family: Tahoma, sans-serif; background: #f5f5f5 url('/img/bg_help_corner.gif') no-repeat top left; padding: 3px 3px 8px 3px; color: #666666; border: 1px solid #135eaa;}
div.help_div div {padding: 5px 0 0 7px;}
div.help_div ul {margin: 5px 0 5px 17px; padding:0;}
a.help-call img {width: 11px; height: 11px; border: 0; background: #c4c4c4 url('/img/bg_help_call.gif') left top no-repeat;}
a.help-call:hover img {background: #0857a6 url('/img/bg_help_call.gif') right top no-repeat;}

/* User Flip Menu */
.usinfArrow {position: absolute; z-index: 10000; top: 0; left: 0; width: 190px; height: 150px; border: 1px solid #929292;}
.usinfArrowshort {position: absolute; z-index: 10000; top: 0; left: 0; width: 190px; height: 75px; border: 1px solid #929292;}

/* Sending Complaint */
div.spam_dial {position: absolute; border: 1px solid #000; background: #fff; width: 216px; height: auto; top:0; left:0; z-index: 100; font-family: Arial, sans-serif; padding: 0 5px 5px 5px; font-size: 75%;}
div.spam_dial div.text_body {padding: 5px;}

/* Path to top */
.ptt {font-size: 70%; color: #666666; font-family: Tahoma, sans-serif; margin-bottom: 20px;}
.ptt a {color: #666666;}
.ptt a:hover {color: #f26d00;}

/* Pager */
.Pager {clear: both; float: left; margin: 20px 0 0 2px; white-space: nowrap;}
.Pager a, .Pager span {display: block; float: left; font-size: 75%; border: 1px #e0e0e0 solid; font-weight: bold; padding: 2px 0 3px 0; width: 20px; text-align: center; margin-left: -1px;}
.Pager a:hover {background: #f2f2f2;}
.Pager a.word {border: none; font-weight: normal; width: auto; padding: 5px 0 4px 0;}
.Pager a.word:hover {background: none;}
.Pager a.arr-l, .Pager a.arr-r {color: #999; text-decoration: none; font-size: 75%;}
.Pager a.arr-l:hover, .Pager a.arr-r:hover {color: #f26d00;}
.Pager a.arr-l {margin: 0 6px 0 0 !important;} .Pager a.arr-r {margin: 0 0 0 5px !important;}

span.quiz {font-weight: bold; color: #fff; padding: 2px 4px; margin-right: 5px; background: #00468c;}
.serv70 {color: #666666; font-family: Tahoma, sans-serif; font-size: 70%;}
.serv95 {color: #666666; font-family: Tahoma, sans-serif; font-size: 95%;}

/* UnCommon Styles */
/* Project Features */
#ContentTableTop {width: 96%; margin: 0 auto 15px auto;}
#ContentTableTop td {vertical-align: top;}
#ContentTableTop .left_block, #ContentTableTop .right_block {width: 240px;}
#ContentTableTop .left_block .cross_piece, #ContentTableTop .right_block .cross_piece {position: relative; z-index: 1; width: 240px; height: 1px; font-size: 1%; line-height: 1%;}
#ContentTableTop .interval {width: 20px;}
#ContentTableTop .interval .cross_piece {position: relative; z-index: 1; width: 20px; height: 1px; font-size: 1%; line-height: 1%;}
#ContentTableTop .content_block_3 {width: 100%;}
#ContentTableTop .content_block_3 .cross_piece {position: relative; z-index: 1; width: 420px; height: 1px; font-size: 1%; line-height: 1%;}
#ContentTableTop td.Ask {background: #e8ffdb url(../img/bg_t_ask.gif) left top repeat-x;}
#ContentTableTop td.Answer {background: #e8f1ff url(../img/bg_t_answ.gif) left top repeat-x;}
#ContentTableTop td.Get {background: #fff6e5 url(../img/bg_t_get.gif) left top repeat-x;}
#ContentTableTop div#Ask, #ContentTableTop div#Answer, #ContentTableTop div#Get {margin: 0px 16px 7px 16px;}
.Short div#Ask, .Short div#Answer, .Short div#Get {margin: 0 16px 7px 16px !important;}
#ContentTableTop div.cut {width: 1px; height: 1px; background-color: #fff;}
#ContentTableTop div.l {float: left;}
#ContentTableTop div.r {float: right;}
#ContentTableTop td.Ask h1, #ContentTableTop td.Answer h1, #ContentTableTop td.Get h1 {font-size: 130%; margin-top: -5px;}
.Short td.Ask h1, .Short td.Answer h1, .Short td.Get h1 {font-size: 130%; padding: 18px 0 15px 0px;}
#ContentTableTop td.Ask h1, #ContentTableTop td.Ask h1 a {color: #390;}
#ContentTableTop td.Answer h1, #ContentTableTop td.Answer h1 a {color: #0857a6;}
#ContentTableTop td.Get h1, #ContentTableTop td.Get h1 a {color: #f26d00;}
#ContentTableTop td.Answer h1 {padding: 18px 0 10px 26px; background: url(../img/pic_answer.gif) left center no-repeat; margin-bottom: -7px;}
#ContentTableTop td.Ask h1 {padding: 18px 0 15px 44px; background: url(../img/pic_ask.gif) left center no-repeat; margin-bottom: -12px;}
#ContentTableTop td.Get h1 {padding: 18px 0 12px 37px; background: url(../img/pic_get.gif) left center no-repeat; margin-bottom: -6px;}

#ContentTableTop td.Ask h6, #ContentTableTop td.Answer h6, #ContentTableTop td.Get h6 {font-size: 130%; margin-top: -5px;}
.Short td.Ask h6, .Short td.Answer h6, .Short td.Get h6 {font-size: 130%; padding: 18px 0 15px 0px;}
#ContentTableTop td.Ask h6, #ContentTableTop td.Ask h6 a {color: #390;}
#ContentTableTop td.Answer h6, #ContentTableTop td.Answer h6 a {color: #0857a6;}
#ContentTableTop td.Get h6, #ContentTableTop td.Get h6 a {color: #f26d00;}
#ContentTableTop td.Answer h6 {padding: 18px 0 10px 26px; background: url(../img/pic_answer.gif) left center no-repeat; margin-bottom: -7px;}
#ContentTableTop td.Ask h6 {padding: 18px 0 15px 44px; background: url(../img/pic_ask.gif) left center no-repeat; margin-bottom: -12px;}
#ContentTableTop td.Get h6 {padding: 18px 0 12px 37px; background: url(../img/pic_get.gif) left center no-repeat; margin-bottom: -6px;}



#ContentTableTop td.Ask textarea, #ContentTableTop td.Ask input {font-family: Arial, sans-serif; font-size: 75%;}
#ContentTableTop td.Get img {border: 3px solid #ccc; margin-right: 12px; float: left;}

/* Leaders' List */
.LeadList {width: 100%; margin-bottom: -12px;}
.LeadList td {line-height: 120%; padding: 0 0 12px 0;}
.LeadList img.av {margin-right: 8px;}
.LeadList td.det {width: 100%; font-size: 75%;}
.LeadList td.det a {color: #f26d00; font-weight: bold;}
.LeadList div.det img {margin-right: 1px;}
.LeadList div.det div {margin-top: 3px;}
.LeadList div.det div a, .LeadList div.det div span {color: #666666; font-weight: normal; font-family: Tahoma, sans-serif; font-size: 95%;}
.LeadList div.det div span {margin-left: 5px;}
.Gold td.det a {color: #0857a6;}
.Gold td.num {font-weight: bold; text-align: right; font-size: 75%;}
.Gold div.det span, .Cloud div.det div span {display: block; margin-left: 14px; color: #d90; font-size: 95%; font-family: Tahoma, sans-serif;}
.Cloud div.det div span {color: #666666;}
a.allgold {width: 232px; height: 23px; padding-top: 7px; display: block; background: #d90 url(../img/bg_allgold.gif) left top no-repeat; text-align: center; font-weight: bold; color: #fff; font-size: 75%; margin-top: 10px;} a.allgold span {font-weight: normal;}
a.allgold:hover {color: #fff;}

/* Fog */
.Fog {line-height: 150%; text-transform: lowercase;}
.Fog a {white-space: nowrap;}
.Fog a.tg5 {color: #b5b5b5; font-size: 65%;}
.Fog a.tg4 {color: #b5b5b5; font-size: 70%;}
.Fog a.tg3 {color: #999; font-size: 75%;}
.Fog a.tg2 {color: #666666; font-size: 110%;}
.Fog a.tg1 {color: #333; font-size: 120%;}
.Fog a:hover {color: #f26d00;}

/* Day Leaders */
.DayLead {background: #fff url(../img/bg_lead.gif) top right no-repeat !important;}
.DayLead table {width: 100%; font-size: 75%;}
.DayLead td {padding-bottom: 12px;}
.DayLead td.av {text-align: right; white-space: nowrap;}
.DayLead td.av img {vertical-align: middle; text-align: right; text-align: right; margin: 0 4px 0 0;}
.DayLead td.det {width: 100%; line-height: 140%;}
.DayLead td.det a {font-weight: bold;}
.DayLead td.det img {vertical-align: middle; margin-right: 4px;}
.DayLead td.det div {font-size: 95%; display: block; margin-left: 17px; font-family: Tahoma, sans-serif;}

/* Questions */
.Questions {width: 100%; font-size: 75%; color: #666666; line-height: 140%; cellspacing: 0;}
.Questions td.pic, .Questions td.data {background: #fff; border-top-width: 1px; border-top-style: solid; border-color: #fff;}
.Questions td.av, .Questions td.star {border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px; border-color: #fff;} 
.Questions td.star {border-bottom: 1px solid #fff;}
.Questions td.star {border-bottom: 1px solid #fff;}
.Questions td.qvip {border-color: #acd3ef !important; background: #e1f2ff !important;}
.Questions td.row {height: 17px; background: none; padding: 0px;}
.Questions td.num {text-align: right; font-weight: bold;}
.Questions a {color: #666666;}
.Questions a:hover, .Questions a.subj:hover {color: #f26d00 !important;}
.Questions .av {text-align: center; vertical-align: middle !important; height: 45px !important; padding-bottom: 2px !important;}
.Questions .star {text-align: center; padding: 0px !important;}
.Questions td.data {width: 100%; padding-left: 10px;}
.Questions a.subj, .Questions span.subj {color: #0857a6; font-size: 120%; font-weight: bold;}
.Lead a.subj {color: #f26d00; font-size: 120%; font-weight: bold;}
.Questions span.subj {color: #272727;}
.Questions .add, .Questions .subs, .Questions div.Item div.det {font-size: 95%; font-family: Tahoma, sans-serif; margin-top: 3px;}
.Questions .add img {margin: -5px 4px 0px 0;}
.Questions .add span {margin: 0 0 0 10px;}
.Questions div.Item {margin-bottom: 15px;}
.Questions div.Item div.det {margin-left: 26px;}
.Questions div.Item div.det span {margin-right: 10px;}
.Questions div.Item div.det img {margin-right: 4px;}
.Questions div.an-comm, .Questions div.an-best, .Questions div.an-comm-f {margin-top: 7px; padding: 4px 0 5px 35px; color: #000; white-space: nowrap;}
.Questions div.an-comm a, .Questions div.an-best a {color: #0857a6;}
.Questions div.an-comm {background: #fff url(../img/bg_an_comm.gif) left center no-repeat;}
.Questions div.an-best {background: #ecffe1 url(../img/bg_an_best.gif) left center no-repeat;}
.Questions div.an-comm-f {background: #fff url(../img/bg_an_comm.gif) left top no-repeat;}
.Questions div.more {font-size: 110% !important; color: #000 !important; font-family: Arial !important; margin-top: 4px;}
.Questions a.da {text-decoration: none; border-bottom: 1px #f26d00 dashed; color: #f26d00; font-family: Tahoma, sans-serif;}
.Questions a.da:hover {border-bottom: 1px #fff dashed;}
.Questions a.dans {text-decoration: none; border-bottom: 1px #0857a6 dashed; color: #0857a6; font-family: Arial !important; font-size: 110% !important; font-weight: bold;}
.Questions a.dans:hover {border-bottom: 1px #fff dashed;}
.Questions div.ans {font-size: 120%; padding: 9px; margin-top: 8px; color: #000;}
.Questions div.best {background: #ecffe1;}
.Questions td.resp-det {line-height: 140%; white-space: nowrap; padding: 0 50px 0 10px;}
.Questions td.resp-det a {font-weight: bold; color: #0857a6;}
.Questions td.resp-det img {vertical-align: middle; margin-right: 4px;}
.Questions td.resp-det div {font-size: 95%; display: block; margin-left: 17px; font-family: Tahoma, sans-serif;}
.Questions td.resp-det div {font-size: 95%; display: block; margin-left: 17px; font-family: Tahoma, sans-serif;}
.Questions a.subj2 {color: #0857a6; font-size: 100%; font-weight: bold;}
.Questions .add2 {font-size: 95%; font-family: Tahoma, sans-serif; margin-top: -4px;}
.mtm3 {margin-top: -3px !important;}

/* Forms */
.Form {width: 100%; font-size: 75%; margin-top: 20px;}
.FormSp {font-size: 100% !important;}
.Form td {padding-bottom: 15px;}
.Form input, .Form textarea, .Form select {font-family: Arial, sans-serif; width: 100%; //width: 99%; font-size: 100%;}
.Form input.sp {width: auto;}
.Form td.fn {padding: 3px 5px 0 0; text-align: right;}
.Form td.fa {padding: 3px 0 0 10px;}
.Form div.tip {color: #999 !important; margin-top: 3px; font-size: 95%; font-family: Tahoma, sans-serif;}
.Form div.icons {float: right; margin-top: -13px; width: auto; text-align: right;}
.Form div.icons a, .Form div.icons span.add, .Form div.icons i {display: block; float: left;}
.Form div.icons a, .Form div.icons span.add {margin-left: 10px; font-size: 95%; font-family: Tahoma, sans-serif; white-space: nowrap;}
.Form div.icons span.add {margin-right: -5px; color: #999;}
.Form div.icons i {width: 20px; height: 16px; background-image: url('/img/icos-form-adds.gif'); background-repeat: no-repeat;}
.Form div.icons a.add-link i {background-position: 0 0;}
.Form div.icons a.add-photo i {background-position: 0 -16px;}
.Form div.icons a.add-video i {background-position: 0 -32px;}
.Form div.iconsr {text-align: left; font-size: 95%; font-family: Tahoma, sans-serif; margin-left: 10px;}
.Form div.iconsr div {float: left; clear: both; white-space: nowrap;}
.Form div.iconsr div img {vertical-align: middle;}
.Form div.check select {width: 120px !important; font-size: 100%; font-family: Tahoma, sans-serif;}
.Form div.check input {width: 34px; font-size: 100%; font-family: Tahoma, sans-serif;}

/* Office Features */
.Action {width: 100%; font-size: 75%;}
.Action td, .Action th {padding: 0 0 8px 0;}
.Action th {width: 100%; font-weight: normal; text-align: left;}
.Action th.head {font-family: Tahoma, sans-serif; font-size: 95%; padding: 7px 0 5px 0 !important; color: #666666; font-weight: normal !important;}
.Action th.sp {padding-left: 8px !important; text-align: right !important}
.Action td {padding-left: 10px; font-weight: bold; text-align: right; vertical-align: bottom !important;}

/* Action Statistics */
.AStats {width: 100%; font-size: 75%; margin-bottom: 10px;}
.AStats td, .AStats th {padding: 0 0 3px 0; vertical-align: middle !important;}
.AStats th {font-weight: normal; font-style: italic;}
.AStats td.prc {height: 21px; width: 100px; color: #666666; font-family: Tahoma, sans-serif; font-size: 95%; padding-left: 3px;}
.AStats td.prc div.progress {height: 21px; width: 100px;}
.AStats td.prc div.progress div {float: left;}
.AStats td.prc div.progress .null {margin: 4px 0 0 4px !important;}
.AStats td.prc div.progress div.prick {width: 1px; height: 21px; background: url(../img/bg_pricks.gif) right top no-repeat; float: right; }
.AStats td.prc div.blue-p {height: 21px; background: #085baa url(../img/bg_pro_blue.jpg) left top no-repeat;}
.AStats td.prc div.ora-p {height: 21px; background: #fd7f04 url(../img/bg_pro_orange.jpg) left top no-repeat;}
.AStats td.prc div.digit {margin: 4px 0 0 3px !important; }
.AStats td.prc div.blue-p div.digit, .AStats td.prc div.ora-p div.digit {margin: 4px 0 0 4px !important; color: #fff !important;}

/* Question Page */
.QuestP .question .av {width: 100px; text-align: center; padding-right: 12px; vertical-align: top;}
.QuestP .question .av table td {width: 90px; height: 90px; padding: 5px; text-align: center; vertical-align: middle !important; background: #fff2d8;}
/*.QuestP .question .av img.ava {border: 5px solid #f26d00;}*/
.QuestP .question .av div {margin-top: 2px; text-align: center; white-space: nowrap;}
.QuestP .question .av div img {margin: 0 3px;}
.QuestP .question .cont {width: 100%; font-size: 75%; line-height: 140%;}
.QuestP .question .subj {margin: 15px 0;}
.QuestP .question .subj span {font-size: 130%; color: #f26d00; font-weight: bold; padding-right: 10px;  vertical-align: middle;}
.QuestP .question div.note {padding: 7px 12px; margin-bottom: 20px;}
.QuestP .question div.note {border-left: 4px solid #999999;}
.Gold  .question .av table td {background: #fff0aa;}
/*.Gold .question .av img.ava {border: 5px solid #d90;}*/
.Gold .question .subj span {color: #d90;}
.QuestP .direct-spc {width: 20px;}
.QuestP .direct-spc .cross {position: relative; width: 20px; height: 1px; font-size: 1%; line-height: 1%;}
.QuestP .direct {width: 240px; padding: 0 !important; vertical-align: top;}
.QuestP .direct .cross {position: relative; width: 240px; height: 1px; font-size: 1%; line-height: 1%;}

/* Warning Block */
.WarnB {position: relative; z-index: 1; float: left; width: 100%; margin-bottom: 20px; background: #ecf3ff url(../img/w.gif) left top repeat-y;}
.WarnB div {position: relative; z-index: 2; float: left; width: 100%; background: url(../img/w.gif) left top repeat-x;}
.WarnB div div {position: relative; z-index: 3; float: left; width: 100%; background: url(../img/w.gif) right bottom repeat-y;}
.WarnB div div div {position: relative; z-index: 4; float: left; width: 100%; background: url(../img/w.gif) right bottom repeat-x;}
.WarnB div div div div {position: relative; z-index: 5; float: left; width: 100%; background: url(../img/f.gif) left top no-repeat;}
.WarnB div div div div div {position: relative; z-index: 6; float: left; width: 100%; background: url(../img/f.gif) right top no-repeat;}
.WarnB div div div div div div {position: relative; z-index: 7; float: left; width: 100%; background: url(../img/f.gif) left bottom no-repeat;}
.WarnB div div div div div div div {position: relative; z-index: 8; float: left; width: 100%; background: url(../img/f.gif) right bottom no-repeat;}
.WarnB div div div div div div div div {position: relative; z-index: 9; float: none; width: auto; background: none; padding: 12px 16px;}
.WarnB div div div div div div div div div {position: static; z-index: auto; float: none; padding: 0;}

/* Answers */
.Answ {width: 100%; border-top: #dcdcdc 1px solid; margin-bottom: 20px;}
.Answ td.av {text-align: center; width: 102px;}
.Answ td.av div {float: left; width: 100px; padding: 0 0 5px 0; text-align: center;}
	.Answ td.av div table td {width: 98px; height: 90px; padding: 4px 0 5px; text-align: center; vertical-align: middle !important; background: #fff; border: 1px solid #dcdcdc; border-top: none;}
.Answ td.av div div {margin-top: 2px; text-align: center; border: none; padding: 0;}
.Answ td.av div div.ic img {margin: 0 3px;}
.Answ td.best, .AnswV td.best {width: 128px;}
.Answ td.best a.best, .AnswV td.best a.best {display: block; width: 128px; height: 21px; padding-top: 5px; float: right; background: #ff9d3c url(../img/bg_best.gif) left top no-repeat; text-align: center; font-size: 75%; font-weight: bold; color: #fff; text-decoration: none; margin-top: -1px; position: relative;}
.Answ td.best div, .AnswV td.best div {font-size: 75%; color: #f26d00; white-space: nowrap; font-weight: bold; margin: 5px 10px 0 0; float: right; text-align: right;}
.Answ td.cnt div.cnt {margin: 5px 10px; font-size: 75%;}
.AnswB td.av div table td, .AnswG td.av div table td, .AnswV td.av div table td {width: 100px; height: 91px; border: none;}
.AnswB {border-top: #dcffdc 1px solid; background: #ecffe1;}
.AnswB td.av div table td {background: #dcffdc !important;}
.AnswB a.serv95 {color: #9ab68d;}
.AnswG {border-top: #fff0aa 1px solid; background: #fff0c7;}
.AnswG td.av div table td {background: #fff0aa !important;}
.AnswG a.serv95 {color: #9ab68d;}
.AnswV {border-top: #d2e6ff 1px solid; background: #e8f1ff; margin-bottom: 20px; }
.AnswV td.av td {width: 90px !important; padding: 0 5px !important; background: #d2e6ff !important; text-align: center !important; vertical-align: middle !important;}
.AnswV td.av div div {margin-top: 2px; text-align: center; border: none; padding: 0;}
.AnswV td.av div div.ic img {margin: 0 3px;}
.AnswV td.cnt div.cnt {margin: 5px 10px; font-size: 75%;}
.AnswV a.serv95 {color: #9ab68d;}

a.answ-now-top {display: block; width: 81px; height: 21px; padding-top: 5px; background: #ff9d3c url(../img/bg_answer.gif) left top no-repeat; text-align: center; font-weight: bold; color: #fff; text-decoration: none;}
a.answ-now {display: block; width: 81px; height: 21px; padding-top: 5px; background: #ff9d3c url(../img/bg_answer.gif) left top no-repeat; text-align: center; font-weight: bold; color: #fff; text-decoration: none; margin-left: 108px; font-size: 75%;}
a.answ-now-last {display: block; width: 81px; height: 21px; padding-top: 5px; background: #ff9d3c url(../img/bg_answer.gif) left top no-repeat; text-align: center; font-weight: bold; color: #fff; text-decoration: none; margin-left: 108px; font-size: 75%;}
a.answ-now-last {margin: 20px 0 0 112px;}

/* Notifications */
div.note-gr, div.note-red {font-size: 90%; font-weight: bold; padding: 12px; margin-bottom: 20px;}
div.note-gr {color: #31ad00; border-left: 5px solid #31ad00;}
div.note-red {color: #c00; border-left: 5px solid #c00;}
.note-cnt {margin: 0 175px 0 145px;}

/* Discussion */
.Discuss {font-size: 75%; margin: 0 0 0 10px; width: 93%;}
.Discuss div.ChatF {padding: 0;}
.Discuss div.Chat {padding: 0 0 0 30px; background: url(../img/bg_an_disc.gif) left 35px no-repeat; margin-bottom: 10px;}
.Discuss table.Item {width: 100%; margin-bottom: 10px;}
.Discuss table.Item td.av {width: 45px; vertical-align: top; text-align: center;}
.Discuss table.Item td.av img.av {padding: 2px; border: solid 1px #ccc; clear: both;}
.Discuss table.Item td.data {padding: 0 0 0 10px;}
.cm1 {margin-left: 0px;}
.cm2 {margin-left: 28px;}
.cm3 {margin-left: 56px;}
.cm4 {margin-left: 84px;}
.cm5 {margin-left: 112px;}
.cm6 {margin-left: 140px;}
.cm7 {margin-left: 168px;}
.cm8 {margin-left: 196px;}
.cm9 {margin-left: 224px;}
.cm10 {margin-left: 252px;}

/* Vote Results */ 
.Vote {font-size: 75%; margin: 0 0 15px 0;}
.Vote td.pic {padding: 3px 25px;}
.Vote td.pic div.row {height: 10px;}
.Vote td.prc {text-align: left; font-family: Tahoma, sans-serif; color: #999; padding-left: 10px; font-size: 95%;}
.Vote input {vertical-align: middle; margin: 2px 3px 2px 0;}

/* Rating */
.RateHead {margin: 0 0 -15px 23px;}
.ml23p {margin-left: 23px;}
.Rating {width: 100%; font-size: 75%; margin: 0 0 5px 0;}
.Rating th {color: #666666; font-family: Tahoma, sans-serif; font-size: 95%; vertical-align: top; background: #e6e8ed; padding: 7px 0 6px 5px; border-bottom: 3px solid #e6e8ed; font-weight: normal;}
.Rating th a {font-weight: normal !important;}
.Rating th.sel {border-bottom: 3px solid #9d9ea2; font-weight: bold;}
.Rating th a {color: #666666;}
.Rating th.us {width: 40%; border-left: 3px solid #e6e8ed;}
.Rating th.pt {width: 12%;}
.Rating th.ta {width: 12%;}
.Rating th.bs {width: 12%;}
.Rating th.kpd {width: 12%;}
.Rating th.vt {width: 12%;}
.Rating th.us2 {width: 40%; border-left: 3px solid #e6e8ed;}
.Rating th.pt2 {width: 15%;}
.Rating th.ta2 {width: 15%;}
.Rating th.bs2 {width: 15%;}
.Rating th.kpd2 {width: 15%;}
.Rating td {vertical-align: top; padding: 7px 5px 15px 5px;}
.Rating tr.first td {padding-top: 22px;}
.Rating td.us div.av {width: 45px; height: 45px; margin: -7px 5px 0 0; float: left;}
.Rating td.us div.st {font-size: 95%; color: #f26d00; margin: 5px 0 0 66px; font-family: Tahoma, sans-serif;}
.Rating td.us a {font-weight: bold;}
.Rating td.pt, .Rating th.pt a {font-weight: bold; color: #f26d00;}
.Rating td.bs, .Rating th.bs a {color: #390;}
.Rating th.bs a:hover {color: #f26d00;}
.Rating th.qst {width: 55%;}
.Rating td.av {text-align: center !important; }
.Rating td.av img {margin-bottom: 3px;}
.Rating td.qst a {color: #666666; }
.Rating td.qst a.subj {font-size: 120%; font-weight: bold; color: #0857a6; }
.Rating td.qst .det {font-size: 95%; color: #666666; font-family: Tahoma; margin: 5px 0 0 0; clear: both;}
.Rating td.qst .det span {margin-left: 5px;}
.Rating td.qst .det img {margin-right: 3px;}
.Rating td.dyn {color: #390;}
.Rating td.dyn span.arr {font-weight: bold; font-size: 180% !important; position: relative; top: -4px;} 
.Rating td.dyn span.arr span {font-weight: normal; font-size: 55% !important; position: relative; top: -5px;}
.Rating td.red {color: #c00 !important;}
.t150 {font-size: 150% !important;}
.t140 {font-size: 140% !important;}
.mtm25 {margin-top: -25px;}
.mt66 {margin-top: 66px !important;}

/* Moderation Mode */
.lred, .lblue, .mod, .ModerMode label, .ModerMode select, .ModerMode input {font-size: 95%; font-family: Tahoma, sans-serif;}
.lred {color: #eda3a3;}
.lblue {color: #a6c2df;}
.ModerMode {position: relative; top: 0; left: -110px;} 
.ModerMode {clear: both; margin: 0 0 30px 0 !important; font-family: Tahoma, sans-serif;} 
.ModerMode div, .ModerMode table {float: left;} 
.ModerMode table {margin-left: 40px;}

/* Interview */
.Inter {margin: 0 0 0 25px;}
.Inter div.guest, .Inter div.txt {clear: both;}
.Inter .guest img {margin: 0 20px 20px 0;}
.Inter .guest div.name {font-weight: bold; color: #f26d00;}
.Inter .guest div.note {font-size: 90%; font-weight: bold; margin: 35px 0 0 0;}
.Inter .guest div.ask {margin: 35px 0;}
.Inter .txt {line-height: 130%; font-size: 90%;}
.Inter .txt div {margin: 0 0 15px 0;}
.Inter .txt div.qu {margin: 5px 0 20px -25px; font-weight: bold;}
.Inter a.ask {padding: 6px 21px 8px 21px; background: #ff9d3c url(../img/bg_ask.gif) left top no-repeat; text-align: center; font-weight: bold; color: #fff; text-decoration: none; font-size: 90%;}

/* Cloud */
.Cloud {padding: 0 16px 20px 16px;}
.Cloud div.qu {margin: 0 -16px 4px -16px;}
.Cloud div.qu div.t {width: 240px; height: 18px; background: #fff url(../img/bg_cloud_t.gif) left top no-repeat;}
.Cloud div.qu div.m {width: 210px; background: #fff url(../img/bg_cloud_m.gif) left top repeat-y; padding: 0 15px;}
.Cloud div.qu div.b {width: 240px; height: 37px; background: #fff url(../img/bg_cloud_b.gif) left top no-repeat;}
.Cloud div.qu h2 a {color: #666666; line-height: 140%;}

/* Agent Slot */
.Agent {height: 76px; margin-bottom: 10px;}
.Agent .bord {height: 60px; background: #fff url(../img/slot/ag_hor.gif) left top repeat-y; margin: 7px 0px 0 20px; border-top: 1px solid #8dd3f5; border-bottom: 1px solid #8dd3f5;}
.Agent .at {height: 76px; background: url(../img/slot/ag_at.gif) left top no-repeat;  margin: -8px 0 0 -20px;}
.Agent .cnt {float: right; margin: 7px 0 0 0; padding: 15px 10px 0 0; height: 62px; background: url(../img/slot/ag_edge.gif) right top no-repeat;}

/* Chattering */
.ChFrame {width: 208px; height: 270px; margin: 0 0 5px 0;}
.Chat {width: 100%;}
.Chat input {font-size: 75%; font-family: Arial;}
.Chat span.achtung {font-family: Tahoma, sans-serif; font-size: 70%;}
div.Sh-Hi {float: right !important; padding: 1px 5px 1px 6px !important; height: 15px !important; background: #ced0d9 !important; font-size: 70%; font-family: Tahoma, sans-serif; position: relative !important; top: -11px; right: -15px;}
div.Sh-Hi a {text-decoration: none; border-bottom: 1px #666666 dashed; color: #666666;}
div.Sh-Hi a:hover {border-bottom: 1px #ced0d9 dashed; color: #f26d00;}

.Dialog {font-family: Arial, sans-serif;}
.Dialog img {margin: 0 4px 0 0; border: 0px;}
.Dialog div {margin: 2 0 7px 0; font-size: 70%}
.Dialog div.t {margin: 0 !important; color: #666666; font-family: Tahoma, sans-serif; font-size: 70%;}
.Dialog a {color: #0857a6; text-decoration: underline;}
.Dialog a:hover {color: #f26d00; text-decoration: none;}

.subj span.vote-fq {color: #666666 !important; margin: 0 3px !important; padding: 0 !important; font-family: Tahoma, sans-serif !important; font-size: 95% !important;}

/* Feedback */
.Fdbck .Intro {margin: 0 0 20px 0;}
.Fdbck .Form {margin: 0  0 0;}
.Fdbck .Form .fname {width: 260px; padding: 3px 20px 5px 0; text-align: right;}
.Fdbck .Form .field {width: 100%; padding: 0 10px 5px 0;}
.Fdbck .Form .field-sel {width: 100%; padding: 0 4px 5px 0;}
.Fdbck .Form .but {width: auto !important;}

/* Auth Page */
.AuthPg {width: 50%; font-size: 75%;}
.AuthPg td {vertical-align: middle !important; padding: 0 0 5px 0;}
.AuthPg td.fname {padding: 0 10px 5px 0;}
.AuthPg tr.last td {padding: 5px 0 0 0;}

/* Rates */
table.stat {text-align: left; margin-bottom: 10px; border-bottom: 3px solid #dadde5;}
table.stat td {font-size: 75%; font-weight: normal; padding: 5px 10px; border-bottom: 1px solid #dadde5; vertical-align: middle !important;}
table.stat tr.head td {background-color: #e6e8ed; font-size: 70%; font-family: tahoma, sans-serif; padding: 6px 10px 5px 10px; font-weight: bold;}
table.stat tr.head table td {border: 0px;}
table.stat tr.head td.podm {padding: 6px 10px 3px 10px; border: 0px;}
table.stat tr.head td.podm td.side {padding: 7px 0 0 0; background: #e6e8ed url(/img/bg_gdot.gif) repeat-x center center; vertical-align: bottom !important;}
table.stat tr.head td.podm td {padding: 0 3px 2px 3px; font-size: 95%; color: #7e8085; font-family: tahoma, sans-serif; font-weight: normal;}
.stsecond td {text-align: center;}

/* Asked */
#Asked {width: 100%; margin-bottom: 10px; background: #31ad00 url(../img/f.gif) left top no-repeat; color: #fff;} 
#Asked div {position: relative; z-index: 2; background: url(../img/f.gif) left bottom no-repeat;}
#Asked div div {position: relative; z-index: 3; background: url(../img/f.gif) right top no-repeat;}
#Asked div div div {position: relative; z-index: 4; background: url(../img/f.gif) right bottom no-repeat;}
#Asked div div div div {position: relative; z-index: auto;}
#Asked table {width: 100%; border-collapse: collapse;}
#Asked td {vertical-align: middle !important;}
#Asked td.got {font-size: 110%; padding: 5px 5px 5px 10px;}
#Asked td.inf {padding: 5px 10px 5px 5px; font-family: Tahoma;}
#Asked td.inf #Inf {background: #5abd33 url(../img/gr.gif) left top no-repeat; color: #fff;} 
#Asked td.inf #Inf div {position: relative; z-index: 2; background: url(../img/gr.gif) left bottom no-repeat;}
#Asked td.inf #Inf div div {position: relative; z-index: 3; background: url(../img/gr.gif) right top no-repeat;}
#Asked td.inf #Inf div div div {position: relative; z-index: 4; background: url(../img/gr.gif) right bottom no-repeat;}
#Asked td.inf #Inf div div div div {position: relative; z-index: auto; padding: 3px 5px; text-align: center;}
#Asked td.inf span.earn {display: block; font-size: 80%;}
#Asked td.inf a.rate {color: #1D6700; font-size: 70%;}
.Asked {padding: 0 0 10px 33px; margin-bottom: 15px; border-bottom: 1px dotted #1d6700; font-family: tahoma !important; background: url(../img/ico_asked_pic.gif) 9px 14px no-repeat;}
.AskedL {margin-bottom: 15px; font-size: 75%;}
.AskedL div.I {padding: 9px 0; border-bottom: 1px dotted #b6b6b6;}
.AskedL div.last {border-bottom: none;}
.AskedL div {font-weight: bold;}                                                                                     
.AskedL div.add {margin-top: 3px; font-weight: normal; font-size: 95%; font-family: Tahoma;}
.AskedL div.add a {color: #666666;}
.AskedL div.add a:hover {color: #f26d00;}
.AskedL div.add img {vertical-align: middle; margin: 0 1px 0 0;}
.AskedL div.add span {color: #390;}
.AskedL div.vote span {color: #0073e8;}

.InQ div.add {margin-left: 0px;}
.InQ div.add img {vertical-align: middle; margin: 0 1px 0 0;}
.ml3 {margin-left: 3px !important;}

/* Flip Menu */
.FlipMenu {width: 150px; background: #fff; padding: 7px 10px 3px 10px; border: 1px solid #929292; font: 11px Tahoma;}
.FlipMenu a {padding: 2px 0 2px 23px; margin-bottom: 5px; display: block;}
.FlipMenu a.add {background: url(/img/icos_flip.gif) left 0px no-repeat;}
.FlipMenu a.let {background: url(/img/icos_flip.gif) left -20px no-repeat;}
.FlipMenu a.crd {background: url(/img/icos_flip.gif) left -41px no-repeat;}
.FlipMenu a.pht {background: url(/img/icos_flip.gif) left -59px no-repeat;}
.FlipMenu a.vid {background: url(/img/icos_flip.gif) left -79px no-repeat;}
.FlipMenu a.blg {background: url(/img/icos_flip.gif) left -99px no-repeat;}
.FlipMenu a.myw {background: url(/img/icos_flip.gif) left -118px no-repeat;}
.FlipMenu div {background: #d0d0d0; margin: 8px 0 4px 0;}
.FlipMenu div img {width: 1px; height: 1px;}

/* Question Quality */
.Quality, .QualityR {white-space: nowrap; /*width: 100%;*/ clear: both;}
.Quality {padding-bottom: 15px;}
.Quality a {display block; float: left; border: 1px solid #ccc; margin-right: -1px; padding: 3px 5px 3px 5px; font-size: 11px; font: bold 11px Tahoma; color: #999; text-decoration: none; background: #fff;}
.Quality a:hover {color: #fff; text-decoration: none; background: #14ce0f;}
.Quality a.five {margin-right: 10px;}
.Quality a.ten, .Quality a.ten:hover {color: #b06166; background: #faf1d0 url(/img/ico_q_lock.gif) right 1px no-repeat; padding: 3px 7px 3px 5px; margin-right: 20px;}
.QualityR {padding-bottom: 15px; //padding-bottom: 0;}
.QualityR span {color: #999; margin-right: 15px;}
.QualityR span b {color: #000;}
.InA {width: auto !important; margin-bottom: 0 !important; padding: 0px !important;}
.RInA {float: left; padding-right: 25px; padding: 0px; width: auto; margin-right: 20px;}
.QuestIcs {border: solid 1px #d8d8d8; clear: both; margin-bottom: 15px;}
.QuestIcs td {padding: 10px 0px 3px 0px;}
.QuestIcs td div {margin: 0 10px 7px 10px;}
.QuestIcs td div a {padding: 1px 0 1px 21px;}
.QuestIcs a.tolead {background: url(/img/ico_tolead.gif) left top no-repeat;}
.QuestIcs a.add {background: url(/img/ico_add.gif) left top no-repeat;}
.QuestIcs a.locked {background: url(/img/ico_locked.gif) left top no-repeat;}
.QuestIcs a.del {background: url(/img/ico_del.gif) left 2px no-repeat; padding: 0 0 0 21px;}
.QuestIcs a.u-frnd {background: url(/img/ico_u_frnd.gif) left top no-repeat;}
.QuestIcs a.poo, .QuestIcs a.sub, .QuestIcs a.unsub, .QuestIcs a.gold {padding: 0px 0 3px 21px !important;}
.QuestIcs a.poo {background: url(/img/ico_poo_f.gif) left top no-repeat;}
.QuestIcs a.sub {background: url(/img/ico_sub.gif) left top no-repeat;}
.QuestIcs a.unsub {background: url(/img/ico_unsub.gif) left top no-repeat;}
.QuestIcs a.gold {background: url(/img/ico_gold.gif) left 1px no-repeat;}
.QuestIcs a.prolonge {background: url(/img/ico_prolonge.gif) left top no-repeat;}

/* Activity */
.StatN {font-size: 75%; color: #666666; margin-bottom: 30px;}
.StatN td {padding-right: 30px;}
.StatN td.links {padding-top: 20px;}
.StatN div {float: left; white-space: nowrap;}
.StatN td.links div {float: none;}
.StatN div.meter, .StatN div.mark {width: 100px; margin-right: 10px;}
.StatN div.meter div, .StatN div.mark div {height: 20px;}
.StatN div.meter {background: #efefef url('/img/act_bg.gif') 0 0 repeat;}
.StatN div.qst div {background: #3a9c01 url('/img/act_bg_q.gif') 0 0 repeat;}
.StatN div.ans div {background: #025bbe url('/img/act_bg_a.gif') 0 0 repeat;}
.StatN div.qstm {width: 100px; background: #91ff4d url('/img/act_base_bg_q.gif') 0 0 no-repeat;}
.StatN div.qstm div {background: #3b9308 url('/img/act_grad_bg_q.gif') 0 0 no-repeat;}
.StatN div.ansm {width: 100px; background: #89f1ff url('/img/act_base_bg_a.gif') 0 0 no-repeat;}
.StatN div.ansm div {background: #025bbe url('/img/act_grad_bg_a.gif') 0 0 no-repeat;}
.StatN div.qstm div div, .StatN div.ansm div div {width: 100px; background: none !important;}
.StatN div.numq, .StatN div.markq {color: #3a9c01;}
.StatN div.numa, .StatN div.marka {color: #025bbe;}
.StatN div.numq, .StatN div.markq, .StatN div.numa, .StatN div.marka {padding-top: 3px;}
.StatN div.numq span, .StatN div.numa span {color: #666666; font-weight: normal !important; font-size: 95%;}
.StatN div.markq span, .StatN div.marka span {color: #666666; margin-left: 10px; font-size: 85%;}
.StatN div.sep {float: none; clear: both !important; height: 10px;}
.StatN a.dasha {text-decoration: none; border-bottom: 1px #0857a6 dashed;}
.StatN a.dasha:hover {border-bottom: 1px #fff dashed;}
.StatN .concur {clear: both; margin-top: 3px; padding-bottom: 3px; position: relative;}
.StatN .concur div.list {display: none; position: absolute; top: 0; left: 0; border: solid 1px #135eaa; background: #fff; padding: 6px 9px; font-size: 95%;}
.StatN .concur div.list img {vertical-align: middle;}
.StatN div.close {position: absolute; top: 6px; right: 9px;}
.StatN a {outline: none;}
.StatN span.arr {position: relative; top: -1px;}
.mr20 {margin-right: 20px;}

.trtr td {border: 1px red solid;}
.w50 {width: 50% !important;}
.mt35 {margin-top: 35px;}
.pl110 {padding-left: 110px;}
.Questions .mark {color: #390; font-weight: bold; font-size: 140%; text-align: right;}
.QList td.av {padding-left: 5px !important; padding-right: 5px !important;}
.QList td.data {padding-left: 5px !important;}
.QList div.add {margin: 0px;}

/* Activity */
.StatN {font-size: 75%; color: #666666; margin-bottom: 30px;}
.StatN td {padding-right: 30px;}
.StatN td.links {padding-top: 20px;}
.StatN div {float: left; white-space: nowrap;}
.StatN td.links div {float: none;}
.StatN div.meter, .StatN div.mark {width: 110px; margin-right: 10px;}
.StatN div.mark {width: 100px; margin-right: 10px;}
.StatN div.meter div, .StatN div.mark div {height: 20px;}
.StatN div.meter {background: #efefef url('/img/act_bg.gif') 0 0 repeat;}
.StatN div.qst div {background: #3a9c01 url('/img/act_bg_q.gif') 0 0 repeat;}
.StatN div.ans div {background: #025bbe url('/img/act_bg_a.gif') 0 0 repeat;}
.StatN div.qstm {width: 100px; background: #91ff4d url('/img/act_base_bg_q.gif') 0 0 no-repeat;}
.StatN div.qstm div {background: #3b9308 url('/img/act_grad_bg_q.gif') 0 0 no-repeat;}
.StatN div.ansm {width: 100px; background: #89f1ff url('/img/act_base_bg_a.gif') 0 0 no-repeat;}
.StatN div.ansm div {background: #025bbe url('/img/act_grad_bg_a.gif') 0 0 no-repeat;}
.StatN div.qstm div div, .StatN div.ansm div div {width: 100px; background: none !important;}
.StatN div.numq, .StatN div.markq {color: #3a9c01;}
.StatN div.numa, .StatN div.marka {color: #025bbe;}
.StatN div.numq, .StatN div.markq, .StatN div.numa, .StatN div.marka {padding-top: 3px;}
.StatN div.numq span, .StatN div.numa span {color: #666666; font-weight: normal !important; font-size: 95%;}
.StatN div.markq span, .StatN div.marka span {color: #666666; margin-left: 10px; font-size: 85%;}
.StatN div.sep {float: none; clear: both !important; height: 10px;}
.StatN a.dasha {text-decoration: none; border-bottom: 1px #0857a6 dashed;}
.StatN a.dasha:hover {border-bottom: 1px #fff dashed;}
.StatN .concur {clear: both; margin-top: 3px; padding-bottom: 3px; position: relative;}
.StatN .concur div.list {display: none; position: absolute; top: 0; left: 0; border: solid 1px #135eaa; background: #fff; padding: 6px 9px; font-size: 95%;}
.StatN .concur div.list img {vertical-align: middle;}
.StatN div.close {position: absolute; top: 6px; right: 9px;}
.StatN a {outline: none;}
.StatN span.arr {position: relative; top: -1px;}
.mr20 {margin-right: 20px;}

/* Fast Styles */
/* *** */
.oblig {color: #ff0017;}
.black {color: #000;}
.white {color: #fff;}
.navy {color: #0855a5;}
.deepblue {color: #003073;}
.gray {color: #666666;}
.graydeep {color: #5a5a5a;}
.graylght {color: #999 !important;}
.orange {color: #f26d00;}
.green {color: #390;}
.red {color: #c00 !important;}
.lred {color: #eda3a3;}
.lblue {color: #a6c2df;}
.gold {color: #d90;}
.arial {font-family: Arial;}
.tahoma {font-family: Tahoma !important;}
.wauto {width: auto;}
.t160 {font-size: 160% !important;}
.t130 {font-size: 130% !important;}
.t120 {font-size: 120% !important;}
.t110 {font-size: 110% !important;}
.t105 {font-size: 105%;}
.t100 {font-size: 100%;}
.t95 {font-size: 95% !important;}
.t90 {font-size: 90%;}
.t85 {font-size: 85%;}
.t80 {font-size: 80%;}
.t75 {font-size: 75%;}
.t70 {font-size: 70% !important;}
.t65 {font-size: 65%;}
.lh135 {line-height: 120%;}
.lh120 {line-height: 120%;}
.lh140 {line-height: 140%;}
.lh150 {line-height: 150% !important;}
.lh160 {line-height: 160%;}
.normal {font-weight: normal;}
.bold {font-weight: bold;}
.it {font-style: italic;}
.top {vertical-align: top;}
.middle {vertical-align: middle !important; }
.bottom {vertical-align: bottom;}
.left {text-align: left !important;}
.center {text-align: center;}
.right {text-align: right !important;}
.fll {float: left;}
.flr {float: right !important;}
.block {display: block;}
.both {clear: both !important;}
.nowrap {white-space: nowrap;}
div.hidd {display: none;}
.none {display: none !important;}
.w100 {width: 100%;}
.w99 {width: 99% !important;}
.w98 {width: 98%;}
.w95 {width: 95%;}
.w80 {width: 80% !important;}
.w70 {width: 70%;}
.w60 {width: 60%;}
.w50 {width: 50%;}
.w40 {width: 40%;}
.w20 {width: 20%;}
.w10 {width: 10%;}
.w200p {width: 200px;}
.w130p {width: 130px;}
.h45 {height: 45px; }
.m0 {margin: 0 !important;}
.mt0 {margin-top: 0px !important;}
.mt1 {margin-top: 1px !important;}
.mt2 {margin-top: 2px;}
.mt3 {margin-top: 3px;}
.mt5 {margin-top: 5px !important;}
.mt7 {margin-top: 7px !important;}
.mt8 {margin-top: 8px;}
.mt10 {margin-top: 10px;}
.mt12 {margin-top: 12px !important;}
.mt13 {margin-top: 13px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px;}
.mt20 {margin-top: 25px !important;}
.mt35 {margin-top: 35px;}
.mt86 {margin-top: 86px !important;}
.mb0 {margin-bottom: 0px !important;}
.mb2 {margin-bottom: 2px;}
.mb3 {margin-bottom: 3px !important;}
.mb5 {margin-bottom: 5px;}
.mb7 {margin-bottom: 7px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mbm1 {margin-bottom: -1px;}
.mbm2 {margin-bottom: -2px;}
.mbm3 {margin-bottom: -3px;}
.mbm4 {margin-bottom: -4px;}
.mbm5 {margin-bottom: -5px;}
.mbm7 {margin-bottom: -7px;}
.mbm10 {margin-bottom: -10px;}
.mbm20 {margin-bottom: -20px;}
.mtm5 {margin-top: -5px;}
.mtm10 {margin-top: -10px;}
.mtm13 {margin-top: -13px;}
.mtm15 {margin-top: -15px;}
.mtm18 {margin-top: -18px;}
.mtm20 {margin-top: -20px;}
.mtm25 {margin-top: -25px;}
.ml4 {margin-left: 4px;}
.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml115 {margin-left: 115px !important;}
.mlm115 {margin-left: -115px !important;}
.mr1 {margin-right: 1px !important;}
.mr2 {margin-right: 2px !important;}
.mr3 {margin-right: 3px !important;}
.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px !important;}
.p0 {padding:0 !important;}
.pt0 {padding-top: 0px;}
.pt3 {padding-top: 3px !important;}
.pt5 {padding-top: 5px !important;}
.pt7 {padding-top: 7px;}
.pt8 {padding-top: 8px;}
.pt15 {padding-top: 15px;}
.pb1 {padding-bottom: 1px;}
.pb3 {padding-bottom: 3px !important;}
.pb5 {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pl0 {padding-left: 0 !important;}
.pl5 {padding-left: 5px !important;}
.pr5 {padding-right: 5px;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.h55p {height: 55px;}
.low {text-transform: lowercase;}
.none {display: none !important;}
.nnone {display: none;}

a.gra, a.gra:hover {color: #31ad00;}
.aster {color: #ff0017; font-size: 110%; text-align: center;}
.trtr td {border: dashed 1px blue;}
span.sanitar {position: relative; top: -2px; left: 4px; margin-right: 5px; color: #fff; font-size: 10px; font-family: Tahoma; background: #f26d00; padding: 1px 2px; white-space: nowrap; font-weight: normal !important;}
sup.new {color: #c00; font-weight: bold; font-family: Tahoma;}
span.online {position: relative; top: -2px; left: 4px; margin-right: 5px; color: #fff; font-size: 10px; font-family: Tahoma; background: #1ec926; padding: 1px 2px; white-space: nowrap; font-weight: normal !important;}
a.mred {color: #c00;}
a.mred:hover {color: #f26d00;}

.CountBtm {width: 1px; height: 1px; overflow: hidden;}

/* RB styles */
.rb_body {border:1px solid #D9D9D9;font-size: 12px;margin-bottom:10px; padding:7px 10px 10px 10px; overflow:hidden; //display: inline-block;}
.rb_h4 {border-bottom: 1px solid #0857A6; color: #0857A6; font-size: 17px; font-weight: bold; text-decoration: none;}
.rb_body h4 {margin: 0;}
a.rb_h4:hover {border-bottom: 0 solid #0857A6;}
.rb_h5 {color: #fd7102; display: block; font-size: 13px; font-weight: bold; padding: 7px 0 0 0; text-decoration: none;}
.rb_h6 {color: #0857A6; display: block; font-size: 13px; font-weight: bold; padding: 0 0 3px 0; text-decoration: none;}
.rb_content {margin: 7px 0 0 0; overflow: hidden; //display: inline-block;}
.rb_img {float: left; margin: 0 5px 0 0; background-position: left top; background-repeat: no-repeat;}
.rb_flash {float: left; margin: 0 5px 0 0;}
.rb_nobr {white-space: nowrap;}
.rb_text {overflow: hidden; //display: inline-block;}
.rb_textSmall {font-size: 11px; overflow: hidden; //display: inline-block;}
.rb_next {font-weight: bold; font-size: 11px; float: right; margin-top: 5px;}
.rb_more {font-weight: bold; font-size: 11px; display: block; margin-top: 5px;}
.rb_imgUl {background-position:left top; background-repeat:no-repeat; font-weight:bold; display:block; height:50px; margin:0; padding-left:55px;}
.rb_ul {margin: 10px 0 0 13px; padding-left: 2px;}
.rb_li {color: #999999;}
.rb_mb5 {margin-bottom: 5px;}

/* Sticker */
.lh11 { line-height: 11px; }
.ava45_nobg {background-position:center center; background-repeat:no-repeat; cursor:pointer; display:inline-block; font-size:0; height:45px; line-height:0; text-align:center; vertical-align:middle; width:45px;}
div.paidGifts {overflow:hidden; position:absolute; top: 60px; left: -5px; width:45px; height:45px; z-index:100;}
#utMega {margin:95px 0 0 35px; position:absolute; z-index:1000; padding: 5px; font-size: 12px;}
#utMega div { text-align: center; font-size: 11px;}
.utMegaS {border:1px solid #999; background:#FFF; text-align: center; font-size: 12px;}

td.av  {position: relative !important;}
.UserDet td.av table td.ava { width:100px; height:100px; padding:0;}
.Answ td.av div table td { width:100px; height:100px; padding:0;}
.AnswB td.av div table td, .AnswG td.av div table td, .AnswV td.av div table td { width:100px; height:100px; padding:0;}

/* Promo pampers */
.lorange {color: #f99f00;}
.lgreen {color: #00b293;}
.t180 {font-size: 180% !important;}
.HeadPamp {background: #00468c url('/img/pampers_header_bg.gif') top repeat-x !important; position: relative;}
.FootPamp {background: #00468c url('/img/pampers_footer_bg.gif') top repeat-x !important; height: 24px; position: relative;}
.HeadPamp .pamp_logo {position: absolute; display: block; top:0px; left: 50%; width: 41px; height: 26px; z-index: 10;}
.FootPamp .pamp_logo {position: absolute; display: block; top:-3px; left: 20%; width: 41px; height: 26px; z-index: 10;} 

/* Promo lipton */
.redd {color: #f00;} .blue {color: #04428b;} .h20 {height: 20px;}
#HeadLipton {background: #fce528 url('/img/lipton_header_bg.gif') top repeat-x; position: relative;}
#FootLipton {background: #fce528 url('/img/lipton_footer_bg.gif') top repeat-x; height: 24px; position: relative;}
#FootLipton #Copyright .mail, #FootLipton #Copyright .navigation, #FootLipton #Copyright .mail a,
#FootLipton #Copyright .navigation a,
#HeadLipton #Blueheader .third, #HeadLipton #Blueheader .Search td, #HeadLipton #Blueheader a {color:#fe3804;}
#HeadLipton .lipton_logo {position: absolute; display: block; top:0px; left: 48%; width: 58px; height: 27px; z-index: 10;}
#FootLipton .lipton_logo {position: absolute; display: block; top:-16px; left: 20%; width: 58px; height: 41px; z-index: 10;}

/*	SMS Table */
#pricelist table { width: 100%; margin: 20px 0 20px 0;}
#pricelist table td { font-size: 90%; };
tr.sms-tr-even {background: #f2f2f2;}
tr.sms-tr-even td {background: #f2f2f2;}
tr.sms-tr-first {font-weight: bold;}

.NY2012 { display:block; width: 73px; height: 56px; position:absolute; z-index:3; left:0; top:0; margin:2px 0 0 185px; background: url(/img/wood2012.png) -0px -0px no-repeat; }

.headCooler {background: #fff url(/img/promo/cooler/head_bg2.png) 100% 0 repeat-y !important; position: relative; margin-top: 15px;}
.headCooler .kt {background:  url(/img/promo/cooler/head_bg2.png) 0 0 repeat-x;}
.headCooler .kb {background:  url(/img/promo/cooler/head_bg2.png) 0 100% repeat-x;}
.headCooler .kbg {background: url(/img/promo/cooler/head_bg.jpg) 0 0 no-repeat;}
.headCooler #Blueheader .third, .headCooler #Blueheader a {color: #b4bbc6;} 
.logoCooler {position: absolute; top: 0; left: 0;}
.logoCooler .klogo {position: absolute; top: -13px; left: 260px; width: 455px; height: 40px; z-index: 101; background: url(/img/promo/cooler/head_logo.png) 0 0 no-repeat;}

.footCooler {background: #fff url(/img/promo/cooler/head_bg2.png) 0 0 repeat-y !important; position: relative; margin-bottom: 20px !important;}
.footCooler .kr {background:  url(/img/promo/cooler/head_bg2.png) 100% 0 repeat-y;}
.footCooler .kt {background:  url(/img/promo/cooler/head_bg2.png) 0 0 repeat-x;}
.footCooler .kb {background:  url(/img/promo/cooler/head_bg2.png) 0 100% repeat-x;}
.logoCoolerFoot {position: absolute; display: block; top: -33px; left: 15%; width: 158px; height: 78px; z-index: 101; background: url(/img/promo/cooler/foot_logo.png) 0 0 no-repeat;}
.footCooler #Copyright .mail a, .footCooler #Copyright .navigation a, #Copyright .mail, .footCooler #Copyright .navigation {color: #b4bbc6;}
