body {
color:#404040;
font: 12px Verdana, Arial, Helvetica;
background-color: #737373;
}
a {color:#3b87ae;text-decoration:none}
a:hover {text-decoration:none; text-shadow:0 0 3px #ff8636;}
hr {margin:3px 0 3px 0}
form {font-size:small;margin:2px 1px 0px 1px;padding:0}
input, textarea, select
{color:#6d6d6d;
margin:1px;
padding:1px 2px 1px 2px;
}
input:focus, textarea:focus, select:focus
{color:#6d6d6d;
background:#fff;
border:1px solid #c2e3ec}

.cleaner {
clear: both;
height: 0;
font-size: 0;
visibility: hidden;
content: ' ';
}

.noscreen {
display: none;
}

.hidden {
position: absolute;
top: -10000px;
left: 0;
width: 1px;
height: 1px;
overflow: hidden;
}

p {
line-height: 170%;
margin-bottom: 10px;
color: #003B69;
}

h1 {
font-size: 2.2em;
font-weight: normal;
color: #FFFFFF;
text-align: left;
padding: 15px 0 0 30px;
letter-spacing: 1px;
}

h1 a:link, h1 a:visited {
font-weight: normal;
text-decoration: none;
color: #FFFFFF;
}

h2 {
font-size: 1.2em;
font-family: Georgia, "Times New Roman", Times, serif;
font-weight: normal;
color: #FFFFFF;
text-align: left;
margin: 3px 0 0 0;
padding-left: 30px;
letter-spacing: 1px;
}

h3 {
font-size: 1.6em;
font-family: Georgia, "Times New Roman", Times, serif;
color: #004C87;
font-weight: normal;
letter-spacing: 1px;
margin-bottom: 7px;
}

h3 a:link, h3 a:visited {
font-weight: normal;
color: #004C87;
text-decoration: none;
}

h3 a:hover {
text-decoration: underline;
}

h4 {
font-size: 1.1em;
color: #004C87;
margin: 12px 0 3px 0;
}

address {
font-style: normal;
line-height: 1.7;
}

address span {
color: #005699;
}

abbr {
border-bottom: 1px dotted #005699;
cursor: help;
}

img.float {
float: left;
border: 1px solid #004C87;
margin: 0.5em 0.8em 0.5em 0;
}

img.me {
float: left;
border: 0;
margin: 0.4em 0.6em 0 0;
}

#wrapper {
width: 1000px;
margin: 15px auto;
display:table;
}

#header {
width: 1000px;
height: 188px;
position: relative;
margin: 0 auto;
background: #737373 url('../img/header.png') no-repeat 0 0;
}

form.searching {
width: 184px;
position: absolute;
top: 18px;
right: 30px;
}

fieldset {
border: 0;
}

#picture-input {
position: absolute;
top: 0;
left: 0;
overflow: hidden;
width: 152px;
height: 26px;
background: url('../img/input-bg.gif') 0 0 no-repeat;
border: 0;
}

#picture-input input {
position: relative;
top: 5px;
left: 1px;
width: 130px;
border: 0;
letter-spacing: 1px;
}

form.searching label {
display: none;
}

li {
  list-style: none;
}

#menu {
position: absolute;
top: 148px;
left: -28px;
z-index: 10px;
}

#menu li {
list-style: none;
float: left;
margin-left: 6px;
margin-top:-1px;
display: block;
padding: 0 7px 0 4px;
background: url('../img/panel_btn_center.gif') repeat-x;
border:1px solid #8093a8;
border-radius:3px;
}

#menu li a {
color: #1e395b;
text-decoration: none;
height: 24px;
line-height: 24px;
position: relative;
list-style-type: none;
margin-top:-1px;
}

#menu li a:hover {
text-decoration: none;
cursor: pointer;
}
img.menu_icons {
margin-right:2px;
margin-bottom:-2px;
}

#content {
width: 1000px;
margin: 0 auto;
background:#ffffff url(../img/bg_content.png) repeat-y;
text-align: center;
}

.date {
font-family: Georgia, "Times New Roman", Times, serif;
text-align: center;
float: right;
width: 50px;
min-height: 40px;
border: 1px solid #78bee2;
background-color: #FFFFFF;
margin: 3px 0 7px 0;
font-style: italic;
}

.date p {
font-size: 0.9em;
margin: 0;
line-height: 1;
}

.date p.day {
font-size: 1.2em;
margin-bottom: 1px;
line-height: 1.6;
font-weight: bold;
}

.darker-bg {
margin: 0 5px 7px 3px;
font-weight: normal;
text-align:left;
}

#rss-box {
text-align: left;
margin-top: 10px;
}

#rss-box p {
text-align: left;
color: #202020;
margin: 0 0 0 25px;
background: url('../img/rss-icon.gif') no-repeat 0 center;
padding-left: 30px;
}

#rss-box p a, #rss-box p a:visited {
color: #202020;
font-weight: normal;
text-decoration: underline;
}

#rss-box p a:hover {
text-decoration: none;
}


#footer {
width: 1000px;
height: 28px;
background: #737373 url('../img/footer.png') no-repeat 0 0;
margin: 0 auto 30px auto;
}

#footer-in {
padding: 7px 10px;
}

#footer-in p {
font-size: 0.9em;
color: #132c65;
margin: 0;
}

#footer-in p a, #footer-in p a:visited {
color: #132c65;
text-decoration: underline;
font-weight: normal;
padding: 0 2px;
}

#footer-in p a:hover {
text-decoration: underline;
}

#footer-in p span {
font-size: 1.1em;
}

#footer-in p a span {
font-size: 1.1em;
font-weight: bold;
}
.acronym{
  text-decoration:underline;
}
/*######################*/
.flash{
  background:#e0e0e0;
  border:1px solid #8b87ff;
  border-radius:4px;
  padding:5px;
}
.vote img:hover{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
img{
  border:0;
}
.znak{width:15px;display:inline;}
.spoiler{background:#e7f1fe;width:490px;}
.spoiler2{background:#e7f1fe;width:190px;}
.spoiler_content{}
.spoiler_head{
background:#e7f1fe url('img/rmenu.gif') repeat-x top;
border:1px solid #b3d2ee;
padding:2px}
.spoiler_head:hover{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
cursor:pointer;
}
.menu {
background:#fff url('img/menu.gif') repeat-x bottom;
border:1px solid #c9c9c9;
padding:0;
margin:1px 0 1px 0;
}
.info
{background:#fff3e1 url('img/info.gif') repeat-x bottom;
border:1px solid #ffb565;
padding:2px;
margin:1px 0 1px 0}
.nmenu,.amenu,.rek_end
{background:#e7f1fe url('img/nmenu.gif') repeat-x bottom;
border:1px solid #b3d2ee;
padding:2px}
.nmenu
{padding:4px 2px 5px 2px;
text-align:center}
.str,.str_active
{color:#465661;
margin:3px;
padding:2px 5px 2px;
border:1px solid #add8e4;
font-size:9px}
.str {background:#cbe8fe}
.str_active {background:#edf9fd}
.rmenu,.smenu,.rek_head
{background:#e7f1fe url('img/rmenu.gif') repeat-x top;
border:1px solid #b3d2ee;
padding:2px}
.err
{background:#ffc3c3 url('img/err.gif') repeat-x bottom;
border:1px solid #ff8b8b;
padding:3px}
.end
{background:#6eb6dc url('img/end.gif') repeat-x top;
border-top:1px solid #4486a8;
padding:2px;
color:#b8e8ea}
.end a {color:#f0f0f0}
.center
{margin:2px;text-align:center}
.small {font-size:10px}
.anonc {font-size:10px;color:#717171}
.cit
{/*background:url('img/cit.gif') no-repeat top right;*/
border:1px dotted #f39322;
border-left:2px solid #f39322;
padding:1px 1px 1px 3px;
color:#897459
}
/*######################*/
#speedbar {
position: absolute;
top: 130px;
left: 75px;
z-index: 10px;
max-width:683px;
max-height:17px;
overflow-x:hidden;
overflow-y:hidden;
text-align:left;
}

#search_form {
position:absolute;
top:126px;
right:9px;
z-index:10;
}
input.search_inp {width:190px; background:none; border:none; float:left;}
input.search_inp:focus {background:#ffffff; color:#000000;}
input.search_inp:hover {background:url(../img/bg_tr_white.png) repeat;}
input.search_btn {background:url(../img/search.gif) no-repeat 0 -14px; margin-top:3px; display:block; width:14px; height:14px; line-height:14px; float:right;}
input.search_btn:hover{background-position:0 0%;}

.h_btn_left {
position: absolute;
top: 126px;
left: 11px;
z-index: 10px;
background: url(../img/h_left_btn.gif) no-repeat 0 100%;  display:block; width:25px; height:25px; line-height:25px; float:left;
}
.h_btn_left:hover {background-position:0 0%;}

.h_btn_right {
position: absolute;
top: 126px;
left: 39px;
z-index: 10px;
background: url(../img/h_right_btn.gif) no-repeat 0 100%;  display:block; width:25px; height:25px; line-height:25px; float:left;
}
.h_btn_right:hover {background-position:0 0%;}

.chlang{
background:url(../img/bg_tr.png) repeat;
border: 1px solid #000000;
box-shadow:0px 0px 3px #000000;
border-radius:4px;
padding:6px;
width:188px;
height:84px;
top:25px;
left:565px;
position:absolute;
color:#eaf3fc;
text-align:center;
}
.chlang img:hover{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
table.main {
position:relative;
left:8px;
top:5px;
z-index:10;
}
td.sidebar, td.main {
vertical-align:top;
text-align:left;
}
td.sidebar {
  padding:5px;
  background:#eaeaea;
  box-shadow:2px 0 2px #000000;
  border-radius:0 4px 4px 0;
}
td.main {
padding:0 5px 5px 10px;
}

.phpcode
{color:#5f8086;
background:#f1f7f8;
border:1px dotted #000000;
margin:2px;
padding: 0 2px;
overflow: auto;
max-width:600px;
}
.categories {
  margin-left:-34px;
  font-size:10pt;
}
.categories li {
background: url(../img/menu_arrow.png) no-repeat;
padding-left:13px;
}
.categories li a {
color: #1e395b;
}

.categories li a:hover {text-decoration:none;}

.current {
border:1px solid #b8d6fb;
border-radius:3px;
background:url(../img/menu_current.png) repeat-x;
padding:3px;
margin-left:-3px;
}
.current li a {
  color:#365b88;
}
.current li a:hover {text-decoration:none;}

.side_title {
padding: 0 7px;
background: url('../img/side_menu_center.gif') repeat-x 0 0;
color: #1e395b;
text-decoration: none;
height: 21px;
line-height: 21px;
border:1px solid #adadad;
border-radius:3px;
font-weight:bold;
margin-bottom:-12px;
}

.post_short {
border:1px solid #679fe0;
background:url(../img/post_short_bg.png) repeat;
box-shadow:0px 0px 2px #000000;
border-radius:4px;
margin:0 0 8px 0;
}

.post_short_text {
margin-top:5px;
padding:5px;
}

.post_short_head {
background:#eeeeee;
border-bottom:1px solid #72a2e0;
padding:5px;
}
.post_short_head_title {
font-size:13pt;
font-weight:bold;
}

.post_full_body {
background:#fff url('img/menu.gif') repeat-x bottom;
border:1px solid #c9c9c9;
padding:0;
margin:1px 0 0 0;
border-radius:5px 5px 0 0;
}

.more_btn {
padding: 0 7px;
background: url('../img/side_menu_center.gif') repeat-x 0 0;
color: #1e395b;
text-decoration: none;
height: 21px;
line-height: 21px;
border:1px solid #adadad;
border-radius:3px;
font-weight:bold;
text-align:center;
max-width:50px;
margin-top:3px;
}

.navi {
background:url(../img/navi_bg.gif) repeat-x;
border:1px solid #679fe0;
border-radius:4px;
height:22px;
text-align:center;
padding-top:5px;
padding-bottom:-2px;
}
.navi a:hover{
text-decoration:none;
}
.navi_btn {
background:url(../img/navi_btn.gif) repeat-x;
border:1px solid #679fe0;
border-radius:4px;
height:18px;
margin:8px 3px 0 0;
padding:0 3px;
}
.navi_btn_current {
background:url(../img/navi_btn_current.gif) repeat-x;
border:1px solid #679fe0;
border-radius:4px;
height:18px;
margin:4px 3px 0 0;
padding:0 3px;
}

.bot_panel {
background:#fff url('../img/bot_panel.gif') repeat-x top;
border-top:0;
border-left:1px solid #c9c9c9;
border-right:1px solid #c9c9c9;
border-bottom:1px solid #c9c9c9;
padding:5px;
border-radius:0 0 5px 5px;
}
.bot_title {
padding: 0 7px;
background: url('../img/side_menu_center.gif') repeat-x 0 0;
color: #1e395b;
text-decoration: none;
height: 21px;
line-height: 21px;
border:1px solid #adadad;
border-radius:3px;
font-weight:bold;
text-align:center;
width:150px;
}
.com_gb_msg {
background:#fff url('img/menu.gif') repeat-x bottom;
border:1px solid #c9c9c9;
border-radius:5px;
padding:4px;
margin:0 0 3px 0;
}
img.post_img {
max-width:360px;
}