.tabs {
    max-width:221px;
    position:absolute;
    top:1px;
    right:6px;
}
.tabs a {
color:#ffffff;
font-weight:bold;
}
.tabset_tabs	{ margin:0; padding:0; list-style-type:none; position:relative; z-index:2; white-space:nowrap }
.tabset_tabs li	{ margin:0; padding:0; display:inline }
#btn_login {
  position:absolute;
  top:0;
  right:69px;
  z-index:10;
  margin:0;
}
#btn_register {
  position:absolute;
  top:0;
  right:42px;
  z-index:10;
}
#btn_logoutn {
  position:absolute;
  top:0px;
  right:1px;
  z-index:10;
}
#btn_logout {
  position:absolute;
  top:0px;
  right:-7px;
  z-index:10;
}
#btn_lostpass {
  position:relative;
  top:96px;
  right:0;
  z-index:10;
  margin:0;
}
#btn_login:hover, #btn_register:hover, #btn_logout:hover, #btn_lostpass:hover{
opacity:0.6;
}
.tabset_tabs a	{ color:#339 ! important; text-decoration:none; padding:0 0.6em;}
.tabset_tabs a:hover	{ color:#00c ! important;}
.tabset_tabs a.active	{ color:black ! important; cursor:default; padding-top:1px; padding-bottom:1px }

.tabset_tabs li.firstchild a {}

.tabset_content	{
  position:relative;
  z-index:1;
  padding:0.5em 1em;
  display:none;
}
.tabset_label	{ display:none }

.tabset_content_active	{ display:block }

#login {
background:url(../web/img/bg_tr.png) repeat;
border: 1px solid #000000;
box-shadow:0px 0px 3px #000000;
border-radius:4px;
padding:4px;
width:211px;
height:88px;
color:#eaf3fc;
position:absolute;
top:24px;
right:0;
}
#register {
background:#5880b7;
border: 1px solid #000000;
box-shadow:0px 0px 3px #000000;
border-radius:4px;
padding:6px;
width:206px;
color:#eaf3fc;
position:absolute;
top:24px;
right:0;
z-index:100;
}
#lostpass {
background:#5880b7;
border: 1px solid #000000;
box-shadow:0px 0px 3px #000000;
border-radius:4px;
padding:4px;
width:211px;
color:#eaf3fc;
position:absolute;
top:24px;
right:0;
z-index:999;
}
.login_inp {width:200px;}
input.login_btn {
background: url('../web/img/input_login_btn.gif') no-repeat;
width:67px;
height:21px;
position:absolute;
top:70px;
right:141px;
}
input.reg_btn {
background: url('../web/img/input_reg_btn.gif') no-repeat;
width:103px;
height:21px;
}
input.login_btn:hover, input.reg_btn:hover{
opacity:0.6;
}
@media aural{
	.tabset_content,
	.tabset_label	{ display:block }
}