html, body {background: #fff; margin: 0px; padding: 0px}
body {font: 78% Arial, Verdana, sans-serif}
h1, h2, h3, h4,h5 {font-family: Arial, Verdana, sans-serif; margin: 15px}
p {margin: 0 15px 15px; text-align: justify}
pre {font-size: 12px; margin: 0 15px 15px; text-align: justify}
a {color: #000; font-weight: bold}
.pickout {font-family: Arial, Verdana, sans-serif; font-size: 16px; font-weight: bold; margin: 15px}
.redpickout {color: red}
strong.bg_content {font-family: Arial, Verdana, sans-serif; font-size: 20px; color: #FFF }
.bg {height: 22px; background: url(i/bg_content.gif) #575656 repeat-x }
.form {border: 1px solid #000}
div.txt_right {text-align: right; margin: 15px}
.line {margin-bottom: -3px}

#block {background: #FAACAB; margin: 15px; padding: 0px}
#block2 {background: #8AE8F9; margin: 15px; padding: 0px}


ul {	margin: 5px 15px;
	color: #000;}
li  { 	margin: 5px 15px ;  
	text-align:left;}


ul.menulist { 	
	margin: 5px 0px; 
	padding: 0; 
	list-style: none;
	color: #000;}
ul.menulist li  { 
	font-size:12px; 
	margin: 0 15px ;  
	padding: 2px 0 0 15px; 
	list-style:none;
	border-bottom:1px dotted #959595; 
	text-align:left;}
ul.menulist li a         { 
	text-decoration: none; 
	line-height:18px;}
ul.menulist li a:hover { 
	color: #575656;
	}


ul.menulist_pop { 	
	margin-left:15px; 
	padding:0; 

	color: #000;}
ul.menulist_pop li  { 
	font-size:12px; 
	margin:0 15px ;  
	padding: 2px 0 0 15px; 

	border-bottom:1px dotted #959595; 
	text-align:left;}
ul.menulist_pop li a         { 
	text-decoration: none; 
	line-height:18px;}
ul.menulist_pop li a:hover { 
	text-decoration: underline;
	color: #575656;
	}

div#header {height: 120px; margin: 0; background: url(i/bg_header.gif) #575656 repeat-x 0% 100%}
div#header img {margin: 21px; margin-left: 50px; padding: 0}

div#line1 {clear: left; width: 100%; height: 30px; margin: 0; padding: 0}
div#wrapper {float: left; width: 100%}

div#content {margin: 0 22%}
div#content h1 {line-height: 1.4;  font: 30px}
a.head {text-decoration:none}
span.date {font: 0.9em Arial; color: #6F6E6E; text-align: right; margin: 15px}
span.pages {font: 0.9em Arial; text-align: left; margin: 15px}
p.comment {font: 0.9em Arial; text-align: left; margin: 15px}
div#content p {line-height: 1.4}
div#navigation {float: left; width: 20%; margin-left: -100%;}
div#navigation p {font-size: 12px}
div#navigation a {font-size: 12px}

div#extra {float: left; width: 20%; margin-left: -20%;  line-height: 1.4}
div#extra p {font-size: 12px}
div#extra a {font-size: 12px}

div#line2 {clear: left; width: 100%; height: 30px; margin: 0; padding: 0}

div#footer {clear: left; width: 100%; height: 35px; background: url(i/bg_footer.gif) #575656 repeat-x 0% 100%; color: #FFF}
div#footer p {font-family: Arial; text-align: left;  font-weight: bold; color: #FFF; margin: 0px 50px; padding: 0px}
div#footer a {color: #FFF}
div#footer a:hover {text-decoration: none}

div#line3 {clear: left; width: 100%; height: 30px; margin: 0; padding: 0}
