.slog {FONT-SIZE: 16px; COLOR: #888888; FONT-FAMILY: arial; padding-right:55px;}

.orline {padding-top:190px;background-image: url(/wp-content/themes/nkrf-job.ru/img/orline.gif); background-position: top left; background-repeat: no-repeat;}

.iw {font-family: arial; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none}

td,body {font-family: tahoma; font-size: 13px; COLOR:#313131;margin:0;}

a { color:#2A327A;}

.bgmenu1 {padding-top:20px; padding-bottom:24px; background-image:  url(/wp-content/themes/nkrf-job.ru/img/menu1.gif); background-position: left; background-repeat: repeat-y;}

.menu {padding:0;}

.menu li {padding-left:25px;background-image:  url(/wp-content/themes/nkrf-job.ru/img/menu2.gif); background-position: left; background-repeat: repeat-y;list-style:none;margin-bottom:2px;padding-bottom:3px;}

.menu li ul li {background-image:none;}

.bgmenu2_on {padding-left:14px;background-image:  url(/wp-content/themes/nkrf-job.ru/img/menu2.gif); background-position: left; background-repeat: repeat-y;}

.widget {list-style:none; text-align: center;}



.bg_lin {background-image: url(/wp-content/themes/nkrf-job.ru/img/bg_lin.jpg); background-position: rigth; background-repeat: repeat-y;}

.zag_lin { FONT-SIZE: 15px; COLOR: #052E60;  FONT-WEIGHT: bold;}

5

.line_rt {background-image:  url(/wp-content/themes/nkrf-job.ru/img/line_rt.gif); background-position: top right; background-repeat: no-repeat;}

.line_rb {background-image:  url(/wp-content/themes/nkrf-job.ru/img/line_rb.gif); background-position: top right; background-repeat: no-repeat;}



.menu A:link     {font-family: arial;FONT-SIZE: 11px; COLOR: #91877A; TEXT-DECORATION: underline;font-weight:bold;}

.menu A:visited  {font-family: arial;FONT-SIZE: 11px; COLOR: #91877A; TEXT-DECORATION: underline;font-weight:bold;}

.menu A:hover    {font-family: arial;FONT-SIZE: 11px; COLOR: #91877A; TEXT-DECORATION:none;font-weight:bold;}

A.menu_on:link     {font-family: arial;FONT-SIZE: 11px; COLOR: #3896DD; TEXT-DECORATION: none}

A.menu_on:visited  {font-family: arial;FONT-SIZE: 11px; COLOR: #3896DD; TEXT-DECORATION: none}

A.menu_on:hover    {font-family: arial;FONT-SIZE: 11px; COLOR: #3896DD; TEXT-DECORATION:underline}



.bgseek {padding-top:0;padding-left:40px;background-image:  url(/wp-content/themes/nkrf-job.ru/img/seek.jpg); background-position: top left; background-repeat: no-repeat;}

.seek_form  { margin-top: 0px; margin-bottom: 0px; border: 1px solid #7F9DB9; COLOR: #000000; width: 160px; font-size: 12px; }

.seek {FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none}



h1 { FONT-SIZE: 20px; COLOR: #ED7100; MARGIN-BOTTOM: 8px; TEXT-DECORATION:none; FONT-WEIGHT: normal;}

h2 { FONT-SIZE: 13px; COLOR: #052E60; MARGIN-BOTTOM: 4px; }

h3 { FONT-SIZE: 12px; MARGIN-BOTTOM: 4px;   }

adress { FONT-SIZE: 12px;   COLOR: #187174; }

PRE     {FONT-SIZE: 12px;   }

.data_m {	FONT-SIZE: 9px; COLOR: #187174; FONT-FAMILY: arial}

.data {	FONT-SIZE: 12px; COLOR: #F0962F; FONT-FAMILY: arial}

.group {font-family: arial;FONT-SIZE: 12px; COLOR: #7E1041; TEXT-DECORATION: underline}





.news {COLOR: #ED7100;TEXT-DECORATION: none}

.data_n {	FONT-SIZE: 10px; COLOR: #888888; FONT-WEIGHT: bold;}

.zag_n {	color: #3366FF;font-size: large;}

.text_n {	FONT-SIZE: 12px; COLOR: #313131;TEXT-DECORATION:none;}





form{

	padding: 0;	margin: 0;

}

.button{

	font: 12px tahoma;

	background: #FFA200;

	color: #FFFFFF;

	padding: 0;

	border-left: #FFEFDE solid 1;

	border-top: #FFEFDE solid 1;

	border-right: #FFEFDE solid 1;

	border-bottom: #FFEFDE solid 1;

	FONT-WEIGHT: bold;

}

.textarea{

	font: 11px tahoma;

	color: #000000;

	background: #ffffff;

	border-top: #187174 solid 1;

	border-bottom: #187174 solid 1;

	border-left: #187174 solid 1;

	border-right: #187174 solid 1;

}

.slog {

    color: #888888;

    font-family: arial;

    font-size: 16px;

    padding-right: 55px;

}

.orline {

    background-image: url("/wp-content/themes/nkrf-job.ru/img/orline.gif");

    background-position: left top;

    background-repeat: no-repeat;

    padding-top: 190px;

}

.iw {

    color: #000000;

    font-family: arial;

    font-size: 11px;

    text-decoration: none;

}

td, body {

    color: #313131;

    font-family: tahoma;

    font-size: 13px;

}

a {

    color: #2A327A;

}

.bgmenu1 {

    background-image: url("/wp-content/themes/nkrf-job.ru/img/menu1.gif");

    background-position: left center;

    background-repeat: repeat-y;

    padding-bottom: 24px;

    padding-top: 20px;

}

.bgmenu2 {

    background-image: url("/wp-content/themes/nkrf-job.ru/img/menu2.gif");

    background-position: left center;

    background-repeat: repeat-y;

    padding-left: 25px;

}

.bgmenu2_on {

    background-image: url("/wp-content/themes/nkrf-job.ru/img/menu2.gif");

    background-position: left center;

    background-repeat: repeat-y;

    padding-left: 14px;

}

.bg_lin {

    background-image: url("/wp-content/themes/nkrf-job.ru/img/bg_lin.jpg");

    background-repeat: repeat-y;

}

.zag_lin {

    color: #052E60;

    font-size: 15px;

    font-weight: bold;

}

.line_rt {

    background-image: url("/wp-content/themes/nkrf-job.ru/img/line_rt.gif");

    background-position: right top;

    background-repeat: no-repeat;

}

.line_rb {

    background-image: url("/wp-content/themes/nkrf-job.ru/img/line_rb.gif");

    background-position: right top;

    background-repeat: no-repeat;

}

A.menu:link {

    color: #91877A;

    font-family: arial;

    font-size: 11px;

    text-decoration: underline;

}

A.menu:visited {

    color: #91877A;

    font-family: arial;

    font-size: 11px;

    text-decoration: underline;

}

A.menu:hover {

    color: #91877A;

    font-family: arial;

    font-size: 11px;

    text-decoration: none;

}

A.menu_on:link {

    color: #3896DD;

    font-family: arial;

    font-size: 11px;

    text-decoration: none;

}

A.menu_on:visited {

    color: #3896DD;

    font-family: arial;

    font-size: 11px;

    text-decoration: none;

}

A.menu_on:hover {

    color: #3896DD;

    font-family: arial;

    font-size: 11px;

    text-decoration: underline;

}

.bgseek {

    background-image: url("/wp-content/themes/nkrf-job.ru/img/seek.jpg");

    background-position: left top;

    background-repeat: no-repeat;

    padding-left: 40px;



}

.seek_form {

    border: 1px solid #7F9DB9;

    color: #000000;

    font-size: 12px;

    margin-bottom: 0;

    margin-top: 0;

    width: 160px;

}

.seek {

    color: #FFFFFF;

    font-family: arial;

    font-size: 14px;

    text-decoration: none;

}

h1 {

    color: #ED7100;

    font-size: 20px;

    font-weight: normal;

    margin-bottom: 8px;

    text-decoration: none;

}

h2 {

    color: #052E60;

    font-size: 13px;

    margin-bottom: 4px;

}

h3 {

    font-size: 12px;

    margin-bottom: 4px;

}

adress {

    color: #187174;

    font-size: 12px;

}

PRE {

    font-size: 12px;

}

.data_m {

    color: #187174;

    font-family: arial;

    font-size: 9px;

}

.data {

    color: #F0962F;

    font-family: arial;

    font-size: 12px;

}

.group {

    color: #7E1041;

    font-family: arial;

    font-size: 12px;

    text-decoration: underline;

}

.news {

    color: #ED7100;

    text-decoration: none;

}

.data_n {

    color: #888888;

    font-size: 10px;

    font-weight: bold;

}

.text_n {

    color: #313131;

    font-size: 12px;

    text-decoration: none;

}

form {

    margin: 0;

    padding: 0;

}

.button {

    background: none repeat scroll 0 0 #FFA200;

    color: #FFFFFF;

    font: bold 12px tahoma;

    padding: 0;

}

.textarea {

    background: none repeat scroll 0 0 #FFFFFF;

    color: #000000;

    font: 11px tahoma;

}

#searchsubmit {

    border-style: solid;

    border-color: white;

    font-size: 15px;

    color: white;

    font-weight: bold;

    border-width: 0px;

    background-color: transparent;

    margin-left: 0px;

    margin-right: 0px

}

.sub-menu {padding-left:0;padding-right:5px;}

.tags a {text-decoration: none}

.tags a:hover {text-decoration: underline}

.category a {text-decoration: none}

.category a:hover {text-decoration:underline }

.post {width: 549px;overflow: hidden;}



.aligncenter,

div.aligncenter {

   display: block;

   margin-left: auto;

   margin-right: auto;

}

 

.alignleft {

   float: left;

}

 

.alignright {

   float: right;

}

 

.wp-caption {

   border: 1px solid #ddd;

   text-align: center;

   background-color: #f3f3f3;

   padding-top: 4px;

   margin: 10px;

   /* optional rounded corners for browsers that support it */

   -moz-border-radius: 3px;

   -khtml-border-radius: 3px;

   -webkit-border-radius: 3px;

   border-radius: 3px;

}

 

.wp-caption img {

   margin: 0;

   padding: 0;

   border: 0 none;

}

 

.wp-caption p.wp-caption-text {

   font-size: 11px;

   line-height: 17px;

   padding: 0 4px 5px;

   margin: 0;

}









.slog {FONT-SIZE: 16px; COLOR: #888888; FONT-FAMILY: arial; padding-right:55px;}

.orline {padding-top:190px;background-image: url(/design1/images/orline.gif); background-position: top left; background-repeat: no-repeat;}

.iw {font-family: arial; FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none}

td,body {font-family: tahoma; font-size: 13px; COLOR:#313131;}

a { color:#2A327A;}

.bgmenu1 {padding-top:20px; padding-bottom:24px; background-image:  url(/design1/images/menu1.gif); background-position: left; background-repeat: repeat-y;}

.bgmenu2 {padding-left:25px;background-image:  url(/design1/images/menu2.gif); background-position: left; background-repeat: repeat-y;}

.bgmenu2_on {padding-left:14px;background-image:  url(/design1/images/menu2.gif); background-position: left; background-repeat: repeat-y;}





.bg_lin {background-image: url(/design1/images/bg_lin.jpg); background-position: rigth; background-repeat: repeat-y;}

.zag_lin { FONT-SIZE: 15px; COLOR: #052E60;  FONT-WEIGHT: bold;}



.line_rt {background-image:  url(/design1/images/line_rt.gif); background-position: top right; background-repeat: no-repeat;}

.line_rb {background-image:  url(/design1/images/line_rb.gif); background-position: top right; background-repeat: no-repeat;}



A.menu:link     {font-family: arial;FONT-SIZE: 11px; COLOR: #91877A; TEXT-DECORATION: underline}

A.menu:visited  {font-family: arial;FONT-SIZE: 11px; COLOR: #91877A; TEXT-DECORATION: underline}

A.menu:hover    {font-family: arial;FONT-SIZE: 11px; COLOR: #91877A; TEXT-DECORATION:none}

A.menu_on:link     {font-family: arial;FONT-SIZE: 11px; COLOR: #3896DD; TEXT-DECORATION: none}

A.menu_on:visited  {font-family: arial;FONT-SIZE: 11px; COLOR: #3896DD; TEXT-DECORATION: none}

A.menu_on:hover    {font-family: arial;FONT-SIZE: 11px; COLOR: #3896DD; TEXT-DECORATION:underline}



h1 { FONT-SIZE: 20px; COLOR: #ED7100; MARGIN-BOTTOM: 8px; TEXT-DECORATION:none; FONT-WEIGHT: normal;}

h2 { FONT-SIZE: 13px; COLOR: #052E60; MARGIN-BOTTOM: 4px; }

h3 { FONT-SIZE: 12px; MARGIN-BOTTOM: 4px;   }

adress { FONT-SIZE: 12px;   COLOR: #187174; }

PRE     {FONT-SIZE: 12px;   }

.data_m {	FONT-SIZE: 9px; COLOR: #187174; FONT-FAMILY: arial}

.data {	FONT-SIZE: 12px; COLOR: #F0962F; FONT-FAMILY: arial}

.group {font-family: arial;FONT-SIZE: 12px; COLOR: #7E1041; TEXT-DECORATION: underline}





.news {COLOR: #ED7100;TEXT-DECORATION: none}

.data_n {	FONT-SIZE: 10px; COLOR: #888888; FONT-WEIGHT: bold;}

.text_n {	FONT-SIZE: 12px; COLOR: #313131;TEXT-DECORATION:none;}





form{

	padding: 0;	margin: 0;

}

.button{

	font: 12px tahoma;

	background: #FFA200;

	color: #FFFFFF;

	padding: 0;

	border-left: #FFEFDE solid 1;

	border-top: #FFEFDE solid 1;

	border-right: #FFEFDE solid 1;

	border-bottom: #FFEFDE solid 1;

	FONT-WEIGHT: bold;

}

.textarea{

	font: 11px tahoma;

	color: #000000;

	background: #ffffff;

	border-top: #187174 solid 1;

	border-bottom: #187174 solid 1;

	border-left: #187174 solid 1;

	border-right: #187174 solid 1;

}

.category a {color: #888888; font-size: x-small;text-decoration: underline;}
.category {margin:0;float:left;background-image: url(/wp-content/themes/nkrf-job.ru/img/folder.gif); background-repeat: no-repeat;padding-left: 20px;}
.tags a {color: #888888; font-size: x-small;text-decoration: underline;}
.tags {background-image: url(/wp-content/themes/nkrf-job.ru/img/tag2.png); background-repeat: no-repeat;padding-left: 20px;}
.data_n {margin-right: 10px;margin-top:0;margin-bottom:0;float:left;background-image: url(/wp-content/themes/nkrf-job.ru/img/date.gif); background-repeat: no-repeat;padding-left: 20px;}
.comm {background-image: url(/wp-content/themes/nkrf-job.ru/img/comment.gif); background-repeat: no-repeat;padding-left: 20px;}
.comma a {color: #888888; font-size: x-small;}