@charset "utf-8";
* {
	margin: 0;
	padding: 0cm
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size:0.95em;
	margin: 0px;
	padding: 0px;
}
p {
	padding-top: 0.3em;
	}

.menu_big {
	text-align: left;
	font-size: small;
	color: #999;
	padding-left: 5px;
}
.menu_lit {
	font-size: smaller;
	color: #666;
	padding-left: 25px;
	white-space: nowrap;
	padding-top: 3px;
}
.Verh_menu {
	color: #333;
	font-size: 0.8em;
	font-variant: small-caps;
	text-align: center;
	text-transform: uppercase; /* Заглавные буквы */
}
.kniga {
	color: #600;
}

.text {
	padding-top: 10px;
	text-align: justify;

}
.text_otstup {
	font-size: small;
	margin-left:10px;
	font-family: Verdana, Geneva, sans-serif;
	
}
.textBold {
	font-weight: bold;
}
.text_seryi {
	color: #666;
	font-size: small;
	text-align: justify;
	padding-top: 0.5em;
}
a:link {
	color: #666;
}
a:visited {
	color: #999;
}
a:hover {
	color: #600;
}
a:active {
	color: #FFF;
	text-decoration:none
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em  ;
	color: #600;
	padding-top: 1em;
	
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: medium;
	font-weight: 300;
	padding-top: 0.4em;
	
}
h3 {font-family:Arial, Helvetica, sans-serif; font-size: medium; font-style:italic; padding-top: 0.8em; padding-left:2em; padding-bottom: 0.1em;
color:#600; font-weight: 400;
}
.remar {
	margin-left: 20px;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #600;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0em;
	margin-top: 10px;
	margin-bottom: 10px;
}


.svet_t {
	background-color: #EBC2C2;
}
.svet_s {
	background-color: #FAEFEF;
}
.text_small {
	font-size: small;
}
.svet_text_temniy {
	color: #600;
}
.nado_znat {
	color: #F00;
	text-decoration: underline;
	font-style: italic;
	padding-top: 1em;
	padding-bottom: 0.5em;
	text-indent: 20px;
}
.svet_tt {
	background-color: #600;

}
.svet_bel {
	color: #FFF;
	font-weight: bold;
}

.stroka_put {
	font-variant: small-caps;
	color: #600;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.otstup_5 {
	padding-left: 5px;
}
.otstup_25 {
	padding-left: 25px;
}


.post_div {	border-top: 1px solid gray; 
			border-bottom: 1px solid gray;
			margin-top: 1em;
			}
.post_div p { padding-top: .5em;
			}			
			
.mytable td {padding:5px;}

ul { list-style-position: inside; padding-top: 0.5em;}
li { list-style-position: inside; padding-top: 0.5em;}




.svet_tt p {color: #FFF;
	font-weight: bold;}
.seryi_strong {
	color: #666;
	padding-top: 0.8em;
	padding-left: 0.8em;
	font-weight: bold;
	font-style: italic;
}
