
.backgroundlogo{
	MARGIN: 2px 2px 10px; COLOR: #000;  BACKGROUND-COLOR: #ffffff; BACKGROUND-IMAGE: url(business4.jpg)
}
.footer{
	MARGIN: 2px 2px 10px; COLOR: #000;  BACKGROUND-COLOR: #ffffff; BACKGROUND-IMAGE: url(bg.gif)
}
.footer  A:link {
	COLOR: #030
}
.footer  A:visited {
	COLOR: #030
}
.footer  A:hover {
	COLOR: #0a0
}
.footer A:link {text-decoration: none
}
.footer A:visited {
	text-decoration: none
}
.footer A:hover {
         text-decoration: none
}

.textlogo1 {
	FONT-SIZE: 10px; FONT-FAMILY: times new roman, verdana, arial, sans-serif
}
.textlogo1{color: #008100
}
.textlogo1 {line-height: 45px
}
.textlogo2 {
	FONT-SIZE: 25px; FONT-FAMILY:  times new roman, verdana, arial, sans-serif
}
.textlogo2{color: #030
}
.textlogo2 {line-height: 30px
}
.BigPrint {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.BigPrint {
	FONT-SIZE: 14px
}
.BigPrint {
	COLOR: #008100
}
.news{
	MARGIN: 2px 2px 10px; COLOR: #000;  BACKGROUND-COLOR: #fff
}

.news {text-align: middle
}
.news A:link {
	COLOR: #030
}
.news A:visited {
	COLOR: #030
}
.news A:hover {
         COLOR: #0a0
}
.content{
	MARGIN: 2px 2px 10px; COLOR: #000;  BACKGROUND-COLOR: #fff
}


.content A:link {
	COLOR: #030
}
.content A:visited {
	COLOR: #030
}
.content A:hover {
         COLOR: #0a0
}



.Copyright {
	FONT-FAMILY: verdana, arial, sans-serif
}
.Copyright {
	FONT-SIZE: 10px
}
.Copyright {
	COLOR: #000000
}




.textCopy {
	FONT-SIZE: 14px; FONT-FAMILY:  arial cyr, verdana, sans-serif
}
.textCopy {color: #000
}



TR.nav TD {
	BORDER-RIGHT: #008100 5px solid; BORDER-TOP: #008100 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: medium none; BORDER-BOTTOM: #ffffff 1px solid
}
TR.nav TD.swath {
	BORDER-RIGHT: medium none; 
}
.navText {
	PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; LINE-HEIGHT: 35px; FONT-FAMILY:arial, verdana,  sans-serif; color: white
}
.Nav2 {
	COLOR: #030 
}
.Nav2  A:link {
	COLOR: #030
}
.Nav2  A:visited {
	COLOR: #030
}
.Nav2  A:hover {
	COLOR: #090
}
.Nav2 A:link {text-decoration: none
}
.Nav2 A:visited {
	text-decoration: none
}
.Nav2 A:hover {
         text-decoration: none
}
