/*
Theme Name: Retreat
Theme URI: http://www.woothemes.com/2010/03/retreat/
Version: 1.0
Description: Designed by <a href="http://www.woothemes.com">WooThemes</a>.
Author: WooThemes
Author URI: http://www.woothemes.com

	Copyright: (c) 2009 WooThemes.
	License: GNU/GPL Version 2 or later. http://www.gnu.org/licenses/gpl.html

*/


/* Default styles */
@import "css/reset.css";

/* 1.1 Defaults */

html, body {
	margin: 0; padding: 0; height: auto;
}
body { font: 15px/24px "Georgia", serif; color: #858b92; background-color: #fff; }

h1, h2, h3, h4, h5, h6 { margin: 0; color: #222; font-weight:normal; font-family: Georgia, sans-serif; }
h1 {font-size: 22px; } h2 {font-size: 22px;} h3 {font-size: 18px;} h4 {font-size: 16px;} h5 {font-size: 14px;} h6 {font-size: 12px;}

p {margin: 0; }

hr { background-color: #e6e6e6;	border:0; height: 1px; margin-bottom: 20px; }


/* 1.2 Hyperlinks */

a:link, a:visited { color: #111; text-decoration:none;}
a:hover { color: #333; text-decoration: underline; }

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited { }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { }



/*----------------------http://www.morestyle.ru---------------------------------*/
/* 2. CONTAINERS */
/*---------------------------http://www.morestyle.ru-----------------------------*/

#wrapper { padding:0 0 40px 0; width: 940px; margin: 0 auto; }
.col-left { float: left; }
.col-right { float: right; }
.col-full { width: 940px; margin: 0 auto; }

#header-outer { background:	#111 url(images/bg-gradient.png) repeat-y center top; margin-bottom: 30px; }
#header { text-align: center; background:	transparent url(images/bg-pattern.png) repeat center top; }

#logo { width: 820px; padding-top: 95px; margin: 0 auto; }
#logo .site-title { font-size: 82px; font-family: Georgia, serif; margin: 15px 0 35px; z-index: 999; position: relative; }
#logo .site-title a { color: #fff; }
#logo .site-title a:hover { color: #ccc; }
#logo .site-description { font-style: italic; font-size: 16px; padding: 5px 10px; display: inline !important; z-index: 1; position: relative; }
#logo img {}
#logo a:active img { margin-top: 2px; }

/* 2.2 Navigation */

#navigation { margin-top: 30px; }
#navigation a { color:#111; text-decoration:none; font-size:12px; }
#nav, #nav ul { z-index:100; margin:0; padding:0; list-style:none; line-height:1; }
#navigation a { display:block; z-index:100; padding:0 10px; line-height:30px; background-color: #222; color: #fff; }
#navigation li.current_page_item a { background-color: #fff; color: #111; }
#navigation a:hover { background:#444; }
#navigation li { float:left; width: auto; margin-right:5px; }
#navigation ul.social {}
#navigation ul.social li {display:inline;}
#navigation ul.social li a { color:#fff; background: #444 url(images/ico-twitter.png) no-repeat 10px center; padding-left: 36px;}
#navigation ul.social li a:hover { background-color: #555; }

/* 2.2.1 Drop-down menus */
#nav li ul { position: absolute; left: -999em; width: 152px; border-top: 1px solid #ddd; }
#nav li ul li { border-width: 0 1px 1px; border: 1px solid #ddd; border-top: none; text-align: left; }
#nav li ul li a { width:130px; line-height:32px; font-size:11px; color:#555; background: #FFF; }
#nav li ul li a:hover { background:#f7f7f7; }
#nav li ul ul { margin: -33px 0 0 150px; }
#nav li ul ul li a { }
#nav li ul li ul li a { }

#nav li:hover,#nav li.hover { position:static; }

#nav li:hover ul ul, #nav li.sfhover ul ul,
#nav li:hover ul ul ul, #nav li.sfhover ul ul ul,
#nav li:hover ul ul ul ul, #nav li.sfhover ul ul ul ul { left:-999em; }
#nav li:hover ul, #nav li.sfhover ul,
#nav li li:hover ul, #nav li li.sfhover ul,
#nav li li li:hover ul, #nav li li li.sfhover ul,
#nav li li li li:hover ul, #nav li li li li.sfhover ul { left:auto; }

/*-------------------------------------------------------------------------------------------*/
/* 3. QUICKLINKS */
/*----------------------------http://www.morestyle.ru----------------------------*/

#tip { display:none; position: fixed!important; z-index: 9999;top: 4px!important; padding: 1px 8px 0px 8px; font-size:11px; font-size: 11px; font-weight: bold; text-transform: uppercase; color:#333; background: #fff; }

#quicklinks-outer { margin: 0 auto; width: 600px; }
#quicklinks { font-family: Helvetica, Arial, Sans-serif; position: fixed; z-index: 9998; width: 598px; height: 35px; top: 21px; padding: 0 0 0 18px; background-color: #222; border: 1px solid #444; }
#quicklinks ul { height: 35px; line-height: 35px;}
#quicklinks li { display: inline; margin-right: 2px; padding: 4px 0; }
#quicklinks li img { cursor: pointer; }
#quicklinks li.divide { padding-right: 22px; margin-right: 18px; background: url(images/ql-divider.png) no-repeat right center; }
#quicklinks li img { vertical-align: middle; }
#quicklinks li.inactive { opacity: .30; cursor: default; }
#quicklinks form { display: inline; }




/*-------------------------------------------------------------------------------------------*/
/* 4. MAIN */
/*-------------------------------------------------------------------------------------------*/

#main{ width:640px; padding: 0 0 30px 0; margin-right: 30px; }
#maxposts {display:none}
#currentpost {display:none}



/*-------------------------------------------------------------------------------------------*/
/* 5. SIDEBAR */
/*-------------------------------------------------------------------------------------------*/

#sidebar{ width:239px; padding-left: 30px; overflow:hidden; border-left: 1px dashed #D3D3D3; }
#sidebar .primary { }

/* 5.4 Credits (footer) */
#footer-outer { background-color:#222; float:left; width: 100%; }
#footer {padding: 20px; font-size:11px; text-transform: uppercase; color:#fff; }
#footer p { font-family: Helvetica, Arial, sans-serif;}
#footer #credit img{vertical-align:middle; margin:0 5px}
#footer #credit span{display:none;}



/*--------------------------http://www.morestyle.ru----------------------------*/
/* 6. POSTS */
/*-------------------------------------------------------------------------------------------*/

#breadcrumb {}

.archive_header { display: block; float: left; width: 560px; padding: 0 0 20px 68px; text-transform: uppercase; font-size: 16px; }
.archive_header .catrss a { font-size: 14px; text-decoration: none; line-height: 23px; font-size: 11px; }

.post { margin: 0 0 40px;}
.post .icon { float: left; padding-top: 30px; border-top: 2px solid #d3d3d3; margin-right: 30px; }
.post .icon a{ width: 24px; float: left; background-color: #ddd; border: 2px solid #bbb; text-align: center; padding: 9px; }
.post.page .icon, .post.fullwidth .icon { display: none; }
.post .middle { float: left; width: 410px; padding: 30px 0 0 0; border-top: 1px dashed #d3d3d3; margin-right: 30px; overflow: hidden; }
.post .meta { float: left; width: 124px; padding: 30px 0 0 0; border-top: 2px solid #d3d3d3; font-family: Helvetica, Arial, sans-serif; font-size:11px; }
.post.page .middle { width: 640px; margin-right: 0; }
.post.fullwidth .middle { width: 940px; margin-right: 0; }

.post .title { font-size: 24px; position:relative; margin: 0 0 30px; }
.page .post .title { margin: 0 0 20px 0; }
.post .title a:link, .post .title a:visited { color:#111; }

.post .media { margin: 0 0 25px 0; }

.post.quote blockquote { margin: 0; padding: 0 0 15px 0; background: none; font: 20px/28px Georgia, Times, Serif; font-style: italic; color: #999; }
.post.quote cite { display: block; font-style: normal; font-size: 16px; font-weight: bold; text-align: right; }
.post.quote cite:before { content: '~ '; }

.post.link .media a { font-weight: bold; font-style: italic; }

.post.chat .media ul { margin: 0; padding: 0; }
.post.chat .media ul li { list-style: none; padding: 5px 10px 4px 10px; font-style: italic; }
.post.chat .media ul li .name { font-weight: bold; font-style: normal; }

.post .meta .date { display: block; margin: 0 0 25px 0; line-height: 28px;text-align: center; text-transform: uppercase; font-style: italic; font-size: 14px; color: #fff; background-color: #222; border: 1px solid #111; font-family: georgia,serif; }
.post .meta a { color: #474747; }
.post .meta a:hover { color: #000; }
.post .meta ul { font-weight: bold; border-top: 1px dashed #d3d3d3; }
.post .meta ul li a { padding: 10px 20px 10px 0; line-height: 16px; border-bottom: 1px dashed #d3d3d3; display: block; }
.post .meta ul li.comments, .post .meta ul li.tweets li.surl { text-transform: capitalize; }
.post .meta ul li.tags { font-size: 10px; text-transform: uppercase; margin-top: 20px; }
.post .meta ul li.tags a{ border: 1px dashed #ccc; padding: 5px 25px 5px 10px; color: #111; margin: 0 0 10px 0; clear: both; display: block; font-weight: normal; text-align: center;
}
.post .meta ul li.tags a:hover { background-color: #f7f7f7; }

.post .meta ul li.comments { background: url(images/ico-comments.png) no-repeat 104px center; }
.post .meta ul li.tweets { background: url(images/ico-retweet.png) no-repeat 104px center; }
.post .meta ul li.surl { background: url(images/ico-shorturl.png) no-repeat 104px center; }
.post .meta ul li.tags a { background: #eee url(images/ico-tag.png) no-repeat 102px 6px; }

.post-more {display:none; clear:both; text-transform:uppercase; }
.post-more a { text-decoration:none; font-size: 11px; font-weight: bold; }

.post p.tags{background:url(images/ico-tag.gif) no-repeat center left;padding-left:25px;width:100%;clear:both;margin-bottom:20px;}

.entry {}

/* 6.1 Typographic Elements */
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 { margin: 0 0 15px 0; text-transform: uppercase; }
.entry h1 { font-size: 20px; } .entry h2 { font-size: 18px; } .entry h3 { font-size: 16px; } .entry h4 { font-size: 14px; } .entry h5 { font-size: 12px; } .entry h6 { font-size: 12px; }

.entry p { margin: 0 0 20px 0; }

.entry blockquote { background:url(images/blockquote.png) no-repeat 0 12px; padding: 10px 20px 10px 50px; color: #444; }
.entry blockquote p { font-style:italic; }

.entry cite, .entry pre { margin-bottom: 20px;}

.entry ul { margin: 0 0 15px 0; padding: 0 0 0 15px; }
.entry ul ul { margin: 0; }
.entry ul li {	list-style-type: circle; }
.entry ul ul li { list-style-type: disc; }

.entry ol { margin: 0 0 15px 0; padding: 0 0 0 30px; }
.entry ol ol { margin: 0; }
.entry ol li { list-style-type: upper-latin; }
.entry ol li ol li { list-style-type: lower-latin; }

/* 6.2 Images */
.entry img, img.thumbnail { position: relative; display: block; padding: 4px; border: 1px dashed #ddd; background:#eee; max-width: 400px; }
.entry .gallery-item img {border-width: 1px !important; border-style: dashed !important; }
img.wp-smiley { padding: 0; border: none; background: none; display: inline; }

.alignleft { float: left; width: auto; margin: 5px 30px 5px 0; }
.alignright { float: right; width: auto; margin: 5px 0 5px 30px; }
.aligncenter { text-align: center; margin-bottom:15px;}

.entry .wp-caption { padding: 1px; text-align:center; background:#F8F8F8; border: solid 1px #e6e6e6; }
.entry .wp-caption img{ margin:0; padding:4px 0; background:none; border:0; }
.entry .wp-caption-text { margin:0; padding:0; font:11px/22px Arial, Helvetica, sans-serif; text-align:center; }

/* 6.3 Pagination / WP-Pagenavi */
.nav-entries, .wp-pagenavi {font-size:11px; padding:7px 15px 7px 5px; border: 1px solid #ddd; background: #f7f7f7; }
.nav-entries a { display: block; font:italic 12px/16px Georgia, serif; color:#777; text-decoration:none;}
.nav-entries a:hover { text-decoration:underline; }

.wp-pagenavi { margin: 0 !important; }
.wp-pagenavi a:link,
.wp-pagenavi a:visited { display: inline !important; font-weight: bold; text-decoration: none !important; background: none !important;color: #666 !important; padding: 6px 9px !important; border:none !important;}
.wp-pagenavi .current,
.wp-pagenavi .on,
.wp-pagenavi a:hover { padding: 6px 9px !important; background: #ddd !important; border:none !important; }
.wp-pagenavi span.extend, .wp-pagenavi span.pages { line-height: 27px; padding: 0 30px 0 10px!important; margin: 0!important; background:none !important; border:none!important; color:#666 !important; text-transform :uppercase; font-weight: bold; font-size: 11px; }



/*---------------------http://www.morestyle.ru-------------------------------*/
/* 7. WIDGETS */
/*-------------------------------------------------------------------------------------------*/

#widgets { }

/* 7.1 Generic Widgets */
.widget { margin: 0 0 40px 0; font-size:13px; line-height: 22px; }
.widget h3 { margin: 0 0 20px 0; font-size:20px; text-transform: capitalize; color:#000; }
.widget p { margin-bottom:15px; }

.widget ul { clear:both; list-style: none; border-bottom: 1px dashed #d3d3d3; }
.widget ul li { padding: 10px; border-top: 1px dashed #d3d3d3; }
#sidebar .widget ul li a { line-height: 26px; text-decoration: none; }
.widget ul li a:hover { color: #111; }
.widget ul ul { padding: 0 0 0 15px; border-top: none; }


/* 7.2 Specific Widgets */

/* WIDGET FORMS */
.widget_woo_search { border-bottom: 1px solid #65ace2; }
.widget_woo_search .searchform { padding: 0 0 15px 0; border-bottom: 1px solid #3877a8; }
.widget input.s { float:left; width: 70%; padding: 4px 0 4px 7px; margin-right:5px; background-color: #efefef; border-color: #3877a8 #65ace2 #65ace2 #3877a8; border-width:1px; border-style:solid;}
.widget input.s:focus { background-color: #fff; }
.widget .screen-reader-text { display: none; }
.widget input.submit { float:right; padding: 4px 5px; background-color: #3877a8; border: none; text-transform: uppercase; font-weight: bold; color: #fff; }
.widget input.submit:hover { background-color: #043255; }

/* TWITTER */
.widget_woo_retreattwitter h3 { margin: 0; padding: 0 0 20px 0; }
.widget_woo_retreattwitter .link-ancillary { margin-top: -1px; background: #222; border: 1px solid #111; text-align: center; }
.widget_woo_retreattwitter .link-ancillary a { padding: 10px; display: block; color: #fff; }
.widget_woo_retreattwitter .tweet .username { font-weight: bold; }
.widget_woo_retreattwitter .tweet img { float: right; margin: 0 0 20px 20px; padding: 3px; background-color: #fff; border: 1px solid #ddd; }
.widget_woo_retreattwitter #twitterSearch { border-top: 1px dashed #D3D3D3; }
.widget_woo_retreattwitter .tweet { border-bottom: 1px dashed #D3D3D3; padding: 20px 0; }
.widget_woo_retreattwitter .tweet p{ margin: 0; }
.widget_woo_retreattwitter .tweet span.time { font-size: 11px; }

/* BLOG AUTHOR */
.widget_woo_blogauthorinfo { margin: 0 0 30px 0; background-color: #222; color: #41410c; padding: 20px 20px 10px 20px; border: 1px solid #111; color: #fff; }
#sidebar .widget_woo_blogauthorinfo h3 { color:#ddd; font-size: 20px; }
.widget_woo_blogauthorinfo p { color:#ddd; }
.widget_woo_blogauthorinfo a { color:#fff; text-decoration: underline; }
.widget_woo_blogauthorinfo .avatar { padding: 5px; border: 1px solid #111; background:#fff;}
.widget_woo_blogauthorinfo .left { float:left; margin:0 10px 5px 0; }
.widget_woo_blogauthorinfo .right { float:right; margin:0 0 5px 10px; }

/* FLICKR */
.widget_woo_flickr h3 {}
.widget_woo_flickr h3 span{color:#0061D8;}
.widget_woo_flickr h3 span span{color:#FF1183;}
.widget_woo_flickr .flickr_badge_image { float: left; margin: 0 15px 15px 0; }

.widget_woo_flickr .wrap { position: relative; margin-right: -10px; margin-bottom: 20px; padding: 0; }
.widget_woo_flickr a img { float: left; margin: 0 0 0 0; display: block; border: #CFCFCF 1px dashed; padding: 5px; background-color: #fff; }
.widget_woo_flickr a:hover img { border:#666 1px dashed; }

/* LIFESTREAM */
.widget_lifestream ul li { border-bottom: 1px solid #e0e6e6; }
.widget_lifestream ul li a { border:none; background:none!important; }
.widget_lifestream ul .lifestream_meta { color: inherit; }

/* CALENDAR */
#wp-calendar{width:100%;margin-bottom:15px;clear:both;padding:0;}
#wp-calendar a:link, #wp-calendar a:visited { color: #fff; }
#wp-calendar a:hover { color: #043255; }
#wp-calendar caption{}
#wp-calendar th,#wp-calendar td{text-align:center;background:#65ace2;color:#28526d;padding:5px; border:1px solid #65ace2;}
#wp-calendar td{background:transparent;}
#wp-calendar td,table#wp-calendar th{padding:3px 0;}

/* ADS */
.adspace-widget { text-align: center; }
.adspace-widget h3 { text-align: left; }
.adspace-widget img { border: #CFCFCF 1px dashed; padding: 1px; background-color: #fff; }

/* 7.3 WooTabs */
#tabs {	background:#e6e6e6; height:auto; display: block; padding:5px; margin-bottom:30px; }

#tabs ul.wooTabs { padding:0px; }
#tabs ul.wooTabs li { float: left; display:inline; color: #ffffff; margin:0px; cursor: pointer; }
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover { background:#F8F8F8; text-decoration:none; }
#tabs ul.wooTabs li a {	color:#777; display: block;float: left;padding: 8px; text-transform:uppercase; }

#tabs .inside { background:#F8F8F8; padding:5px;}
#tabs .inside li { background:#fff; }
#tabs #tab-tags { padding:10px; }
#tabs .inside ul { margin:0; border: 1px solid #e6e6e6; border-width:1px 0 1px 0; }
#tabs .inside li { border:1px solid #e6e6e6; border-width:0 1px 1px 1px; padding:10px; }
#tabs .inside li a { color:#555; font:bold 12px/18px Georgia, serif; }
#tabs .inside a:hover{}
#tabs .inside li span.meta { display:block; text-transform:uppercase; color:#777; }
#tabs .inside li img.avatar, #tabs .inside li img.thumbnail { border: 1px solid #ddd; padding: 2px;	background-color: #ffffff; float: left;	margin: 0 8px 0 0; }



/*-------------------------------------------------------------------------------------------*/
/* 8. COMMENTS */
/*-------------------------------------------------------------------------------------------*/

/* 8.1 Comments */
#comments {margin-top:20px;padding:0; zoom:1;}
#commentsheader { }
#commentsheader .icon { float: left; width: 44px; height: 60px; margin-right: 30px; border-top: 2px solid #D3D3D3; background: url(images/ico-comments_big.png) no-repeat center 27px }
#commentsheader h3 { float: left; width: 410px; padding: 28px 0 20px 0; margin-right: 30px; border-top: 1px dashed #D3D3D3; }
#commentsheader .leavecomment { float: left; width: 124px; padding: 30px 0 0 0; border-top: 2px solid #D3D3D3; }
#commentsheader .leavecomment a { background-color:#222;border:1px solid #111;color:#FFFFFF;display:block;font-size:12px; margin:0 0 25px;text-align:center;text-transform:uppercase; }

#comments .commentlist { margin: 0; }
#comments .comment { width:100%;list-style-type:none; }
#comments .comment.depth-1 { border:0 !important; }
#comments .avatar-box { float: left; width: 60px; padding-top: 20px}
#comments .avatar-box img { padding: 4px; border: 1px solid #fff; background:#ebebeb; }
#comments .comment .comment-container { margin: 0px 0 20px 70px; padding: 20px 0 0 20px; border-top: 1px dashed #D3D3D3; }
#comments .comment-head { margin: 0 0 15px 0; }
#comments .comment-head .avatar img{margin: 0 10px 0 0;vertical-align: middle;border:3px solid #eee;}
#comments .comment-head .name { padding: 8px 20px 0 0; font-weight: bold; font-size: 15px; }
#comments .comment-head .comment-meta { float: right; text-align: right; color: #474747; }
#comments .comment-head .date, #comments .comment-head .edit, #comments .comment-head .perma { font-size: 11px; text-transform: uppercase; }
#comments .comment-entry p { margin: 0 0 14px 0; font-size: 12px;}

#comments ul.children{margin:0 0 0 40px;padding:0;}
 #comments .comment-reply-link { margin-bottom: 10px; }
#comments .cancel-comment-reply{ font-size: 11px; text-transform: uppercase; }
.reply a { padding: 4px 6px 3px 6px; text-transform: uppercase; font-size: 10px; color: #fff; background-color: #222; }
.repy a:hover { background-color: #666; }

#comments .navigation { }
#comments .navigation a{ display: block; margin: 15px 0 0 0; text-decoration: none; }
#comments .navigation a:hover{}

/* 8.2 Pingbacks / Trackbacks */
h3#pings { margin: 20px 0 10px 0; }
.pinglist li { margin: 0 0 0 20px; list-style-type: decimal; }
.pinglist li .author { font-weight: bold; font-size: 15px; }
.pinglist li .date { font-size: 11px; }
.pinglist li .pingcontent { display: block; margin: 10px 0; }

/* 8.3 Comments Form */
#respond { margin: 15px 0 0 68px; padding: 0; border-top: 1px dashed #D3D3D3; }
.comment-container #respond { margin: 0; padding: 0; border: none; }
#respond h3 { float: none; margin: 27px 0 0 0; font-size: 24px; font-weight: bold; }

#commentform {	margin: 15px 0 0 0; }
#commentform p {margin-bottom: 20px; }
#commentform label { font-size: 11px; text-transform: uppercase; }
#commentform input.txt, #commentform textarea { font-size: 13px; color: #393939; background-color: #f7f7f7; border: 1px solid #ddd; }
#commentform input.txt:focus, #commentform textarea:focus { background-color: #fff; }
#commentform input.txt { width: 30%; margin: 0 5px 10px 0; padding: 7px 5px; }
#commentform input#url { margin-right: 0; }
#commentform textarea { width: 97.5%!important; padding: 5px; }
#commentform #submit { }
#commentform #submit:hover { color: #884400; }


/*-------------------------------------------------------------------------------------------*/
/* 9. MISC */
/*-------------------------------------------------------------------------------------------*/

/* 9.1 Buttons */
.button, .button:visited, .reply a{ background: url(images/alert-overlay.png); display: inline-block; padding: 5px 10px 6px; color: #fff !important; text-decoration: none; border:none; position: relative; cursor: pointer; }
.button, .button:visited, .reply a{ background-color:#222; }
.button:hover, .reply a:hover { color: #fff !important; text-decoration:none; }
.button:active, .reply a:active { top: 1px; }
.small.button, .small.button:visited, .reply a { font-size: 10px; padding: 0px 6px 1px; text-transform:uppercase;}
.button, .button:visited, .medium.button, .medium.button:visited { font-size: 13px; font-weight: bold; line-height: 1; }
.large.button, .large.button:visited { font-size: 14px; padding: 8px 14px 9px; }

/* 9.2 Info Boxes */
p.alert, p.download, p.info, p.note, p.tick { margin:10px 0 20px 0; padding:9px 10px 9px 50px; }
p.alert { border-top:1px solid #f0baa2; border-bottom:1px solid #f0baa2; background:#ffd9c8 url(images/ico-alert.png) no-repeat 20px 13px; }
p.download { border-top:1px solid #d4ebaf; border-bottom:1px solid #d4ebaf; background:#edfcd5 url(images/ico-download.png) no-repeat 20px 13px; }
p.tick { border-top:1px solid #d4ebaf; border-bottom:1px solid #d4ebaf; background:#edfcd5 url(images/ico-tick.png) no-repeat 20px 13px; }
p.info { border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#eee url(images/ico-info.png) no-repeat 20px 13px; }
p.note { border-top:1px solid #efe3ae; border-bottom:1px solid #efe3ae; background:#fef6d2 url(images/ico-note.png) no-repeat 20px 13px; }

/* 9.3 Contact Form */
#contact-page .screenReader { left: -9999px; position: absolute; top: -9999px; }
#contact-page ol.forms{float:left;list-style:none;width:100%;margin:10px 0 0;}
#contact-page ol.forms li{clear:both;float:left;margin-bottom:18px;position:relative;width:100%}
#contact-page ol.forms label{cursor:pointer;display:block;float:left; text-align: right; padding-top: 3px; padding-right:20px;width:100px;}
#contact-page ol.forms input.txt{width:214px; padding: 4px 0 4px 5px; }
#contact-page ol.forms input#sendCopy{border:none;}
#contact-page ol.forms textarea{height:300px;width:400px; padding: 10px 0 0 5px;}
#contact-page ol.forms li .error{font-size:12px;display:block;margin-left:120px;color:red;}
#contact-page ol.forms li.textarea .error{display:block; margin-left:120px}
#contact-page ol.forms li.screenReader{margin-bottom:0;}
#contact-page ol.forms li.buttons .button{ margin: 5px 0 0 120px; }
#contact-page ol.forms li.buttons .submit:hover { color: #884400; }
#contact-page ol.forms li.inline input{width:auto;margin-left:120px;}
#contact-page ol.forms li.inline label{display:inline;float:none;width:auto;}


#contact-page ol.forms textarea, #contact-page ol.forms input.txt { font-size: 13px; color: #393939; background-color: #f7f7f7; border: 1px dashed #ddd; }
#contact-page ol.forms textarea:focus, #contact-page ol.forms input.txt:focus { background-color: #fff; }