#menu{
	position:relative;
	z-index:0;
	top:0;
	left:0;
	padding:0px;
	margin:0px;
	list-style:none;
	visibility: inherit;
}
li ul{
	position:relative;
	display:none;
	padding:1px;
	margin:0px;
	list-style:none;
}
li{
	position:relative;
	background-color:#E6E6FF;
	border:1px solid white;
	padding:0px;
	margin:0px;
	color:#000000;
	visibility: inherit;
}
.subMenu{
	background-repeat:no-repeat;
}
.click{
	background-color:#6664CA;
	color:#E6E6FF;
}
.click ul{
	display:block;
}
.hover, ul li a:hover{
	cursor:pointer;
	background-color:#6664CA;
	color:#E6E6FF;
}
li ul li.hover, li ul li.hover a:hover{
	background-color:#6664CA;
}
li a{
	width:40%;
}
li a, li ul li a, li.hover ul li a{
	text-decoration:none;
	color:#000000;
}
li.hover a, li ul li.hover a{
	color:#E6E6FF;
	text-decoration:underline;
}
