#left_menu{
	display: inline;
	width: 231px;
	_width: 224px;
	margin-left: 22px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #b5b5b5;
	float: left;
	margin-top: 0px;
}
#left_menu ul{
	list-style:none;
	padding-left: 0px;
	text-align: left;
	float: left;
	width: 150px;
}
#left_menu ul li{
	text-align: left;
	margin-left: 35px;
}
#left_menu ul li.item70{
	text-align: left;
	margin-left: 0px;
}
#1left_menu ul li.item71{
	text-align: left;
	margin-left: 0px;
}
#left_menu ul li.item72{
	text-align: left;
	margin-left: 0px;
}
#left_menu ul li.item73{
	text-align: left;
	margin-left: 0px;
}
#left_menu ul li.item74{
	text-align: left;
	margin-left: 0px;
}

#left_menu ul li.item121{
	text-align: left;
	margin-left: 0px;
}

#left_menu ul li.item110{
	text-align: left;
	margin-left: 0px;
}
#left_menu ul li a{
	font-family: "Arial";
	color: #000000;
	text-decoration: none;
	font-size: 13px;
}
#left_menu ul li a:hover{
	text-decoration: underline;
}

#left_menu ul li a.itemIdMenu70{
	width: 150px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #e25ca1;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 50px;
	float: left;
	text-decoration: none;
}
#1left_menu ul li a.itemIdMenu71{
	width: 150px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #00adef;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 15px;
	float: left;
	text-decoration: none;
}
#left_menu ul li a.itemIdMenu72{
	width: 130px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #000000;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 15px;
	float: left;
	text-decoration: none;
}
#left_menu ul li a.itemIdMenu73{
	width: 150px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #f7941d;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 15px;
	float: left;
	height: 35px;
	text-decoration: none;
	line-height: 30px;
}
#left_menu ul li a.itemIdMenu120{
	width: 150px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #2E3192;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 15px;
	float: left;
	height: 35px;
	text-decoration: none;
	line-height: 30px;
}
#left_menu ul li a.itemIdMenu74{
	width: 150px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #8cc63e;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 15px;
	float: left;
	height: 35px;
	text-decoration: none;
	line-height: 30px;
}

#left_menu ul li a.itemIdMenu121{
	width: 150px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #00ADEF;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 15px;
	float: left;
	height: 35px;
	text-decoration: none;
	line-height: 30px;
}

#left_menu ul li a.itemIdMenu110{
	width: 150px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #fffc00;
	font-family: "Trebuchet MS";
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 15px;
	float: left;
	height: 35px;
	text-decoration: none;
	line-height: 30px;
}
#left_nav3{
	list-style:none;
	padding-left: 35px;
	text-align: left;
	float: left;
	width: 150px;
}
#left_nav3 li{
	text-align: left;
}
#left_nav3 li a{
	font-family: "Trebuchet MS";
	color: #666666;
	text-decoration: none;
	font-size: 13px;
}
#left_nav3 li a:hover{
	text-decoration: underline;

}
.market{
	padding-left: 10px;
}
/* Vizitki*/
#left_menu ul li.item85{
	margin-left: 10px;
}
/* Otkritki*/
#left_menu ul li.item91{
	margin-left: 10px;

}


/* Mnogostranichnie izdaniya*/
#left_menu ul li a.itemIdMenu97{
	font-weight: bold;
}
#left_menu ul li.item98{
	margin-left: 10px;
	}
#left_menu ul li.item99{
	margin-left: 10px;
	}
#left_menu ul li.item100{
	margin-left: 10px;
	}
#left_menu ul li.item101{
	margin-left: 10px;
}
#left_menu ul li.item109{
	margin-left: 10px;
}
#left_menu ul li.item118{
	margin-left: 10px;
}
/* Kalendari*/
#left_menu ul li a.itemIdMenu102{
	font-weight: bold;
}
#left_menu ul li.item103{
	margin-left: 10px;
	}
#left_menu ul li.item104{
	margin-left: 10px;
	}
#left_menu ul li.item105{
	margin-left: 10px;
	}
#left_menu ul li.item106{
	margin-left: 10px;
	}
#left_menu ul li.item120{
	margin-left: 0;
	}
/* Poligraf*/
#left_menu ul li a.itemIdMenu110{
	font-weight: bold;}