@charset "windows-1251";
*{ margin: 0; padding: 0;}

body {color: #000000; font-family: "Trebuchet MS"; font-size:11px; margin:0px; min-width: 999px;}

* html #main{width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?'999px':'100%'); height:100%;}
#main{
	width: 100%;
	position: relative;
	z-index: 4;
	padding-top: 30px;
	margin: 0px;
	float: left;
}
.green_line{
	float: left;
	width: 100%;
	z-index: 5;
	background-image: url(../images/fon.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 217px;
	_margin-bottom: -20px;	
}
td.greyline {
  width: 20px;
  background: url(../images/mw_line_grey.png) 50% 0 repeat-y;
}
table.nopad {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	margin-bottom: 0px;
}

table.nopad td.middle_pad {
	width: 20px;
}

.white{
	background-color: #FFFFFF;
	float: left;
	height: 217px;
	_height: 200px;
	width: 667px;
	background-image: url(left.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.rambler_img{
	float: left;
	height: 1px;
	width: 1px;
	background-image: url(../images/top100.gif);
	background-repeat: no-repeat;
}
.logo{
	padding-left: 30px;
}
.logo_img{
	float: left;
	height: 65px;
	width: 200px;
	background-image: url(../images/logo.gif);
	background-repeat: no-repeat;
}
.banner{
	padding-left: 231px;
	z-index: 3;
	_margin-top: 1px;
}
.banner_img{
	float: left;
	height: 217px;
	width: 396px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
}

.col1	{
	padding-right: 0px;
	}
.col_fot	{
	width: 100%;
	padding-top: 70px;
	}
	.col_fot1	{
	background-color: #FFFFFF;
	height: 10px;
	width: 30px;
	padding-right: 30px;
	}
.col2	{
padding-top: 0px;
	padding-bottom: 8px;
	text-align: left;
	width: 100%;
	margin: 0px;
}

.col3	{
padding-top: 0px;
	padding-right: 0px;
	}



#top_left{
	float: left;
	width: 100%;
	background-image: url(left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 266px;
	z-index: 2;
}

#left_nav{
	list-style:none;
	text-align: left;
	padding-top: 15px;
	float: left;
	padding-left: 95px;
	margin-top: 79px;
	_margin-top: 80px;
	
	width: 176px;
	margin-left: -231px;
	_margin-bottom: -1px;
}
#left_nav li{
	display: block;
	height: 32px;
	width: 176px;
	margin-bottom: -1px;

}
#mail_main{
	padding-left: 85px;
	width: 85px;
	float: left;
	padding-top: 31px;
	_padding-top: 27px;
	z-index: 5;
}
.in_main a{
	float: left;
	height: 12px;
	width: 11px;
	padding-right: 18px;
	background-image: url(home_a.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	z-index: 5;
}
.in_main a:hover{
	float: left;
	position: relative;
	height: 12px;
	width: 11px;
	background-image: url(home_h.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	z-index: 5;
}
.in_main2 a{
	float: left;
	position: relative;
	height: 12px;
	width: 11px;
	padding-right: 18px;
	background-image: url(mail_a.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	z-index: 5;
}
.in_main2 a:hover{
	float: left;
	position: relative;
	height: 12px;
	width: 11px;
	background-image: url(mail_h.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	z-index: 5;
}
.in_main3 a{
	float: left;
	position: relative;
	height: 12px;
	width: 11px;
	padding-right: 13px;
	background-image: url(map_a.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	z-index: 5;
}
.in_main3 a:hover{
	float: left;
	position: relative;
	height: 12px;
	width: 11px;
	background-image: url(map_h.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	z-index: 5;
}
#left_nav2{
	list-style:none;
	text-align: left;
	padding-top: 22px;
	float: left;
	margin-top: 10px;
	_margin-top: 11px;
	width: 176px;
	margin-left: -65px;
	z-index: 5;
}
#left_nav2 li{
	display: block;
	height: 32px;
	width: 176px;
	margin-bottom: -1px;
	z-index: 5;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	float: left;

}
#left_nav2 li a{
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;	

}
.contacts{
	float: left;
	width: 155px;
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-align: right;
	margin-top: 65px;
	margin-left: -170px;
	line-height: 15px;
}
.contacts a:hover { text-decoration: none; }
.contacts2 a:hover { text-decoration: none; }
.contacts2{
	float: left;
	width: 150px;
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-align: right;
	margin-top: 65px;
	margin-left: 0px;
	line-height: 15px;
}
.empty{
	font-size: 11px;
	line-height: 7px;
}
.icq{
	margin-bottom: -4px;
}
.icq2{
	margin-top: 2px;
	margin-bottom: -2px;
}
h1{
	font-family: "Trebuchet MS";
	font-size: 19px;
	font-weight: bold;
	color: #333333;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 50px;
	float: left;
	text-decoration: none;
	height: 33px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #8cc63e;
	text-transform: uppercase;
	line-height: 33px;
}
div.componentheading {
 	font-family: "Trebuchet MS";
	font-size: 19px;
	font-weight: bold;
	color: #333333;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 50px;
	float: left;
	text-decoration: none;
	height: 33px;
	width: 700px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #8cc63e;
	text-transform: uppercase;
	line-height: 33px;
}
td.buttonheading {

}

td.buttonheading img {
	border:none;
}
h2{
	font-family: "Trebuchet MS";
	font-size: 19px;
	font-weight: bold;
	color: #333333;
	display: block;
	padding-left: 10px;
	margin-left: 7px;
	margin-top: 50px;
	float: left;
	text-decoration: none;
	height: 33px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #e25ca1;
	text-transform: uppercase;
	line-height: 33px;
	width: 400px;

}
.text{
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #000000;
	width: 90%;
	clear: left;
	float: left;
	padding-top: 25px;
	padding-left: 25px;
	_padding-left: 30px;
}

.grey{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #999999;
	text-decoration: none;
	line-height: 18px;
}
.italic {
	font-family: "Trebuchet MS";
	font-size: 15px;
	font-style: italic;
	color: #000000;
}
.img{
	text-align: center;
	float: left;
	width: 100%;
} 
.print_text{
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #000000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dadada;
	float: left;
	margin-left: 25px;
	_margin-left: 28px;
	padding-top: 15px;
	display: inline;
	margin-top: 30px;
	width: 90%;
}
.ru{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #f7941d;
}
.padding{
	float: left;
	padding-bottom: 15px;
	padding-left: 12px;
}
.padding2{
	float: left;
	padding-top: 15px;
	padding-right: 25px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #000000;
}
.padding3 a{
	float: right;
	padding-top: 8px;
	padding-right: 5px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #999999;
	text-decoration: none;
}
.padding3 a:hover{
	text-decoration: underline;
}
.right_news{font-family: "Trebuchet MS";
	font-size: 14px;
	color: #000000;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dadada;
	float: left;
	padding-top: 15px;
	display: inline;
	margin-top: 30px;
	width: 100%;}
.news_textus{
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #000000;
	float: left;
	text-align: left;
}
.padding4{
	padding-left: 12px;
	font-weight: bold;
}
.price_block{
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #000000;
}
.size16{
	font-family: "Trebuchet MS";
	font-size: 16px;
	color: #ff9933;
}

.topMenu td	{
	white-space:nowrap;
	color: #666666;
	padding-bottom: 12px;
	}
.topMenu td a	{
	white-space:nowrap;
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	}
.topMenu td a:hover	{
	white-space:nowrap;
	color: #666666;
	text-decoration: underline;
	}
.topMenu .s 	{
	width:3%;
	text-align: center;
	
	}
.topMenu .a	{
	width:7%;
	}
.topMenu .z	{
	width:13%;
	}

#footer_main{
	border-top: 12px #8cc63e solid;
	float: none;
	clear: both;
	width: 100%;
	margin-bottom: 25px;
}
#footer_main table{
	width: 100%;
}
.logo_print_footer{
	float: left;
	height: 65px;
	width: 200px;
	margin-top: -20px;
	padding-left: 30px;
}
.telephone{
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #000000;
	text-align: right;
	float: left;
	width: 150px;
	padding-left: 35px;
}
.e_mail{
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #000000;
	text-align: left;
	padding-left: 75px;
	float: left;
	line-height: 22px;
}
.right_e_mail{
	text-align: right;
	padding-left: 27px;
}
.right_e_mail2{
	padding-left: 55px;
}
.adres{
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #000000;
	float: left;
	padding-left: 70px;
} 
.adres_block{
	display: block;
	padding-left: 50px;
	margin-top: -18px;
}
.emule a{
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #999999;
	text-decoration: none;
}
.emule a:hover{
	text-decoration: underline;
}

/* ----- my ----- */
.txt{
	width: 100%;
	overflow: hidden;
}
.txt p{
	margin: 0 0 30px 0;
	width: 100%;
	overflow: hidden;
}
.txt h3{
	font-size: 16px;
	margin: 0 0 20px 0;
}
.txt img{
	float: left;
	margin: 0 5px 5px 0;
}
#pillmenu {
  white-space: nowrap;
  height: 32px;
  float: left;
}

#pillmenu ul {
  margin: 0;
  list-style:none;
}

#pillmenu li {
	float: left;
	background: url(../images/mw_menu_separator.png) center right no-repeat;
	margin: 0;
	padding: 0;
}
#pillmenu li.index5 {
	float: left;
	background: 0;
	margin: 0;
	padding: 0;
}

#pillmenu a {
	white-space:nowrap;
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;


	float:left;
  display:block;
  height: 24px;
  line-height: 24px;
  padding: 0 4px;


}

#pillmenu a:hover	{
	white-space:nowrap;
	color: #666666;
	text-decoration: underline;
	}
#pillmenu li.index0 a {
	white-space:nowrap;
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;


	float:left;
  display:block;
  height: 24px;
  line-height: 24px;
  padding: 0 4px;


}
#pillmenu li.index0 a:hover	{
	white-space:nowrap;
	color: #666666;
	text-decoration: underline;
	}
#phocaguestbook {
	margin-left: 7px;
	margin-top: 50px;
}
.pagination span { padding: 2px; }
.pagination a    { padding: 2px; }

.contentpaneopen p { margin: 5px 0 7px; font-size: 10pt }
.contentpaneopen li { margin: 10px 0 0 50px }
.contentpaneopen h3 { margin: 25px 0 0 0 }

.green_line_left { }
.green_line_right { }