﻿html, body 
{
	background-image:url(images/bg.jpg);
	background-repeat:repeat-y;	
	font-family:Verdana;
	font-size:12px;	

}
#Main
{
	background-image:url(images/bgform.jpg);
	background-repeat:repeat-y;
	width:1050px;
}

#tblMainTop
{

	margin-left:6px;	
}
#Head
{
	background-image:url(images/head.jpg);
	width:1000px;
	height:121px;
	background-repeat:no-repeat;	
}
#footer
{
	background-image:url(images/menu_bottom.jpg);
	background-repeat:repeat-x;
	height:145px;
	width:1000px;	
}
#logo
{
	background-image:url(images/logo.jpg);
	width:192px;
	height:118px;
	background-repeat:no-repeat;
}
#NewsHeader
{
	font-family:Verdana;
	font-size:14px;
	padding-left:15px;	
}
#about, #Virtual, #social, #tularegion, #library
{
	color:#ffffff;
	font-size:14px;
	font-weight:bold;	
	background-repeat:no-repeat;
}
.catalog
{
	background-image:url(images/catalog_caption.jpg);
	width:255px;
	height:30px;
	padding-top:7px;
	text-indent:15px;	
	font-size:20px;
	font-weight:normal;
	color:White;
	text-align:left;	
}
.catalog_bg1
{		
	height:80px;		
	padding-top:5px;
	padding-left:0px;
	margin-left:10px;
	text-align:left;
	white-space:normal;
	text-indent:0px;
	font-family:Verdana;
	font-size:12px;
}
#Header1, #Header2, #Header3,#Content1,#Content2,#Content3
{	
	background-repeat:no-repeat;	
	padding-left:10px;
	font-family:Verdana;
	font-size:12px;
}
#right_photo
{
	background-image:url(images/photo.jpg);
	background-repeat:no-repeat;
	width:288px;
	height:128px;	
}
.right_photo
{
	background-image:url(images/photo.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	width:288px;
	height:128px;	
}
#right_photo_admin
{
	background-image:url(images/photo_admin.jpg);
	width:288px;
	height:128px;	
}
.logotext
{
	font-size:23px;	
	float:left;
	width:630px;
	margin-top:10px;
}
.textsmall
{
	font-size:19px;	
}
.textsmallYear
{
	font-size:14px; 
	margin-top:10px
}
.address
{
	font-family:Verdana;
	font-size:10px;	
	margin-top:15px;
	padding-left:10px;	
}
.TitleStyle
{
	background-color:#f7e0b7;
	display:block;
	height:20px;		
}
.Virtual
{
	background-image:url(images/Virtual_caption.jpg);
	width:255px;
	height:30px;
	padding-top:7px;
	text-indent:15px;
	font-size:20px;
	font-weight:normal;
	color:White;
	text-align:left;	
}
.virtual_bg1
{	
	height:80px;
	margin-left:10px;	
	padding-top:5px;
	font-family:Verdana;
	font-size:12px;
}
.virtualText
{
	padding-left:15px; 
	font-size:18px; 
	color:White; 
	padding-top:6px; 
	display:block;
}
.form
{
	margin-left:20px; 
	padding-top:10px; 
	width:90px
}
.archive
{
	margin-left:20px; 
	padding-top:10px;	
}
.work
{
	width:110px; 
	padding-top:10px; 
	padding-left:7px;	
}
.help
{
	width:68px; 
	padding-top:10px;
}
#library
{
	background-repeat:repeat-x;	
}
.Search
{
	background-image:url(images/search_caption.jpg);
	width:257px;
	height:30px;
	padding-top:7px;
	text-indent:15px;	
	font-size:20px;
	font-weight:normal;
	color:White;
	text-align:left;	
}
.search_bg1
{	
	height:80px;
	margin-left:10px;	
	padding-top:5px;
	font-family:Verdana;
	font-size:12px;
}
.menu a
{
	display:block;	
}
.languages
{
	padding-top:5px;
	float:right;
}
.breadcrumb
{
	margin-top:10px;
	display:block;
	font-size:.8em;
}
.other
{
	color:inherit;
	visibility:hidden;	
}
.otherStyle
{
	color:red;	
}
a 
{
	color:Black;	
}
.FPbn
{
	display:none;	
}
.comments
{
	font-size:14px;
	font-style:italic;
	color:Red;
	text-align:center;	
	width:300px;
	font-weight:bold;	
}
.top
{	
	margin-top:10px;
	margin-left:15px;
	font-family:Verdana;
	font-weight:600;
	font-size:14px;
	text-align:left;	
}
.tb
{
	background-image:url(images/tbbg.jpg);
	background-repeat:repeat-y;	
	background-position:left;
}
.tbmain
{
	background-image:url(images/tbbgmain.jpg);
	background-repeat:repeat-y;	
	background-position:left;
}
.dates_header
{
	background-image:url(images/dates.jpg);
	background-repeat:no-repeat;
	width:257px;
	height:31px;	
}
.dates_top
{
	background-image:url(images/dates_top.jpg);
	background-repeat:no-repeat;
	width:257px;
	height:21px;	
}
.dates_content
{
	background-image:url(images/dates_content.jpg);
	background-repeat:repeat-y;
	width:257px;	
}
#dates
{
	display:block;
	
}
#marqueecontainer
{	
	background-color:Transparent;
	width:240px;	
	position: relative;
	height: 380px;
	overflow: hidden;
	font-family:Verdana;
	font-size:10px;
	padding-left:8px;
	padding-right:4px;
	text-align:left;
}
#tbl_Main
{
	padding-left:10px;
	font-size:12px;
	font-family:Verdana;
	
}
#tbldates_content
{
	background-image:url(images/dates_bottom.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	width:257px;
	height:205px;	
}
#top_caption
{
	background-image:url(images/top_caption.jpg);
	background-repeat:repeat-x;
	width:767px;
	height:37px;
	margin-left:6px;
	margin-top:-1px;	
}
#top_tularegion
{
	background-image:url(images/tularegion_top_1.jpg);
	background-repeat:no-repeat;	
	width:766px;
	height:37px;
}
.partners_left
{
	background-color:#e0e2de;
	width:743px;		
}
.partners_right
{
	background-color:#d7dacd;
	width:258px;	
}
.hpMonth
{
	font-family:Verdana;
	font-size:10px;
	margin-left:8px;	
}
.rnSiteMapPath
{
	font-size:16px;
	font-family:Verdana;
	color:White;	
	font-weight:bold;
}
.cnSiteMapPath
{
	font-size:14px;
	font-family:Verdana;
	color:White;	
	font-weight:bold;
}
.ndNodeStyle
{
	font-size:14px;
	font-family:Verdana;
	color:White;	
	font-weight:bold;
}
#imgPath
{
	margin-top:13px;	
}
#menu_btm_library, #menu_btm_virtual, #menu_btm_social, #menu_btm_tularegion ,#menu_btm_services , #menu_btm_TLlibrary
{
	font-size:10px;
	font-family:Verdana;
	text-align:left;
	margin-top:10px;	
}
#hpEdit
{
	padding-left:10px;	
}
#refresh
{
	background-repeat:no-repeat;
	
}
.main_bottom
{
	background-image:url(images/main_bottom.jpg);
	background-repeat:no-repeat;
	width:515px;
	height:11px;	
}
.page_bottom
{
	background-image:url(images/page_bottom.jpg);
	background-repeat:no-repeat;
	width:76px;
	height:12px;
}
.page_bottom_right
{
	background-image:url(images/page_bottom_right.jpg);
	background-repeat:repeat-x;
	width:697px;
	height:12px;
}
.rootnodelib
{
	font-size:10px;	
}
.rootnode
{
	font-size:10px;	
	_margin-left:20px;
}

div #ctl00_menu_btm_socialn3Nodes > table > tbody > tr > td > div,
div #ctl00_menu_btm_virtualn2Nodes > table > tbody > tr > td > div,
div #ctl00_menu_btm_tularegionn4Nodes > table > tbody > tr > td > div,
div #ctl00_menu_btm_servicesn1Nodes > table > tbody > tr > td > div,
div #ctl00_menu_btm_TLlibraryn5Nodes > table > tbody > tr > td > div,
div #menu_btm_socialn3Nodes > table > tbody > tr > td > div,
div #menu_btm_virtualn2Nodes > table > tbody > tr > td > div,
div #menu_btm_tularegionn4Nodes > table > tbody > tr > td > div,
div #menu_btm_servicesn1Nodes > table > tbody > tr > td > div,
div #menu_btm_TLlibraryn5Nodes > table > tbody > tr > td > div,
#ctl00_menu_btm_virtualn2Nodes table tr td div,
div #ctl00_menu_btm_virtualn2Nodes table tbody tr td div
{
	width:0px;
	display:none;	
}
.parent
{	background-image:url(images/nodestyle.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	width:192px;
	height:38px;
	color:#7e7e7e;	
	white-space:normal;	
	
}
.menu_left
{
	background-image:url(images/menu_left_bg.jpg);	
	background-repeat:repeat-y;
	background-position:2px;	
}
.tvMenu
{
	text-align:left;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	width:220px;
	margin-left:8px;	
}
.child
{
	font-weight:normal;
	color:#4f5051;
	display:block;
	width:170px;
	white-space:normal;		
}
.parent a
{
	background:none;
	
	
}
div #ctl00_tvMenun3Nodes table tbody tr td img, div #ctl00_tvMenun0Nodes table tbody tr td img,
div #ctl00_tvMenun1Nodes table tbody tr td img, div #ctl00_tvMenun2Nodes table tbody tr td img,
div #ctl00_tvMenun4Nodes table tbody tr td img,div #ctl00_tvMenun5Nodes table tbody tr td img,
div #tvMenun3Nodes table tbody tr td img, div #tvMenun0Nodes table tbody tr td img,
div #tvMenun1Nodes table tbody tr td img, div #tvMenun2Nodes table tbody tr td img,
div #tvMenun4Nodes table tbody tr td img,div #tvMenun5Nodes table tbody tr td img
{
	display:none;
}
td .parent tvMenu_2 tvMenu_8
{
	background-image:url(images/nodestylelibrary.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	width:192px;
	height:48px;
}

.nodeHover
{
	 color:#4f5051;	
}
a #tvMenut5
{
	background-image:url(images/nodestylelibrary.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	width:192px;
	height:48px;
		
	display:block;
	color:#7e7e7e;	
}
#footer_right
{
	background-image:url(images/menu_right.jpg);
	background-repeat:no-repeat;
	background-position:right 2px;	
	height:145px;	
	font-size:10px;
}
.virtual_header
{
	background-image:url(images/virtual_title.jpg);
	background-repeat:repeat-x;
	width:767px;
	height:38px;
	margin-left:6px;
	margin-top:-1px;
}
.virtual_bg_top
{
	background-image:url(images/virtual_bg_top.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	width:479px;
	height:78px;
	border-top:1px solid #406161;
	
	margin-top:-1px;	
	vertical-align:top;
	
}
.virtual_menu
{
	background-image:url(images/virtual_disable.jpg);
	background-repeat:repeat-x;	
	height:43px;	
}
.virtual_menu1
{
	background-image:url(images/virtual_disable1.jpg);
	width:115px;	
	height:43px;	
}
.virtual_menu_active
{
	background-image:url(images/virtual_active.jpg);
	width:117px;	
	height:44px;	
}
.active_top
{
	background-image:url(images/active_top.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;	
	height:8px;
	width:91px;
	margin-bottom:0px;
}
.virtual_link
{
	text-decoration:none;
	font-family:Verdana;
	font-size:12px;
	color:#a6a6a6;	
	text-align:left;
	font-weight:bold;		
}
.virtual_link_active
{
	text-decoration:none;
	font-family:Verdana;
	font-size:12px;
	color:#000000;	
	text-align:left;
	font-weight:bold;
}
.separator
{
	background-image:url(images/separate2.jpg);
	width:32px;
	height:44px;		
}
.separator_last
{
	background-image:url(images/separate3.jpg);
	width:34px;
	height:44px;	
}
.separator_active
{
	background-image:url(images/separate1.jpg);
	width:27px;
	height:43px;
}
.topPanel
{
	margin-left:6px;	
}
.right_caption
{
	background-image:url(images/info.jpg);
	background-repeat:repeat-x;
	background-color:#629393;
	width:266px;
	height:31px;
	
}
.hpCatalog
{
	background-image:url(images/btncatalog.jpg);
	width:143px;
	height:22px;
	display:block;	
	margin-left:95px;
}
.bnVirtual
{
	margin-left:105px;	
}
.bnSearch
{
	margin-left:170px;	
}
.Content
{
	margin-left:6px;
}
.divtop
{
	background-image:url(images/12.jpg);
	background-repeat:repeat-x;
	height:51px;
	
}
.separator_work
{
	background-image:url(images/13.jpg);
	background-repeat:no-repeat;
	height:51px;
	width:35px;
}
.virtual_menu_active_help
{
	background-image:url(images/virtual_active_help.jpg);
	background-repeat:no-repeat;
	width:117px;
	height:44px;
	
}

.menu_left_bottom
{
	background-image:url(images/menu_left_bottom.jpg);
	background-repeat:no-repeat;
	
	
	width:228px;
	height:11px;
	_margin-top:-1px;	
	
}
#lbRequest
{
	font-size:14px;
	font-family:Verdana;
	text-align:center;		
}
.right_bottom
{
	background-image:url(images/right_bottom1.jpg);
	width:506px;
	height:10px;
}
.right
{
	background-image:url(images/right.jpg);
	background-repeat:no-repeat;
	background-position:left bottom;
	width:266px;
	height:10px;	
}
.linkMain
{
	cursor:pointer;	
}
a.sitemap
{
	color:White;	
}



