html {height:100%;}
body{
	height:100%;
	margin:0;
	color:#252525;
	font:13px Arial, Helvetica, sans-serif;
	/*background:white url(/images/bg-body.gif) repeat-x;*/
	min-width:990px;
}
img{border-style:none;}
a{
	color:#0072bc;
	outline:none;
}
a:hover{text-decoration:none;}
input,
textarea,
select{
	outline:none;
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	width:100%;
	min-height:100%;
} 
#header{
	width:100%;
	margin-bottom:23px; 
	height:193px;
	background:white url(/images/bg-body.gif) repeat-x; 
}
.header-holder {   
	padding:9px 0 0; 
	width:100%;   
	height:112px;
	/*background:#faf9f9 url(../images/bg-header.gif) repeat-x 0 100%;*/
}
.header-frame {
	width:950px;
	margin:0 auto;
}
.header-frame:after {
	content:"";
	display:block;
	clear:both;
}
.logo{
	margin:16px 24px 0 0;
	float:left;
	background:url(/images/logo12.png) no-repeat;
	width: 190px;
	height: 42px;
	text-indent:-9999px;
	overflow:hidden;
	padding-bottom:15px;
}
.logo2{
	margin:-3px 35px 0 0;
	float:left;
	background:url(/images/logo2.png) no-repeat;
	width: 197px;
	height: 107px;
	text-indent:-9999px;
	overflow:hidden;
}
.logo a,.logo2 a{
	display:block; 
	height:100%;
}
#header .login-form {
	float:left;margin:0px; 
	margin-top:10px;
	width:178px;
	padding-bottom:2px;
	height:65px;
}
#header .options {
	list-style:none;
	margin:0;
	padding:0 0 3px;
	width:180px;
	overflow:hidden;
}
#header .options li {
	display:block;
	font-size:12px;
	color:#8c7c47;
	padding-right:3px;
}
#header .options li  a{color:#8c7c47}
.ligin_form {
	display:block;
	font-size:12px;
}
.ligin_form a{	
	color:#8c7c47;	
}
.ligin_form a.login{	
	padding-left:16px;
	background:url(/images/lock.png) no-repeat 0px 4px;
}

.ligin_form .soc{display:block;background:url(/images/login.png) no-repeat;width:20px;height:20px;margin-right:2px;float:left;margin-top:10px;}
.ligin_form .lj{background-position:-28px 0;}
.ligin_form .ok{background-position:-58px 0;}
.ligin_form .fb{background-position:-87px 0;}
.ligin_form .ya{background-position:-117px 0;}
.ligin_form .go{background-position:-148px 0;}
.ligin_form .tw{background-position:-176px 0;width:26px;}

#header .login-form .row {
	overflow:hidden;
	margin-bottom:-2px;
	width:100%;
}
#header .login-form .text {
	float:left;
	background: url(/images/bg-text.gif) no-repeat;
	width: 88px;
	margin-right:5px;
	padding:0 6px;	
}
#header .login-form .text input {
	float:left;
	width:100%;
	border:0;
	font-size:11px;
	color:#a1a1a1;
	height:14px;
	font-style:italic;
	background:none;
	padding:5px 0 4px;
}
#header .login-form .submit {
	background: url(/images/btn-enter.gif) no-repeat;
	width: 59px;
	height: 26px;
	text-align:center;
	border:0;
	cursor:pointer;
	padding-bottom:4px;
	float:left;
	color:#636363;
}
#header .login-form .submit:hover {background-position:0 -26px;}
#header .login-form .submit:active {background-position:0 -52px;}
.log-form .btn-enter a,
#header .login-form .btn-enter {
	font-size:10px;
	background: url(/images/ico02.gif) no-repeat 0 50%;
	padding-left:12px;
	text-decoration:none;
}
.log-form .btn-enter span,
#header .login-form .btn-enter span {border-bottom:1px dashed;}
.log-form .btn-enter a:hover span,
#header .login-form .btn-enter:hover span {border:0;}
#header .loged-block {
	padding:13px 0 0 15px;
}
#header .loged-block .row {
	overflow:visible;
	line-height:15px;
	margin:0 0 2px;
}
#header .loged-block .row:after{
	content:"";
	display:block;
	clear:both;
}
#header .loged-block .name {
	font-size:12px;
	float:left;
	padding-left:15px;
	margin:0 8px 0 -15px;
	position:relative;
	background: url(/images/ico06.gif) no-repeat 0 50%;
}
#header .loged-block .out {
	float:left;
	padding-left:15px;
	color:#7d7d7d;
	font-size:10px;
	text-decoration:none;
	background: url(/images/ico07.gif) no-repeat 0 50%;
}
#header .loged-block .out span {border-bottom:1px dotted;}
#header .loged-block .tools {
	list-style:none;
	margin:0;
	padding:0;
	height:1%;
	overflow:hidden;
}
#header .loged-block .tools li {
	float:left;
	font-size:10px;
	font-style:italic;
	padding:0 5px;
	margin:0 5px 0 -5px;
	background: url(/images/separator01.gif) no-repeat 0 70%;
}
#header .loged-block .tools li a {
	color:#7d7d7d;
	text-decoration:none;
}
#header .loged-block .tools li a:hover {text-decoration:underline;}
#header .info-list {
	margin:0;
	padding:15px 0 0;
	float:right;
}
#header .info-list  td{
	padding-left:16px;
	font-size:14px;
	color:#7d7d7d;
}
#header .info-list td strong {color:#252525;}
#header .info-list td img {
	float:left;
	margin:2px 3px 0 0;
}
.search-form {
	/*background: url(/images/bg-search-form.gif) no-repeat;*/
	width: 130px;
	height: 23px;
	float:left;
}
.search-form .text {
	float: left;
	padding: 0 0 0 0;
	margin: 0;
	border: 1px solid #D9D7CC;
	height: 20px;
	line-height: 20px;
	color: #99988E;
	font-size: 12px;
	width: 130px;
	border-image: initial;
}
.search-form .submit {
	float: left;
	margin: 6px 0 0 6px;
	padding: 0;
}
#nav {
	list-style:none;
	margin:-9px 0 0 -13px;
	padding:0;
	float:left;
}
#nav li {
	position:relative;
	font-size:14px;
	float:left;
	padding-right:18px;
	z-index:1;
}
#nav li a {
	cursor:pointer;
	text-decoration:none;
	float:left;
}
#nav li em {
	font-style:normal;
	float:left;
	text-decoration:underline;
	z-index:10;
	margin-right:-3px;
	position:relative;
	padding:0 13px 2px 5px;
	background:#fff url(/images/bullet01.gif) no-repeat 97% 50%;
}
#nav li a span {
	float:left;
	text-decoration:underline;
	padding:11px 0 12px;
}
#nav li:hover {z-index:2;}
#nav li a.has-drop span {
	padding-left:9px;
	text-decoration:none;
}
#nav li.active a,
#nav li:hover a {color:#636363;}
#nav li.active a em,
#nav li.active a span,
#nav li:hover a span,
#nav li:hover a em {text-decoration:none;}
#nav li:hover a.has-drop {
	padding:0 12px 0 0;
	margin-right:-12px;
	background: url(/images/bg-nav-hover.gif) no-repeat 100% 0;
}
#nav li:hover a.has-drop em {background:#fff url(/images/bullet03.gif) no-repeat 97% 50%;}
#nav li:hover a.has-drop span {background: url(/images/bg-nav-hover.gif) no-repeat;}
#nav li:hover .drop {display:block;}
#nav .drop {
	position:absolute;
	width:141px;
	top:22px;
	display:none;
	left:0;
}
#nav .drop .t {
	background: url(/images/bg-drop-top.png) no-repeat;
	height: 15px;
	text-indent:-9999px;
	overflow:hidden;
}
#nav .drop .b {
	background: url(/images/bg-drop-bottom.png) no-repeat;
	height: 19px;
	text-indent:-9999px;
	overflow:hidden;
}
#nav .drop .c {
	padding:0 8px;
	height:1%;
	background: url(/images/bg-drop-center.png) repeat-y;
}
#nav .drop .c:after {
	content:"";
	display:block;
	clear:both;
}
#nav .drop ul {
	position:relative;
	overflow:hidden;
	list-style:none;
	margin:0 0 -4px;
	padding:0;
	width:100%;
	float:left;
}
#nav .drop li {
	margin:-1px 0 1px;
	border-top:1px dotted #959595;
	line-height:16px;
	float:none;
	padding:0;
}
#nav li:hover li a {
	color:#0072bc;
	text-decoration:underline;
}
#nav .drop li:hover {background:#f1f1f1 url(/images/bg-drop-hover.gif) repeat-x;}
#nav .drop li a {
	float:none;
	display:block;
	padding:5px 6px;
}
.ad-block {
	margin-bottom:25px;
	height:98px;
	background: url(/images/bg-ad-block.gif) repeat-x;
}
.ad-block .ad-holder {
	background: url(/images/bg-ad-holder.gif) no-repeat;
	padding:4px;
	margin:0 auto;
	width:900px;
}
.ad-block .ad-holder img {display:block;}
/* main */
#main {
	width:950px;
	margin:0 auto;
	padding-bottom:220px;
}
.three-columns {
	width:960px;
	margin:0 -10px 16px 0;
	overflow:hidden;
}
.three-columns h4 {
	font-size:15px;
	font-weight:normal;
	margin:0;
	padding-top:3px;
}
.three-columns .column {
	float:left;
	width:310px;
	padding-right:10px;
}

#main .col1{width:302px;padding-right:20px}
#main .col2{width:310px;padding-right:19px;}
#main .col3{width:302px;padding-right:0px;}

.three-columns p {margin:0 0 10px;} 
.project-list {
	list-style:none;
	margin:-12px 0 12px;
	padding:0;
	width:100%;
	overflow:hidden;
}
.project-list li {
	float:left;
	width:100%;
	line-height:23px;
	font-size:17px;
	margin-top:12px;
	
}
.project-list li .bottom{
	height:15px;
	background: url(/images/bg-project-list.png) no-repeat 0 100%;
}
.project-list li .holder {

	min-height:185px;
	padding:17px 9px 3px 10px;
	background: url(/images/holder.png) no-repeat;
}
.project-list li .holder1 {

	min-height:200px;
	padding:17px 9px 3px 10px;
	background: url(/images/holder1.png) no-repeat;
}
.project-list li .holder2 {

	min-height:185px;
	padding:17px 9px 3px 10px;
	background: url(/images/holder2.png) no-repeat;
}
.project-list li .holder3 {

	min-height:200px;
	padding:17px 9px 3px 10px;
	background: url(/images/holder3.png) no-repeat;
}
.project-list li h5 {
	margin:0 0 25px;
	font-size:21px;
	font-weight:normal;
}
.project-list li h5 img {display:inline;margin-right:10px}

.project-list li .h5 {
	margin:0 0 25px;
	font-size:21px;
	font-weight:normal;
}
.project-list li .h5 img {display:inline;margin-right:10px}


.project-list li p {margin:0 0 7px;}
.project-list li a {
	color:#252525;
}
.project-list li a.a {
	font-size:12px;
	padding-left:8px;
	background: url(/images/bullet02.gif) no-repeat 1px 50%;
	color:#0072BC;
}
.banner-block {
	
	position:relative;
	width:310px;
	height:434px;
	background:url(/images/center.png);
}
.banner-block  a{
	display:block;
	float:left;
	margin:0 5px;
}
.banner-block  .block1{
	position:absolute;
	left:11px;
	top:58px;
}
.banner-block  .block2{
	position:absolute;
	left:11px;
	top:304px;
}
#main h2 {
	font-size:22px;
	line-height:18px;
	font-weight:normal;
	margin:0 0 13px;
}
#main h2 a {font-size:9px;}
#main h3 {
	font-size:18px;
	font-weight:normal;
	margin:0 0 3px;
}


#main .h2 {
	font-size:22px;
	line-height:18px;
	font-weight:normal;
	margin:0 0 13px;
}
#main .h2 a {font-size:9px;}
#main .h3 {
	font-size:18px;
	font-weight:normal;
	margin:0 0 3px;
}




.product-list {
	width:100%;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
}
.product-list li {
	float:left;
	width:100%;
	padding:9px 0 24px;
}
.product-list li .visual {
	float:left;
	padding-right:2px;
}
.product-list li .visual img {display:block;}
.product-list li .text-holder {
	height:1%;
	padding-top:3px;
	overflow:hidden;
	line-height:17px;
}
.product-list li .author {
	font:11px Arial, Helvetica, sans-serif;
	display:block;
	margin-bottom:2px;
}
.product-list li h5 {
	font:14px/20px Arial, Helvetica, sans-serif;
	margin:0 0 4px;
}
.product-list li .price {
	font-size:18px;
	line-height:24px;
	padding:0 0 3px 5px;
	display:block;
	text-align:center;
	background: url(../images/bg-price.gif) no-repeat;
	width: 86px;
}
.product-list li p {margin:0;}
.product-list .progress-line {
	width:100%;
	overflow:hidden;
	padding:3px 0 8px;
}
.product-list .progress-line .holder {
	float:left;
	background: url(../images/bg-progress-line.gif) no-repeat 0 3px;
	width: 176px;
	height: 13px;
	padding:3px 0;
}
.product-list .progress-line .frame {
	float:left;
	background: url(../images/bg-progress-holder.gif) no-repeat 100% 0;
	height: 19px;
	margin:-3px 0;
}
.product-list .progress-line span {
	float:left;
	padding-left:3px;
	font-size:12px;
	line-height:18px;
}
.three-columns .ad img {display:block;}
.three-columns .ad {padding-bottom:28px;}
.links-list {
	list-style:none;
	margin:0;
	padding:0 0 20px;
}
.links-list li {
	font-size:14px;
	padding-bottom:12px;
}
.social {
	list-style:none;
	margin:0;
	padding:11px 0 0;
	width:100%;
	overflow:hidden;
}
.social li {
	display:inline-block;
	vertical-align:middle;
	width:49%;
	padding-bottom:16px;
}
*+html .social li  {display:inline;}
.social li img {display:block;}
.log-form {
	width: 405px;
	margin:0 auto;
}
.log-form .t {
	background: url(../images/bg-login-top.gif) no-repeat;
	height: 23px;
	text-indent:-9999px;
	overflow:hidden;
}
.log-form .c {
	background: url(../images/bg-login-center.gif) repeat-y;
	padding:7px 52px 11px;
}
.log-form .b {
	background: url(../images/bg-login-bottom.gif) no-repeat;
	height: 30px;
	text-indent:-9999px;
	overflow:hidden;
}
.log-form h3 {
	text-align:center;
	margin-bottom:11px !important;
}
.log-form .btn-enter {
	padding-bottom:7px;
	text-align:right;
}
.log-form .text {
	display:block;
	height:1%;
	padding:0 10px;
	overflow:hidden;
	margin-bottom:14px;
	background: url(../images/bg-text2.gif) no-repeat;
}
.log-form .text input {
	float:left;
	width:100%;
	border:0;
	padding:7px 0 8px;
	height:17px;
	background:none;
	font-size:15px;
	font-style:italic;
	text-align:center;
	color:#898989;
}
.log-form .row {
	width:100%;
	overflow:hidden;
	padding-bottom:26px;
}
.log-form .check {
	float:left;
	width:16px;
	height:15px;
	margin:0 6px 0 0;
	padding:0;
}
.log-form .row label {
	float:left;
	line-height:13px;
}
.log-form .forgot {float:right;}
.log-form .submit {
	font-size:18px;
	color:#fff;
	background: url(../images/btn-enter2.gif) no-repeat;
	width: 81px;
	height: 38px;
	display:block;
	margin:0 auto 20px;
	cursor:pointer;
	border:0;
	text-shadow: 0 1px 0 #000;
	padding-bottom:4px;
}
.log-form .submit:hover {background-position:0 -38px;}
.log-form .submit:active {background-position:0 -76px;}
.log-form .reg {
	text-align:center;
	font-size:14px;
	width:321px;
	margin:0 -10px;
}
.info-table {
	width:100%;
	background:#fdf9cd;
	border-collapse:collapse;
	margin-bottom:18px;
}
.info-table th {
	text-align:left;
	background:#fff;
	padding:12px 10px 7px;
	font: italic 12px Arial, Helvetica, sans-serif;
}
.info-table .type {width:221px;}
.info-table .format {width:97px;}
.info-table .col {width:100px;}
.info-table .price {width:123px;}
.info-table .ex {width:153px;}
.info-table td {
	color:#555;
	padding:6px 10px;
	vertical-align:middle;
	background: url(../images/bg-info-table.gif) no-repeat 0 100%;
}
.info-table .download {
	line-height:28px;
	background: url(../images/ico-zip.png) no-repeat 0 50%;
	display:block;
	padding-left:25px;
	color:#959595;
}
.info-table .download a {margin-right:9px;}
.info-table .grey td {background:#ececec url(../images/bg-info-table.gif) no-repeat 0 100%;}
.description-list {
	list-style:none;
	margin:0;
	padding:0 0 34px;
}
.description-list li {
	font-size:10px;
	color:#555;
	padding-bottom:3px;
	width:100%;
	vertical-align:top;
}
/* content */
#content {
	float:left;
	/*width:640px;*/
	width:651px;
}
.content-holder {
	width:100%;
	overflow:hidden;
	padding-bottom:10px;
}
.news-list {
	list-style:none;
	margin:-4px 0 0;
	padding:0;
	width:100%;
	overflow:hidden;
}
.news-list  li {
	width:100%;
	vertical-align:top;
}
.news-list h5 {
	font-size:14px;
	font-weight:normal;
	margin:0 0 7px;
	padding:0;
}
.news-list .date {
	display:block;
	font-size:11px;
	margin-bottom:4px;
}
.news-list p {
	margin:0;
	line-height:17px;
}
.news-list li {padding-bottom:20px;}
.center-block {
	/*text-align:center;*/
	padding-bottom:26px;
}
#main h1 {
	font-size:32px;
	font-weight:normal;
	margin:0 0 14px;
}
#main h1 span {
	display:block;
	font-size:18px;
}
.center-block .slogan {
	display:block;
	font-weight:normal;
	font-size:16px;
}
.two-columns {
	position:relative;
	top:-9px;
	width:100%;
	margin-bottom:-9px;
	padding-bottom:20px;
}
.two-columns:after {
	content:"";
	display:block;
	clear:both;
}
/* sidebar */
#sidebar {
	float:right;
	width:296px;
}
.order-block {
	width:316px;
	margin:0 -10px 25px;
	position:relative;
}
.order-block .t {
	background: url(../images/bg-order-top.gif) no-repeat;
	height: 62px;
	text-indent:-9999px;
	overflow:hidden;
}
.order-block .b {
	background: url(../images/bg-order-bottom.gif) no-repeat;
	width: 316px;
	height: 92px;
	text-indent:-9999px;
	overflow:hidden;
}
.order-block .c {
	height:1%;
	padding:0 12px 0 11px;
	background: url(../images/bg-order-center.gif) repeat-y 1px 0;
}
.order-block .c:after {
	content:"";
	display:block;
	clear:both;
}
.order-block .holder {
	margin:-61px 0 -91px;
	float:left;
	min-height:121px;
	width:269px;
	padding:15px 12px;
	background:#fff url(../images/bg-order-block.gif) repeat-x 0 100%;
}
.two-columns #sidebar h5 {
	text-align:center;
	text-transform:uppercase;
	font-size:11px;
	font-weight:normal;
	margin:0 0 10px;
}

.two-columns #sidebar .h5 {
	text-align:center;
	text-transform:uppercase;
	font-size:11px;
	font-weight:normal;
	margin:0 0 10px;
}

.basket-list {
	list-style:none;
	margin:0 0 12px;
	padding:15px 7px 16px;
	border: solid #000;
	border-width:1px 0;
}
.summ {
	padding:0 8px;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-transform:uppercase;
}
.summ span {
	display:block;
	font-size:18px;
	text-transform:none;
}
.price-block {
	width:100%;
	margin:0 0 25px;
}
.price-block .t {
	background: url(../images/bg-price-top.gif) no-repeat;
	height: 4px;
}
.price-block .b {
	background: url(../images/bg-price-bottom.gif) no-repeat;
	height: 4px;
}
.price-block .c {
	padding:15px 9px 4px;
	background:#fcf7c0;
	border-right:1px solid #bdbdbd;
}
.price-block .holder {
	width:100%;
	padding:0;
	margin:-3px 0;
	background:none;
}
.price-block .basket-list {padding:10px 7px 9px;}
.btn-print {
	background: url(../images/btn-print.gif) no-repeat;
	width: 147px;
	height:38px;
	line-height:34px;
	font-size:18px;
	text-align:center;
	text-shadow:0 1px 0 #000;
	color:#fff;
	text-decoration:none;
	display:block;
	margin-bottom:25px;
}
.btn-print:hover {background-position:0 -38px;}
.btn-print:active {background-position:0 -76px;}
.two-columns #content {
	width:646px;
	margin:-5px 0 0 -9px;
}
.content-bottom,
.content-top {
	background: url(../images/bg-content-top.gif) no-repeat;
	height: 25px;
	text-indent:-9999px;
	overflow:hidden;
}
.content-center {
	padding:4px 29px;
	height:1%;
	overflow:hidden;
	background: url(../images/bg-content-center.gif) repeat-y;
}
.content-bottom {
	background: url(../images/bg-content-bottom.gif) no-repeat;
	height: 28px;
}
.two-columns #content h2 {
	font-size:20px;
	position:relative;
}

.two-columns #content .h2 {
	font-size:20px;
	position:relative;
}

.two-columns .row {
	padding:5px 0;
	width:100%;
	overflow:hidden;
}
.two-columns .symbols {
	float:left;
	width:289px;
}
.two-columns #content h3 {font-size:18px;}
.two-columns #content h3 a {font-size:16px;}


.two-columns #content .h3 {font-size:18px;}
.two-columns #content .h3 a {font-size:16px;}


.two-columns .line {
	width:100%;
	overflow:hidden;
	padding-bottom:4px;
}
.two-columns .line label {
	float:left;
	padding-top:1px;
}
.two-columns .line label.label {padding:4px 0 0 4px;}
.two-columns .line .cell {
	float:left;
	padding:2px 20px 14px 0;
}
.two-columns .text {
	float:left;
	background: url(../images/bg-text3.gif) no-repeat;
	width: 75px;
	padding:0 5px;
	margin-right:3px;
}
.two-columns .text input {
	background:none;
	padding:4px 0 3px;
	height:16px;
	border:0;
	float:left;
	width:100%;
}
.two-columns select {
	margin-top:2px;
	float:left;
	width:108px;
}
.two-columns .symbols .how {font-size:10px;}
.two-columns .text-holder {
	height:1%;
	overflow:hidden;
}
.two-columns .text-holder label {
	display:block;
	height:1%;
	overflow:hidden;
	padding-top:2px;
}
.two-columns .text-holder label em {
	font-size:11px;
	color:#898989;
}
.two-columns .check,
.two-columns .radio {
	width:16px;
	height:15px;
	padding:0;
	margin:1px 3px 0 1px;
	float:left;
}
.book-view {
	width:100%;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:5px 0 22px;
}
.book-view li {
	float:left;
	width:33%;
	font-size:14px;
	text-align:center;
}
.book-view li a {
	display:block;
	text-decoration:none;
}
.book-view li .visual {
	display:block;
	margin:0 auto 6px;
	width: 99px;
	height: 113px;
	line-height:113px;
}
.book-view li a:hover .visual,.book-view li.active a .visual {background: url(../images/bg-visual-hover.gif) no-repeat;}
.book-view li a:active .visual {background: url(../images/bg-visual-active.gif) no-repeat;}
.book-view li .visual img {vertical-align:middle;} 
.book-view li .name {
	display:block;
	text-decoration:underline;
	margin-bottom:5px;
}
.book-view .description {
	display:block;
	color:#636363;
	font-size:12px;
}
.print-type {
	width:100%;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:7px 0 23px;
}
.print-type li {
	float:left;
	padding:0 16px 0 6px;
}
.print-type li a {
	color:#000;
	text-decoration:none;
}
.print-type li a:hover {text-decoration:underline;}
.print-type li img {
	float:left;
	margin-right:6px;
}
.two-columns #content .divider {
	background: url(../images/divider.gif) no-repeat;
	width: 630px;
	height: 40px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 -21px -5px;
	position:relative;
}
/* footer */
#footer {
	width:100%;
	margin-top:-168px;
	position:relative;
	height:330px;
	padding-top:2px;
	font-size:11px;
	color:#636363;
	background: url(/images/footer_new.png) repeat-x;
}
.footer-holder {
	width:950px;
	margin:0 auto;
	overflow:hidden;
}
#footer .copy-block {
	width:313px;
	float:left;
}
#footer .footer-logo {
	margin:0 0 9px;
	background: url(/images/bottomlogo.png) no-repeat;
	width: 212px;
	height: 56px;
	text-indent:-9999px;
	overflow:hidden;
	display:block;
}
#footer .footer-logo a {
	display:block;
	height:100%;
}
#footer p {
	margin:0 0 10px;
}
#footer .address {font-style:normal;}
#footer .address span {
	display:block;
	padding-bottom:2px;
}
#footer .column {
	float:left;
	padding-right:55px;
	padding-top:17px;
}

#footer .map {
	float: left;
	width: 950px;
	font-size: 12px;
	line-height: 16px;
	padding: 15px 0 0 0;
	text-align: left;
}
#footer .map li a {
	color: #000000;
	text-decoration: none;
}
#footer .map li a:hover {
	text-decoration: underline;
}

#footer .footer-list {
	list-style:none;
	margin:0;
	padding:0;
}
#footer .footer-list li {
	font-size:12px;
	padding-bottom:5px;
}
#footer .footer-list li a {color:#636363;}
#footer h3 {
	font-size:16px;
	font-weight:normal;
	color:#5d5d5d;
	margin:0 0 5px;
}
#footer h3 a {
	color:#5d5d5d;
	text-decoration:none;
}
#footer h3 a:hover {text-decoration:underline;}



#footer .footer-list li {
	font-size:16px;
	font-weight:normal;
	color:#5d5d5d;
	margin:0 0 5px;
}
#footer .footer-list li a {
	color:#5d5d5d;
	text-decoration:none;
}
#footer .footer-list  li a:hover {text-decoration:underline;}


#footer .column-right {
	padding:0;
	float:right;
}



#footer  li {
	font-size:14px;
	font-weight:normal;
	color:#5d5d5d;
	margin:0 0 5px;
}
#footer  li a {
	color:#5d5d5d;
	text-decoration:none;
}

/* popup */
.popup {
	height:100%;
	width:100%;
	left:0;
	top:0;
	position:absolute;
	z-index:2;
}
.popup .bg {
	height:100%;
	width:100%;
	left:0;
	top:0;
	position:absolute;
	background: url(../images/bg-popup.png);
}
.popup .light-box {
	width:649px;
	margin-left:-325px;
	position:absolute;
	z-index:2;
	left:50%;
	top:30%;
}
.popup .t {
	background: url(../images/bg-popup-top.png) no-repeat;
	height: 27px;
	text-indent:-9999px;
	overflow:hidden;
}
.popup .b {
	background: url(../images/bg-popup-bottom.png) no-repeat;
	height: 39px;
	text-indent:-9999px;
	overflow:hidden;
}
.popup .c {
	line-height:18px;
	overflow:hidden;
	padding:20px 46px 0;
	height:1%;
	background: url(../images/bg-popup-center.png) repeat-y;
}
.popup h3 {
	font: 19px Arial, Helvetica, sans-serif;
	margin:0 0 7px;
}
.popup p {margin:0 0 14px;}
.popup .terms-list {
	list-style:none;
	margin:0;
	padding:0;
}
.popup .terms-list li {padding-bottom:6px;}
.popup .close {
	position:absolute;
	text-decoration:none;
	color:#959595;
	right:35px;
	line-height:18px;
	top:24px;
	background: url(../images/btn-close.gif) no-repeat 0 50%;
	padding:0 0 3px 17px;
}

.w100 {width:99%;}
textarea.w100{height:146px}

.hidden {display:none;}

.addel  {display:block;padding-left:25px;line-height:21px;height:21px;font-size:12px;background:url(icon_add.png) no-repeat center left;text-align:left;}


.row3 input {margin:0;}

.td1,.td2,.td3{float:left;}
.td1 {width:25%;padding-right:2%;}
.td2 {width:25%;padding-right:2%;}
.td3 {width:46%}




#books-cover-form dl {
    width:100%;
    overflow:hidden;
}
#books-cover-form .examples {
    margin:0 0 30px;
}
    #books-cover-form .tabs dt {
        display:block;
    }
    #books-cover-form .examples dt {
        font-size:13px;
        font-style:italic;
        color:#0072bc;
        margin:0 1em 0 0;
        line-height:1.1;
        padding:.4em .5em;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
    }
	#books-cover-form .examples dl dl dt {
		width:77px;
		height:98px;
    }
        #books-cover-form .examples dt label,
        #books-cover-form .examples dt a {
            border-bottom:1px solid #0072bc; 
            cursor:pointer;
        }
    #books-cover-form .examples dt.selected {
        background:#fcf8be;
        color:#636363;
    }
        #books-cover-form .examples dt.selected label,
        #books-cover-form .examples dt.selected a {
            border:none;
        }
    #books-cover-form .examples dd {
        margin-top:50px;
    }
        #books-cover-form .preview dt label {
            border:0 none;
        }
        #books-cover-form .examples dd dd dd{
            margin-top:200px;
        }
            #books-cover-form dd dd div {
                float:left; 
                width:258px;
            }
            #books-cover-form dd dd .last {
                width:59px;
                margin-right:0;
                text-align:right;
            }
                #books-cover-form dd dd div img {

                }
                #books-cover-form dd dd div .label {
                    position:relative;
                    display:block;left: 0;
					padding-right: 35px;
					text-align: center;
                }
                #books-cover-form dd dd .last .label {
                   left:5px;
                }
    #books-cover-form .checkbox {
        margin:0 0 .5em;
    }
	
	#books-cover-form span.label{text-align:left;}
	#books-cover-form .check, #books-cover-form .radio{width:auto;height:auto;}
	#books-cover-form input {
position: absolute;
left: -9999px;
}
    #books-cover-form .textarea,
    #upload-form .textarea {
        margin:2em 0;
    }
    #books-cover-form .textarea .field {
        width:100%;
    }
    #upload-form .textarea .field {
        width:80%;
    }
        #books-cover-text-submit,
        #upload-text-submit {
            float:right;
            margin-right:20%;
        }

        #books-cover-form .textarea textarea,
        #upload-form .textarea textarea {
            background:none #fff;
            width:80%;
            height:140px;
        }
    .big-cover {
        display:inline-block;
        position:relative;
        border:0 none;
        overflow:hidden;
        width:221px;
        height:283px;
        text-align:center;
    }
        .big-cover span {
            position:absolute;
            top:0;
            left:0;
            background:left top no-repeat;
            display:block;
            width:221px;
            height:283px;
            border:0 none;
        }
        .big-cover .face {
            background-image:url(overlay-cover-face.png);
        }
        .big-cover .back {
            background-image:url(overlay-cover-back.png);
        }
    .big-cover.spin {
        width:48px;
        height:279px;
    }
        .big-cover .spin {
            background-image:url(overlay-cover-spin.png);
            width:48px;
            height:279px;
        }
        .big-cover img {
            height:283px;
        }
.tabs dt {
float: left;
cursor: pointer;
}		
.tabs dd {
float: right;
width: 100%;
margin-top: 1em;
margin-left: -100%;
display: none;
}
.tabs dd.selected {
display: block;
}

#prepublishing-form .typesetting .radio {
    margin:0 1.5em 1em 0;
}
.disabled {
    color:#ccc;
}
#prepublishing-form .typesetting .hint {
    font-size:11px;
    width:100%;
    float:left;
}
#prepublishing-form .preparing .field,
#prepublishing-form .isbn .field {
    float:none;
    margin:0 0 1em;
}
#prepublishing-form .isbn {
    background:#fcf7c0;
    padding:1em;
    margin:0 -1em;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
    #prepublishing-form .isbn dt {
        color:#f26522;
        font-size:13px;
		margin-bottom:10px;
    }

.warnning {
height:29px;
background: url(/samizdal/img/red_arrow_b.png) repeat-x;
font-size:12px;
color:white;font-family:arial;
padding:5px 10px 7px 16px;
position:absolute;
z-index: 99;
}

.relative {position:relative;}

.booklink {display:block;font-size:20px;}
table.list-top{margin-left:30px}
table.list-top td{padding:0 10px 10px;vertical-align:bottom;}
table.list-top .status{font-size:15px;font-style:italic;margin:0 0 2px 0;}
table.list-top .status span{color:#00a54f}
table.list-top .status.err span{color:#f56423}

.book-list .number{
	font-size:30px;
	color:#b7b7b7;position:absolute;
	left:-10px;
	top:5px;
}

.book-list .h2{
	margin-left:40px;
	font-size:24px;
	margin-bottom:5px;
}

.book-list .params{
	margin-left:40px;
	margin-bottom:30px;
	table-layout:fixed;
}

.book-list .params th{
	vertical-align:bottom;
	font-size:12px;
	color:#959595;
	text-align:left;
	font-style:italic;
	font-weight:normal;
	white-space:nowrap;
}

.book-list .params th,.book-list .params td{padding-right:2%;padding-bottom:3px;}

.book-list .params td {vertical-align:top;}
.book-list .params th.x1{width:115px;}
.book-list .params th.x2{width:89px;}
.book-list .params th.x3{width:52px;}
.book-list .params th.x4{width:56px;}
.book-list .params th.x5{width:90px;}
.book-list .params th.x6{width:124px;}
.book-list .params th.x7{width:175px;}

.book-list .tabs {
	margin-bottom:30px;
	margin-left: -10px;
}
.book-list .tabs a{
	font-size:20px;
	padding:5px 10px;	
	color:#f36420;
}

.book-list .tabs a.active{
	background:#fcf7c0;
	color:#6e6d6b;
	text-decoration:none;
}

.no-p p {margin:0;}

.button,.button span{line-height:30px;height:30px;white-space:nowrap;margin-right:20px;padding-left:14px;color:white;font-size:17px;
-moz-text-shadow:0 -1px 1px #00a64f;
-o-text-shadow:0 -1px 1px #00a64f;
-webkit-text-shadow:0 -1px 1px #00a64f;
text-shadow:0 -1px 1px #00a64f;
display:block;float:left;background:url(btl.png) no-repeat top left;text-decoration:none}
.button span{padding-left:0;margin-right:0;padding-right:14px;float:none;background:url(btr.png) no-repeat top right;} 

.clr{clear:both;}

.book-detail .left{
	float:left;
	width:230px;
}

.book-detail .right{ 
	margin-left:250px;
}

.book-detail .params,.book-detail .h2{margin-left:0}
.book-detail .list-top{margin-left:-10px}
.book-detail .params td{padding-bottom:15px;}

.book-detail .booklink {padding-top:10px;}
.book-detail p.p {line-height:20px;margin-top:0;margin-bottom:45px;}

.book-list .h3{
	font-size:18px;
	margin-bottom:5px;
}

.disabled{
	display:none;
}

#bread {
	margin: 0;
	background:url(/images/bg-title.gif) no-repeat;
	height: 40px;
	font-size: 17px;
	line-height: 40px;
	padding: 0 19px;
	color: #fff;
	font-weight: normal;
}

/* Roadmap */
#roadmap h1 {
    margin:0 0 1.5em 0;
    font-size:24px;
}
#roadmap h2 {
    font-size:22px;
    line-height:1.15em;
    margin:0 0 1em 0;
}
#roadmap .stage {
    position:relative;
    margin:0 0 45px 0;
    overflow:auto;
    width:100%;
}
    #roadmap .stage .index {
        background:url(/images/roadmap_bg_index.png) no-repeat;
        width:45px;
        height:45px;
        font-weight:bold;
        font-size:26px;
        line-height:45px;
        color:#fff;
        text-shadow:0 -1px 0px #7D7D7D;
        text-align:center;
        position:absolute;
        top:0;
        left:0;
    }
    #roadmap .stage .picture {
        float:left;
        width:270px;
        margin:0 0 0 70px;
        display:inline;
    }
        #roadmap .stage .picture img {
            display:block;
        }
    #roadmap .stage .description {
        overflow:hidden;
        padding:0 0 0 25px;
        zoom:1;
    }
#roadmap .bonus {
    margin:0 0 120px 370px;
    font-size:18px;
}
    #roadmap .bonus ul {
        margin:0 0 2em 0;
    }
    #roadmap .bonus ul li {
        margin:0 0 1em 0;
    }
    #roadmap .bonus .button {
        margin:0 0 60px 0;
    }
/* Roadmap end */
span.selected {
    background: none repeat scroll 0 0 #DDDDDD;
    padding: 3px;
}
.rcheck input{margin-top:-5px!important;}
.tiraje {display:none;}