ul.breadcrumb-navigation
{
	padding:0; margin:0;
	padding-top:0px;
	list-style:none;
}

ul.breadcrumb-navigation li
{
	display:inline;
}

ul.breadcrumb-navigation a
{
color:#FFFFFF;	
}

ul.breadcrumb-navigation span
{
	
}