/**Top menu**/

#horizontal-multilevel-menu {	overflow: hidden;
	height: 1%;
	margin:0;
	padding:0;
	list-style:none;
	font: 14px/32px HeliosCRegular, Arial, Helvetica, sans-serif;
}
#horizontal-multilevel-menu li {
	float: left;
/**	padding: 0 5px 0 0; **/
}
#horizontal-multilevel-menu li a.root-item {
	float: left;
	text-decoration: none;
	color: #004a80;
	height: 32px;
	background:url(/images/bg-nav-l.gif) no-repeat;
}
#horizontal-multilevel-menu li a.root-item span {
	float: left;
	cursor: pointer;
	height: 32px;/*width:80px;*/
	background:url(/images/bg-nav-r.gif) no-repeat 100% 0;
	padding: 0 38px;
text-align:center;
}
#horizontal-multilevel-menu li a.root-item-selected {
	float: left;
	text-decoration: none;
	color: #004a80;
	height: 32px;
	background:url(/images/bg-nav-l.gif) no-repeat;
}
#horizontal-multilevel-menu li a.root-item-selected span {
	float: left;
	cursor: pointer;
	height: 32px;/*width:80px;*/
	background:url(/images/bg-nav-r.gif) no-repeat 100% 0;
	padding: 0 38px;
        text-align: center;
}

/*Child-items: hover*/
#horizontal-multilevel-menu ul.drop li:hover, #horizontal-multilevel-menu li.jshover
{color: #004a80;
	}

/*Child-items selected*/
#horizontal-multilevel-menu ul.drop  li.item-selected
{color: #004a80;
	}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul.drop
{
	position:absolute;
                    margin-top:32px;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;
                    list-style:none;
	height:auto;
	/*width:12em;*/
	width:239px;padding:0px;border-bottom:1px solid #ECECEE;background:# #ECECEE;
		}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li 
{
list-style:none; 
color: #004a80;
width:100%;background:url(/images/submenu.png) repeat-y;

	}

/*Item link*/
#horizontal-multilevel-menu li ul.drop a
{
	text-align:left;color: #004a80; margin-left:15px;text-decoration:none;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{text-decoration:underline;
	}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}