 .tabs1 {
	display:box; height:50px;width:900px;margin-bottom:30px;overflow:hidden;
	margin-left: -10px;
        }
 .tabs1 a{
	font-size:18px;
	padding:5px 10px 5px 10px;	
	color:#6e6d6b;text-decoration:none;
}

.tabs1 a.active{
	background:#fcf7c0;
	color:#f36420;
	text-decoration:none;
}


/* Cart Item List */
table.cart-items { width: 100%; }
table.cart-items td { border-bottom: 1px solid; white-space: nowrap; text-align:center; padding: 0.5em;}
table.cart-items td p { margin: 0 0 0.3em;}
table.cart-items td.cart-item-name p { text-align: right;}
table.cart-items td.cart-item-name { width: 100%; white-space: normal; text-align: left;}
table.cart-items td.cart-item-price {  text-align: right;}
table.cart-items thead td.cart-item-price { text-align: center;}
td.cart-item-quantity input { width: 40px; text-align: center;}
div.cart-ordering { overflow: hidden; margin-top: 1em; }
div.cart-code { float: left; }
div.cart-code input { width: 240px;}
div.cart-buttons { float: right; }
div.cart-buttons input { padding-left: 0.5em; padding-right: 0.5em; overflow: visible;}
td.cart-item-actions a.cart-delete-item { width: 16px; height: 16px;  display: inline-block; } 
td.cart-item-actions a.cart-shelve-item, td.cart-item-actions a.cart-unshelve-item { font-size: 0.85em; display: inline-block;  vertical-align: top;}
td.cart-item-actions a.cart-shelve-item { margin-left: 1em; }

/*Catalog Item List*/
table.catalog-item-filter { width: 100%; }
div.catalog-item-filter-body { width:50%; display: block;  padding-bottom: 1em;}
div.catalog-item-filter-body-inner { padding:0.5em 1em; }
div.catalog-item-filter-title { padding-bottom: 1em; display: none;} 
#js div.catalog-item-filter-title { display: block;}
#js div.catalog-item-filter-body { display: none; }
#js div.filter-active div.catalog-item-filter-body { display: block; }
div.catalog-item-filter-title a { text-decoration: none; border-bottom: 1px dashed; outline: none;}

div.filter-active div.catalog-item-filter-title span { padding: 0.35em 0.5em 0.65em; display: inline-block; }

table.catalog-item-filter td { padding: 0.3em 0;}
table.catalog-item-filter td.field-name {font-size:0.95em;  width: 55%;}
table.catalog-item-filter td.field-control { font-size:0.95em;  width: 45%;}
table.catalog-item-filter tfoot td.field-control  { white-space: nowrap;}
span.filter-textbox { display: block; width: 100%;}
span.filter-textbox input { width: 95%; float: left;}
span.filter-dropdown select { width: 100%;}

div.catalog-item-sorting { padding: 1em 0 1em;}
div.catalog-item-sorting a { margin:0 0.3em;}
div.catalog-item-sorting a.selected {padding:0.4em 0.6em 0.6em; }
body {
    color: #252525;
    font: 15px Arial,Helvetica,sans-serif;
}

div.catalog-item-sorting a.desc {padding-right: 1.3em; }
div.catalog-item-sorting a.asc {padding-right: 1.3em; }

div.catalog-item-list { padding: 1.3em 0 0 0;}
div.catalog-item  
{
	overflow: hidden; 
	margin: 0; 
	padding: 0.65em 0 0.65em 0; 
	position:static;
	border: 1px solid;
	zoom:1; 
}
div.catalog-item-separator {background: url(images/fade-catalog.gif) no-repeat left center; height: 1.7em; font-size: 1em;}
div.catalog-item-info { float: left; width: 500px;}
div.catalog-item div.catalog-item-links { float: right; width: 188px;}
div.catalog-item-title { margin-bottom: 1em;}
div.catalog-item-title a { font-size: 1.4em; margin-top: -4px;}

div.catalog-item-title span.sticker,  h1 span.sticker { color: red;  padding-right: 0.5em; padding-right: 0.2em; white-space: nowrap; vertical-align:top; }
div.catalog-item-title span.sticker { font-size: 1em;}
h1 span.sticker { font-size: 0.6em; /*line-height: 1.3em;*/ zoom:1;}

div.catalog-item-preview-text { margin-bottom: 1em; }
div.catalog-item-image {float:left; margin:4px 10px 0 0; overflow:hidden; text-align:center; width:75px; zoom:1;}
div.catalog-item-desc { margin-left:87px; }
div.no-picture-mode div.catalog-item-desc { margin-left: 0;}
div.catalog-item-price { }
div.catalog-item-price span { padding:0.2em 0.3em; display:inline-block;}

div.catalog-item-links a, div.catalog-item-links span  
{
	text-decoration: none; 
	padding-left: 20px; 
	display: block; 
	float: left; 
	clear: left; 
	margin-bottom: 1em; 
	outline: none;
	zoom:1;
	white-space: nowrap;
}

div.catalog-item-hover { position:relative;}
div.catalog-item-hover div.catalog-admin-links { display: block; }

/* Admin Links */
div.catalog-admin-links
{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	zoom:1;
}

div.catalog-admin-links a  
{
	display: block; 
	padding: 0.3em 0.6em 0.4em; 
	font-size: 0.85em;
	color: white !important;
	margin: 1px 1px 0 0;
	text-decoration: none;
	background: #dc1a35 url(images/catalog-item-btn-bg.png) repeat-x 0 0;
}

div.catalog-admin-links a:hover { text-decoration: underline;}

/* Admin Buttons */
div.catalog-admin-buttons { overflow: hidden; margin-top: 1.5em; zoom:1;}
div.catalog-admin-buttons a  
{
	float: left; 
	background: url(images/admin-button-bg.gif) no-repeat right 0; 
	height: 27px; 
	line-height: 25px; 
	text-decoration: none;
	font-family: Arial;
	font-size: 1.2em;
	padding: 0;
	margin: 0 10px 0 0;
	outline: none;
	cursor: hand;
	cursor: pointer;
}
div.catalog-admin-buttons span { display: block; height: 27px; background: url(images/admin-button-bg.gif) no-repeat; margin-right: 3px; padding:0 8px 0 11px; float: left;}
div.catalog-admin-buttons a:hover { background-position: right -27px; }
div.catalog-admin-buttons a:hover span { background-position: 0 -27px}

/* Catalog Section List */
div.catalog-section-list {margin: 2.1em 0 0 0;}
div.catalog-section  
{
	overflow: hidden; 
	margin: 0; 
	padding: 0.9em 0 0.9em 0; 
	position:static;
	border: 1px solid;
	cursor: default;
	zoom:1;
}
div.catalog-section-separator {background: url(images/fade-catalog.gif) no-repeat left center; height: 1.8em; font-size: 1em;}
div.catalog-section-hover { position: relative; }
div.catalog-section-hover div.catalog-admin-links { display: block; }

div.catalog-section-image {float:left; margin-right:10px; overflow:hidden; text-align:center; width:75px;}
div.catalog-section-info { margin-left:87px; }
div.catalog-section-desc { margin-bottom: 0.6em; width: 80%;}
div.no-picture-mode div.catalog-section-info { margin-left: 0;}
div.catalog-section-title { margin-bottom: 1em;}
div.catalog-section-title a { font-size: 1.4em; line-height: 0.7em;}
table.catalog-section-childs { width: 80%;}
table.catalog-section-childs td { width: 33.33%; padding: 0.3em 0.5em 0.3em 0; vertical-align: top;}
table.catalog-section-childs a { padding-left: 8px; display: block; }
table.catalog-section-childs a:hover { text-decoration: underline; }

/* Catalog Detail Item */
div.catalog-detail { position: static; border: 1px solid; zoom:1;}
div.catalog-detail-hover div.catalog-admin-links  { display: block; }
div.catalog-detail-hover { position: relative;}

table.catalog-detail td { padding:0; vertical-align: top;}
div.catalog-detail-line 
{
	font-size:1px;
	height:1px;
	line-height:1px;
	margin:12px 0;
	overflow:hidden;
	padding:0;
	background: url(images/title-line.gif) no-repeat;
}

div.catalog-detail-image { margin: 0 25px 0 0; border: 1px solid; padding: 2px; }
div.catalog-detail-images { overflow: hidden;  margin: 0 25px 0 0;}
div.catalog-detail-images div.catalog-detail-image { position: relative; float: left; margin: 10px 10px 0 0; width:50px; height:50px; overflow:hidden; padding: 2px; text-align:center; }
div.catalog-detail-images div.catalog-detail-image a { width: 100%; height: 100%; display: block;}
div.catalog-detail-images div.catalog-detail-image img { vertical-align: middle;}

td.catalog-detail-desc { width: 100%;}
div.catalog-detail-price { font-family: Arial; }
div.catalog-detail-price label { font-size: 1.5em; }
div.catalog-detail-price p { font-size: 1.5em; margin: 0.5em 0 0;}
div.catalog-detail-buttons { overflow: hidden; margin-top: 1.5em;}
div.catalog-detail-buttons a  
{
	float: left; 
	background: url(images/button-bg.gif) no-repeat right 0; 
	height: 33px; 
	line-height: 30px; 
	text-decoration: none;
	font-family: Arial;
	font-size: 1.5em;
	padding: 0;
	outline: none;
	cursor: hand;
	cursor: pointer;
	text-shadow:1px 1px 1px #EEEEAA;
}
div.catalog-detail-buttons span { display: block; height: 33px; background: url(images/button-bg.gif) no-repeat; margin-right: 3px; padding:0 12px 0 15px; float: left;}
div.catalog-detail-buttons a.disabled { background-position: right -33px; text-shadow:1px 1px 1px #EEE;}
div.catalog-detail-buttons a.disabled span { background-position: 0 -33px}
div.catalog-detail div.catalog-item-links { margin: 1em 0 0; overflow: hidden;}

div.catalog-detail-properties { clear: both; padding: 1em 0 0;  overflow: hidden; width: 80%; }
div.catalog-detail-property { margin: 0 0 1em; border-bottom:1px dotted; float: left; width: 100%;}
div.catalog-detail-property b { float: right; position: relative; top: 0.31em; padding-left: 3px;  font-weight:normal; }
div.catalog-detail-property span { float: left; position: relative; top: 0.31em; padding-right: 3px; zoom: 1;}
div.catalog-detail-properties-title { font-size: 1em; font-weight: bold; margin: 2em 0 1em; }

div.catalog-detail-full-desc { width: 80%; text-align: justify; word-spacing: -0.3ex;}

/*Catalog Item Card */
div.catalog-item-cards {position: relative; margin-bottom:9px; zoom:1; }

div.catalog-title{height:26px; line-height:26px; font-size:1.4em;float:left; margin-bottom:-1px; margin-top:20px;}
div.catalog-title_text{padding:0 16px 0 16px;}

div.catalog-hr{border-top:1px solid #e7e7e7; font-size:1px; line-height:1px;margin-bottom:35px;clear:both;}
table.catalog-item-card {  width: 100%; table-layout: fixed;}
table.catalog-item-card td { padding: 0; vertical-align: top;}
table.catalog-item-card tr.top td { height: 5px; border: none;}
table.catalog-item-card tr.bottom td { height: 5px; border: none;}

table.catalog-item-card td  
{
	width: 33%; 
}

div.catalog-item-card { padding: 9px 10px 10px 10px; }
div.catalog-item-card .item-image { width:75px; text-align:center; float: left; margin: 5px 10px 0 0; overflow: hidden; }
/*div.catalog-item-card .item-detail { bottom:13px; position:absolute; margin-left:85px; left:auto; clear: both; font-size: 0.85em;}*/
div.catalog-item-card .item-info { margin-left: 85px; /*margin-bottom: 1.5em;*/}
div.no-picture-mode .item-info,  div.no-picture-mode .item-detail { margin-left: 0;}
div.catalog-item-card p { margin: 0 0 0.5em; font-size: 0.85em;}
div.catalog-item-card p.item-price { padding-top: 0.2em; line-height:1.7em; margin-bottom:0;}
div.catalog-item-card p.item-price span { background: #eaeaea; padding: 0.2em 0.3em;}
div.catalog-item-card p.item-price s { color: #aaa; white-space: nowrap;}
div.catalog-item-card p.item-desc { max-height: 6em; overflow: hidden; position: relative; zoom:1; color:#6d6d6d}
div.catalog-item-card p.item-title  { font-size: 0.95em; margin:0 0 0.5em;}
div.catalog-item-card .item-desc-overlay 
{
	background:url(images/fader.png) no-repeat scroll right center transparent;
	top:5em;
	display:block;
	height:1em;
	position:absolute;
	right:0;
	width:165px;
}

/* Content Block */
div.content-block { padding: 0.85em 1.2em 1.2em; border: 1px solid; margin: 0 0 15px;}
div.content-block h3 { font-size: 1.0em; font-weight:bold; margin: 0 0 1em 0; font-family: Verdana;}

/* Special Offer Block */
div.content-block-special { border: none; }
div.content-block-special .item-image { text-align: center; margin: 1em 0;}
div.content-block-special .item-image a { border: 1px solid; display: inline-block; padding: 3px;}
div.content-block-special .item-name { margin:1em 0;}
div.content-block-special .item-desc { font-size: 0.85em; margin: 1em 0;}
div.content-block-special .item-price {font-size: 0.85em; }
div.content-block-special .item-price span { font-weight: bold;}

/* Subscribe Block */
div.content-block-subscribe { border: none; overflow: hidden;}

/* Content Block List */
dl.block-list { margin: 0; padding:0;}
dl.block-list dt { margin: 0 0 8px 0; float;left}
dl.block-list dt span{padding: 4px 9px;}
dl.block-list dt a{font-weight:bold;font-size:90.01%;}
dl.block-list dd { margin:0 0 2em; padding:0;}
dl.block-list a { text-decoration: none;}
dl.block-list a:hover {  text-decoration: underline;}

a.rss-icon { background: url(images/rss.gif) no-repeat; width: 16px; height: 16px; float: right;}

/* News List */
div.news-list { margin: 1.3em 0 2em; padding: 0;}
div.news-item { margin: 0 0 1.3em; position:relative; border:1px solid;  zoom:1; }
div.news-date { margin: 0 0 0.5em; }
div.news-detail { zoom:1;}
div.news-title { font-size: 1.2em; margin: 0 0 0.5em; }
a.news-detail-link { display: block; margin: 1em 0 0; outline: none;}

div.news-item-hover div.catalog-admin-links { display: block; }

/*FAQ List */
div.faq-list { margin: 1.3em 0 2em; }
div.faq-item {position:relative; border: 1px solid;  zoom:1; }
div.faq-item-answer { zoom:1; }
div.faq-item-hover div.catalog-admin-links { display: block; }

/* Order List */
div.order-item { margin: 0 0 2em 0; zoom:1; }
div.order-title-inner { padding: 8px 12px 10px 12px; overflow: hidden; zoom: 1;}
div.order-title-inner span { font-weight: bold; float: left;} 
div.order-title-inner a { float: right; }
div.order-title .r1 {}
div.order-title .r2, div.order-title .r0 { border-left: 1px solid; border-right: 1px solid;}

div.order-info { overflow: hidden; padding: 1em 11px 1em 11px; border-bottom: 1px solid; border-right: 1px solid; border-left: 1px solid; zoom:1; }
div.order-details { float: left; width: 60%;}
div.order-status-info { float: right; width: 30%;}
div.order-status-date { margin-bottom: 0.7em;}
div.order-status { margin-bottom: 0.7em; padding: 0.2em 0.6em 0.3em; }
div.order-status-links a { display: block; outline: none; margin-bottom: 0.3em;}

div.order-props p { margin: 0 0 0.5em 0;}
div.order-items { margin: 1em 0 0 1.5em; }
div.order-items ol { padding: 0 0 0 1.5em; margin: 0.5em 0 0;}
div.order-items li { margin: 0 0 0.5em 0;}
div.order-buttons {text-align: center;}
div.order-buttons input { padding-left: 0.5em; padding-right: 0.5em; overflow: visible;}

table.order-properties { width: 100%;}
table.order-properties td { vertical-align: top; padding:0 0.5em 0.3em; }
table.order-properties td.field-name { text-align: right; width: 50%; color: #7f7f7f;}
table.order-properties td.field-value { width: 50%; }
table.order-properties td.field-title { text-align: center; font-weight: bold; padding: 0.5em;}

div.order-checkout div.order-title-inner, div.order-full-summary div.order-title-inner { padding: 2px 12px 4px; }
div.order-checkout table.cart-items tfoot td, div.order-full-summary table.cart-items tfoot td { border: none;}
div.order-checkout div.order-item, div.order-full-summary div.order-item { margin: 0 0 1.2em 0;}