html, body, form, fieldset{
  margin:0;
  padding:0;
}

body{
	color:#000000;
	background:#e9dbb4 url(../images/bg.jpg) repeat;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	line-height:150%;
	min-width:1000px;
	font-size:16px;
}

a:link, a:visited{
	text-decoration:none;
	font-weight:normal;
	color:#0350a3;
}

a:hover{
	font-weight:normal;
    color:#e16a0b;	
}

input.button{cursor:pointer}

p{
	margin-top:0;
	margin-bottom:0px;
	text-align:justify;
}

img{border:0 none}

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/
div#wrapper{
	margin:0 auto;
	min-width:1100px;
	max-width:1200px;
	background:#dba765;	
}

div#newsflash{
	width:auto;
	margin-left:350px;
	margin-right:30px;
	border:1px solid #00f;
}

/*** Joomla! specific content elements ***/
/*****************************************/
div.offline{
	background:#fffebb;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	font-size:1.2em;
	padding:5px;
}

/*HEADERS*/
#headerwrap{
	margin:0 auto;
	min-width:1000px;
	max-width:1200px;
	height:150px;
	overflow:hidden;
	color:#9b4d00;
}

div.logo{
	float:left;
	width:310px;
	height:150px;
	background:url(../images/logo.jpg) no-repeat 10px 0px;	
}

h1#title{margin:5px 0 0 0}

h1#title a{
	font:italic bolder 200% Georgia,'Times New Roman', Times, serif;
	color:#9b4d00;
	outline:none;
	line-height:90%;
}

h1#title a span{font-size:26%}

/*Module  "TOP"*/
#topmodule{
	float:right;
	margin:5px 0 0 0;
	font-size:70%;
	color:#ffffff;
	line-height:100%;
}

#tabarea{
	background:#ddb972 url(../images/mhead.jpg) repeat;
	margin:0;
	padding:0;
	clear:both;
	border:3px solid #905a2b;
	border-top:3px solid #d3ab6d;
	border-left:3px solid #d3ab6d;
}

table.pill{
  margin-left:auto;
  margin-right:auto;
  padding:0;
}

td.pill_m{
	padding:0;
	margin:0;
	width:auto;
}

#pillmenu{
  white-space:nowrap;
  float:left;
}

#pillmenu ul{
  margin:0;
  padding:0;
  list-style:none;
}

#pillmenu li{
	float:left;
	margin:0;
	padding:0;
	text-align:center;
	width:120px;
}

#pillmenu a{
	font-size:13px;
	font-weight:bold;	
	display:block;
	color:#fff;
	text-decoration:none;
	border:2px solid #905a2b;
	border-top:2px solid #d3ab6d;
	border-left:2px solid #d3ab6d;	
}

#pillmenu a:hover{
    color:#e16a0b;
	background:url(../images/mheaddown.jpg) repeat;
	border:2px solid #d3ab6d;
	border-top:2px solid #905a2b;
	border-left:2px solid #905a2b;	
}

#pillmenu li.active a{
    color:#fff;
	background:url(../images/mheadact.jpg) repeat;
	border:2px solid #d3ab6d;
	border-top:2px solid #905a2b;
	border-left:2px solid #905a2b;		
}

#pillmenu li.active a:hover{
  color:#e16a0b;
}

/*main region*/
#whitebox{
	margin:0;
	padding:0;
	width:auto;
}

/*search&pathway*/
#search{
	float:left;
	padding:5px 0px 0px;
	margin-top:0px;
	margin-bottom:0px;
	width:200px;
}

div.search input{
	width:99%;
	border:1px solid #ccc;
	margin:0;
	float:left;
}

#pathway, #bannerplace{
	background:#f6efdc;
	margin:0 4px 8px 4px;
	padding:2px 8px;
	clear:both;
	font-size:70%;
	line-height:130%;
}
#bannerplace{text-align:center}

form#searchForm input{
	vertical-align:middle;
}

form#searchForm table{
	border-collapse:collapse;
}

form#searchForm td{
	padding:0;
}

/*main frame*/
#leftcolumn{
	float:left;
	margin:0;
	width:200px;
}

#rightcolumn{
	float:right;
	margin:0;
	width:200px;
}

/*MAIN COLUMN*/
#maincolumn,
#maincolumn_full{
	padding:0;	
	width:auto; /*!!!!!!!!!!!*/
	margin-top:0;
	text-align:left;
}

#maincolumn_full{
	margin-left:0;
	width:100%; /*ВАЖНО!*/
}

.nopad{
    border-collapse:collapse;
	padding:0;
	margin:0 4px;
	padding:0 8px;
	clear:both;
	background:#f6efdc;
}
.nopad p{
	text-indent:1.2em;
}

/* content styles */
div.componentheading{
  padding:12px 0 0;
  margin:0 0 16px 0;
}

table.contentpaneopen, table.contentpane{
	padding:0;
	margin:0;
	border-collapse:collapse;
	border:0;
}

table.contentpaneopen li{
	margin-bottom:5px;
}

table.contentpaneopen fieldset{
	border:0;
	border-top:1px solid #ddd;
}

table.contentpaneopen h3{
	margin-top:25px;
}

table.contentpaneopen h4{
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}

.highlight{
	background-color:#fffebb;
}

/*footer*/
#footer .moduletable{
	background:#e9dbb4 url(../images/bg.jpg) repeat;
	margin:2;
	padding:0;
	font-size:75%;
	line-height:120%
}

#footer .moduletable p{
	text-align:center;
}

div#podval{
	margin:4px;
	background:#F6EFDC;
}

/*carousel - Labirint.com*/
div#table_preview table{
	margin:0 auto
}

/*MAIN MENU*/
div.module_menu, div.module, div.moduletable_menu , div.moduletable{
	margin:0 4px 8px;
	padding:4px 0;
	font-size:80%;
	background:#f6efdc;
}

div.module_menu h3, div.moduletable  h3, div.moduletable_menu  h3, div.module  h3{
	font-family:Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#f0f0f0;
	background:#ddb972 url(../images/mhead.jpg) repeat;
	border:3px solid #905a2b;
	border-top:3px solid #d3ab6d;
	border-left:3px solid #d3ab6d;
	text-align:center;
	padding:2px 0;
	margin:0 4px 4px;
}

div.module_menu ul, div.moduletable_menu ul, div.moduletable ul{
	margin:-3px 0;
	padding-left:24px;
	list-style:circle;
	list-style-position:outside;	
}

div.module_menu ul li a:link, div.module_menu ul li a:visited,
div.module_menu ul li a:hover,
div.moduletable_menu ul li a:link, div.moduletable_menu ul li a:visited,
div.moduletable_menu ul li a:hover {
	font-weight:bold;
	display:block;
}

div.moduletable ul li a{
	font-weight:bold;
}

/*цвет фона пункта меню при наведении курсора*/
div.module_menu ul li:hover,
div.moduletable_menu ul li:hover {
	background:#f3e0ab;
}

/*цвет фона текущей позиции в меню*/
div.moduletable_menu li#current{
	background:#f3e0ab;
}

h1, .componentheading{
	padding:0;
	font-family:Helvetica ,Arial,sans-serif;
	font-size:135%;
	font-weight:bold;
	vertical-align:bottom;
	color:#000;
	text-align:left;
	width:100%;
}

h2, .contentheading{
	font-family:Arial, Helvetica,sans-serif;
	font-weight:bold;
	vertical-align:bottom;
	text-align:left;
	width:100%;
}

h2{font-size:130%}

h4{
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:105%;
	margin-top:15px;
	margin-bottom:0px;
}

h3, table.moduletable th, legend{
	font-family:Helvetica,Arial,sans-serif;
	font-size:115%;
	font-weight:bold;
}

/* small text */
.small{
	font-size:.90em;
	color:#999;
	font-weight:normal;
	text-align:left;
}

.modifydate{
	height:20px;
	vertical-align:bottom;
	font-size:.90em;
	color:#999;
	font-weight:normal;
	text-align:left;
}

.createdate{
	height:20px;
	vertical-align:top;
	font-size:.90em;
	color:#999;
	font-weight:normal;
	vertical-align:top;
	padding-bottom:5px;
	padding-top:0px;
}

/*читать дальше*/
a.readon{
	margin-top:10px;
	display:block;
	float:left;
	background:url(../images/mw_readon.png) top right no-repeat;
	padding-right:20px;
	line-height:14px;
	height:16px;
	font-size:80%;
}

/* form validation */
.invalid{ border-color:#ff0000; }
label.invalid{ color:#ff0000; }

/** overlib **/
.ol-foreground{
	background-color:#f0f0f0;
}

.ol-background{
	background-color:#666;
}

.ol-textfont{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

.ol-captionfont{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#f0f0f0;
	font-weight:bold;
}
.ol-captionfont a{
	color:#0B55C4;
	text-decoration:none;
	font-size:12px;
}

/* menu links */
a.mainlevel:link, a.mainlevel:visited{
	padding-left:5px;
}

/* spacers */
span.article_separator{
	margin-top:5px;
	display:block;
	border-top:1px solid #cccccc;
	width:32%;
}

.article_column{
	padding-right:5px;
}

.column_separator{
	border-left:1px dashed #e0e0e0;
	padding-left:10px;
}

td.buttonheading img{	border:none}

td.greyline{
	border-left:1px solid #cccccc;
	border-collapse:collapse;  
	width:0px;
}

div#maindivider{
  border-top:1px solid #ddd;
  margin-bottom:10px;
  overflow:hidden;
  height:1px;
}

table.blog span.article_separator{
	display:block;
	height:20px;
}

/* edit button */
.contentpaneopen_edit{
	float:left;
}

/* table of contents */
table.contenttoc{
  margin:5px;
  border:1px solid #ccc;
  padding:5px;
  float:right;
}

table.contenttoc td{
  padding:0 5px;
}

/* content tables */
td.sectiontableheader{
  background:#efefef;
  color:#333;
  font-weight:bold;
  padding:4px;
  border-right:1px solid #fff;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td{
  padding:4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2{
  padding:3px;
}

/* module control elements */
table.user1user2 div.moduletable{
	margin-bottom:0px;
}

#leftcolumn div.module table{
	width:auto;
}

/* forms */
table.adminform textarea{
  width:540px;
  height:400px;
  font-size:1em;
  color:#000099;
}

form#form-login fieldset{ border:0 none; margin:0em; padding:0.2em;}
form#form-login ul{ padding-left:20px; }

form#com-form-login fieldset{ border:0 none; margin:0em; padding:0.2em;}
form#com-form-login ul{ padding-left:20px; }

/* thumbnails */
div.mosimage        {  margin:5px; }
div.mosimage_caption{  font-size:.90em; color:#666; }

div.caption      { padding:0 10px 0 10px; }
div.caption img  { border:1px solid #CCC; }
div.caption p    { font-size:.90em; color:#666; text-align:center; }

/* Parameter Table */
table.paramlist{
	margin-top:5px;
}

table.paramlist td.paramlist_key{
	width:128px;
	text-align:left;
	height:30px;
}

table.paramlist td.paramlist_value{
}

div.message{
	font-family :"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size :14px;
	color :#c30;
	text-align:center;
	width:auto;
	background-color:#f9f9f9;
	border:solid 1px #d5d5d5;
	margin:3px 0px 10px;
	padding:3px 20px;
}

/* Banners module */
.banneritem img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

/* Text advert style */
.banneritem_text{
	padding:4px;
	font-size:11px;
}

.bannerfooter_text{
	padding:4px;
	font-size:11px;
	background-color:#F7F7F7;
	text-align:right;
}

/* System Messages */
/* see system general.css */
.pagination span{ padding:2px; }
.pagination a   { padding:2px; }

/* Polls */
.poll{
	font-size:80%;
}

.pollstableborder td{
	text-align:left;
	padding:0;
}

/* WebLinks */
span.description{
	display:block;
	padding-left:30px;
}

/* Frontend Editing*/
fieldset{
	border:1px solid #ccc;
	margin-top:15px;
	padding:15px;
}

legend{
	margin:0;
	padding:0 10px;
}

td.key{
	border-bottom:1px solid #eee;
	color:#666;
}

/* Tooltips */
.tool-tip{
	float:left;
	background:#ffc;
	border:1px solid #D4D5AA;
	padding:5px;
	max-width:200px;
}

.tool-title{
	padding:0;
	margin:0;
	font-size:100%;
	font-weight:bold;
	margin-top:-15px;
	padding-top:15px;
	padding-bottom:5px;
	background:url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text{
	font-size:100%;
	margin:0;
}

/* System Standard Messages */
#system-message{ margin-bottom:20px; }

#system-message dd.message ul{ background:#C3D2E5 url(../../system/images/notice-info.png) 4px center no-repeat;border-top:3px solid #DE7A7B; border-bottom:3px solid #DE7A7B; margin:0px; padding-left:40px; text-indent:0px;}

/* System Error Messages */
#system-message dd.error ul{ color:#c00; background:#E6C0C0 url(../../system/images/notice-alert.png) 4px center no-repeat; border-top:3px solid #DE7A7B; border-bottom:3px solid #DE7A7B; margin:0px; padding-left:40px; text-indent:0px;}

/* System Notice Messages */
#system-message dd.notice ul{ color:#c00; background:#EFE7B8 url(../../system/images/notice-note.png) 4px center no-repeat; border-top:3px solid #F0DC7E; border-bottom:3px solid #F0DC7E; margin:0px; padding-left:40px; text-indent:0px;}

#syndicate{
	width:100%;
	margin:0 auto;
}

#power_by{
	float:right;
	padding-right:25px;
}

/* Component Specific Fixes */
#component-contact table td{
	padding:2px 0;
}

/* РёР· ja-larix*/
/* Clearfix */
.clearfix:after{
	clear:both;
	display:block;
	content:".";
	height:0;
	visibility:hidden;
}

* html > body .clearfix{
	width:100%;
	display:block;
}

* html .clearfix{
	height:1%;
}

/* Firefox Scrollbar Hack - Do not remove */
html{
	margin-bottom:1px;
	height:100%!important;
	height:auto;
}
#form-login p{
	margin:0px;
}


/*ADD FOR SPECIFIC COMPONENTS*/
/*===============================================================*/

/*Phoca Gallery. Text under pagination*/
.sectiontablefooter, .pagecounter{
    font-size:14px;
}

/*Autorization*/
#mod_loginform{
	font-size:80%;
	padding-left:10px;
}