#chatoutput {

/* Height of the shoutbox*/
height: 200px;

/*Uncomment width below*/
/*width: 220px;*/

/* Horizontal Scrollbar Killer */
padding: 6px 8px; 

/* Borders */
border: 1px solid #FF3C16;
border-width: 1px 1px;

font: 11px helvetica, arial, sans-serif;
color: #333333;
background: #FFFFFF;
overflow: auto;
margin-top: 10px;
}

#chatoutput span {
font-size: 1.1em;
color: #FF3C16;
}

#chatForm label, #shoutboxAdmin {
display: block;
margin: 4px 0;
}



#chatoutput a {
font-style: normal;
font-weight: bold;
color: #FF3C16}

/* User names with links */
#chatoutput li span a {
font-weight: normal;
display: inline !important;
border-bottom: 1px dotted #FF3C16}

#chatForm textarea {
width: 150px;
}

#JalSound {
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 10px;
}


#chatoutput ul#outputList {
padding: 0;
position: static;
margin: 0;
}

#chatoutput li {
padding: 4px;
margin: 0;
color: #333333;
background: none;
font-size: 1em;
list-style: none;
text-overflow:ellipsis;
overflow:hidden;
width: 137px;
}

/* No bullets from Kubrick et al. */
#chatoutput ul#outputList li:before {
content: '';
}

ul#outputList li:first-line {
line-height: 16px;
}

#lastMessage {
padding-bottom: 2px;
text-align: center;
border-bottom: 2px dotted #666666;
}

em#responseTime {
font-style: normal;
display: block;
}

#chatoutput .wp-smiley {
vertical-align: middle;
}

.homepage {
	display: none;
}