
* {
	border:0;
	padding:0;
	margin:0;
}

body {
	background-color:#28429a;
}
.body {
	font-family:Arial;
	font-size:12px;
	width:100%;
	margin:auto;
	
}
.main {
	width:995px;
	margin:auto;
	border-left:2px solid #0e1c4b;
	border-right:2px solid #0e1c4b;
}
.header {
	width:100%;
	background:url(../images/header.jpg) repeat-x top left;
	height:126px;
}
.stat {
	width:100%;
	background:url(../images/stat.jpg) no-repeat top right;
	text-align:left;
}
.top_menu {
	width:100%;
	height:30px;
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	background:#ffffff;
	text-align:center;
}
.top_menu a {
	color:#000000;
	text-transform:uppercase;
	line-height:29px;
	text-decoration:none;
	font-weight:bold;
	font-family:"Trebuchet MS";
	background:url(../images/top_button.jpg) repeat-x;
	padding:2px 10px;
	border:1px solid #7986c0;
	
}
.bottom {
	width:100%;
	height:86px;
	background:url(../images/bottom.jpg) repeat-x top left;
}
.maintable {
	width:100%;
}
.left_menu {
	width:222px;
	background:url(../images/left_menu.jpg) repeat-y top left;
	border-right:2px solid #ffffff;
	padding:9px;
	vertical-align:top;
	padding-top:0;
}

.time , .search{
	background:url(../images/time.jpg) repeat-x top left;
	height:41px;
	line-height:41px;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
}
.time_left {
	background:url(../images/time_left.jpg) no-repeat top left;
	width:100%;
	height:41px;
	
}
.right_column {
	width:271px;
	background:#f89852;
}
.content {
	background:#f89852;
	background:url(../images/content.jpg) repeat top left;
	
}
.content a, .content a:hover{
	color:#0030ff;
	text-decoration:none;
}
.content a:visited{
	color:#1141ff;
	text-decoration:none;
}
.search {
	font-style:italic;
	font-weight:normal;
}
.left_menu .moduletable {
	width:221px;
	color:#2c4a83;
	background:#a5b8e0;
	margin:auto;
	margin-bottom:10px;
}
.left_menu .moduletable h3 , .left_menu .moduletable li{
	background:url(../images/moduleh3.jpg) no-repeat top left;
	
	padding-top:10px;
	
	color:#ffffff;
	
	
}
.left_menu .moduletable  ul {
	list-style:none;
}
.left_menu .moduletable li a, .left_menu .moduletable li span{
	color:#ffffff;
	list-style:none;
	text-transform:uppercase;
	
	/*height:38px;*/
	line-height:38px;
	padding-left:10px;
	text-decoration:none;
	font-weight:bold;
}
.left_menu .moduletable li.parent li{
	text-transform:none;
	line-height:14px;
	background:none;
	color:#2c4a83;	
	height:auto;
	
}
.left_menu .moduletable  ul ul{
	list-style-position:inside;
	color:#2c4a83;	
	padding:10px;
	background:#a5b8e0;
	text-transform:none;
	line-height:14px;
	list-style:disc;
	margin-left:20px;
}
.left_menu .moduletable  ul ul li {
	padding-top:0px;
	padding-left:0px;
}
.left_menu .moduletable  ul ul a, .left_menu .moduletable  ul ul span{
	color:#2c4a83;	
	text-transform:none;
	padding-left:0;
	line-height:16px;
	font-weight:bold;
	text-decoration:none;
}
.left_menu .moduletable  ul ul a:hover{
	color:#1d3263;
}
.left_menu .moduletable  ul ul li#current a{
	color:#1d3263;
}
.right_column {
	background:url(../images/right_column.jpg) repeat-y top right;
	vertical-align:top;

	
	color:#2c4a83;
}
.right_column_top {
	background:url(../images/right_column_top.jpg) no-repeat top right;
	height:22px;


}
.right_column_con {
	padding-top:10px;
	padding-left:35px;
	width:201px;
	font-weight:bold;
	line-height:16px;
}
.content{
	
	vertical-align:top;
}
.welcome {
	width:100%;
	height:60px;
	background:url(../images/welcome.jpg) #f89852 no-repeat top ;
}
.sep {
	width:10px;
	background:#f89852;
}
.inner {
	
	
}
#qcontacts {
	width:452px;
}
.contentpaneopen{
	width:515px;
}

.contentpaneopen td{
	width:100%;
}
.contentheading , .componentheading, #contact-name, .content .moduletable h3{
	background:url(../images/heading.jpg) no-repeat top left;
	text-transform:uppercase;
	color:#ffffff;
	height:40px;
	line-height:33px;
	padding-left:20px;
	width:100%;
	font-weight:bold;
	vertical-align:top;
	font-size:18px;
}
.blog td {
	padding:0 10px;
}
.blog .contentheading {
	background:none;
	text-transform:none;
	color:#000000;
	font-size:14px;
	padding:0;
	/*padding-left:10px;*/
}
 #contact-name p{
	line-height:33px;
 }
.contentpaneopen td, .componentpaneopen td, #qcontacts, .contentpane td{
	padding:0 10px 10px 10px;
	
}
.contentpaneopen td table, .componentpaneopen td table, .contentpane td table {
	padding:0;
}
.content ul {
	list-style-position:inside;
}
hr {
	color:#2c4a83;
	border:1px solid #2c4a83;
}
#form-login {
	text-align:center;
}
#form-login input {
	border:1px solid #2c4a83;
}
#form-login ul{
	list-style:none;
}

#form-login ul li{
	padding:5px 0;
}
#form-login ul li a{
	text-decoration:none;
	color:#0030ff;
}
#chatoutput  {
	border:1px solid #ad9770;
	background:url(../images/chat.gif) left top repeat-y;
	height:330px;
}
#chatForm{
	text-align:center;
}
#chatForm textarea{
	border:1px solid #ad9770;
	background:url(../images/chat.gif) left top repeat-y;
	width:200px;
}
#chatoutput span,#chatoutput li span a{
	color:#324e84;
}
input , button, textarea, select {
	border:1px solid #2c4a83;
}
span.mainlevel{
	/*background: url(../images/menu_sep.jpg) top no-repeat;*/
	padding:0 10px;
	width:20px;
	
}
#com-form-login {
	padding:0 20px;
}

.content .moduletable table {
	padding:0 10px ;
}
.allnews {
	padding:10px;
	font-weight:bold;
}
.bottom a {
	text-decoration:none;
	color:#ffffff;
	line-height:30px;
	font-weight:bold;
	padding:0 10px;
}
ul.latestnews {
	list-style:none;
}
#searchForm {
	padding:0 10px;
}