/*Main*/
a {
color:#0066FF;
text-decoration:none;
}
acronym {
cursor:help;
}
a:hover {
color:#ff5a00;
text-decoration:underline;
}
h1 {
margin:0px;
}
body {
background-image:url(img/bg.jpg);
font-family:Verdana,Tahoma;
font-size:12px;
color:#333333;
}
p {
margin:15px;
text-align:justify;
}
a img {
border:none;
}
.main_table {
border:1px solid #999999;
width:900px;
background-color:white;
}
.center_td {
vertical-align:top;
background-image:url(img/centertd.jpg);
border-bottom:1px solid #f4f4f4;
width:74%;
}
.content {
line-height:20px;
}
.right_td {
vertical-align:top;
border-left:1px solid #f2f2f2;
background-color:#F3F9FD;
}
.bottom_td {
background-color:#E6E6E6;
height:200px;
vertical-align:top;
background-image:url(img/bottom.jpg);
background-repeat:no-repeat;
background-position:top;
}
.extra {
margin:20px 0px 0px 48px;
border:3px solid #999999;
width:800px;
height:160px;
background-color:#F3F9FD;
}
.extra li {
list-style:none;
margin-left:-50px;
}
.extra h3 {
margin-top:5px;
font-size:13px;
color:#CC0066;
font-style:italic;
font-family:Sans-Serif;
}
.popular_articles {
float:left;
margin-left:50px;
}
.popular_lessons {
float:right;
margin-right:50px;
}
.header {
height:200px;
width:900px;
}
.copyright {
background-image:url(img/copyright.jpg);
}
.copyright h3{
font-size:11px;
margin:15px;
}
.copyright a{
text-decoration:none;
color:#009900;
}
.rightmenu {
padding-bottom:5px;
font-family:Tahoma, Verdana;
background-image:url(img/rightmenu.png);
background-repeat:no-repeat;
background-position:bottom;
margin-top:15px;
font-weight:bold;
color:#0E6B97;
margin-bottom:15px;
}
.cat_link {
color:#006633;
font-family:Verdana,Tahoma;
margin:4px 15px 4px 15px;
}
#cat_lesson {
color:#0066ff;
}
.cat_link a {
color:#929882;
font-size:11px;
text-decoration:none;
}
.cat_link a:hover {
color:#cc0000;
}
.cat_link span{
font-size:10px;
color:#660033;
}
.cat_link font{
font:bold 12px Georgia;
}
.last_link {
color:#999900;
font-family:Verdana,Tahoma;
font-size:11px;
margin:4px 15px 4px 15px;
}
.last_link a {
color:#929882;
font-size:11px;
text-decoration:underline;
}
.last_link a:hover {
text-decoration:none;
}
.last_link strong {
padding-bottom:15px;
}
.last_link img {
border:1px solid #999999;
margin-right:5px;
margin-bottom:10px;
}
.last_cat_link {
font-size:11px;
color:#333333;
text-decoration:none;
border-bottom:1px solid #EEEEEE;
margin: 0px 15px 0px 15px;
padding-bottom:5px;
}
.last_cat_link a{
color:#F26C4F;
font-weight:bold;
text-decoration:none;
}
/*articles.html*/
.warning {
background-color:#FFFFCC;
font-weight:bold;
border:1px dashed #666666;
padding-top:15px;
padding-bottom:15px;
padding-left:15px;
}
/*article.html*/
.postovoy {
line-height:14px;
border:1px solid #FFCC00;
margin:0px 30px 20px 25px;
background-color:#FFFFCC;
}
.content-list {
list-style:none;
}
.img_content{
margin-right:10px;
border:1px solid #999999;
padding:1px;
}
.img_goodies{
margin:0px 10px 0px 15px;
border:1px solid #999999;
padding:1px;
}
.price_goodies {
float:right;
margin:-50px 30px 0px 0px;
border:1px dotted #666666;
background-color:#99CCFF;
padding:7px;
text-align:center;
font:bold 17px Georgia, Arial;
color:#333333;
}
.rating select {
border:1px solid #333333;
}
.rating input {
background-color:#666666;
border:1px solid black;
color:white;
font:bold 15px Georgia;
}
.write_rat {
font:11px Georgia, Arial;
color:#990000;
}
.article_name {
font-size:14px;
color:#cc0000;
margin-top:10px;
}
.article_date {
padding-bottom:5px;
border-bottom:1px dashed #666666;
font-size:11px;
font-family:Tahoma, Verdana;
margin-top:4px;
}
.article_cat{
padding-top:5px;
border-top:1px dashed #666666;
font-size:11px;
font-family:Tahoma, Verdana;
margin-bottom:4px;
}
.article_view {
margin-top:4px;
margin-bottom:4px;
font-size:11px;
font-family:Tahoma, Verdana;
}
.article_cat a{
color:#000066;
text-decoration:none;
}
/*community.html*/
.inputs {
border:1px solid #666666;
background-color:#FFFFCC;
}
.button {
float:right;
margin:-60px 54px 0px 0px;
background-image:url(img/button.jpg);
width:121px;
height:35px;
border:none;
font:Arial 13px;
text-transform:uppercase;
font-weight:bold;
color:white;
cursor:pointer;
}
.sum_img {
border:1px solid #666666;
margin-top:10px;
}
/*comments*/
.comment{
margin-bottom:0px;
font-size:11px;
padding-left:30px;
padding-top:10px;
background-position:center;
height:23px;
background-repeat:no-repeat;
background-image:url(img/comment_panel.png);
}
.comment span {
margin-right:10px;
}
.table_comment {
background-color:#f6f6f6;
font-family:Tahoma, Verdana;
width:95%;
border:1px dotted #000066;
}
.table_comment td{
vertical-align:top;
}
.comment_h1 {
margin-left:20px;
color:#cc0000;
font-size:13px;
}
.comment_title {
font:17px Georgia;
margin:0px 0px 0px 15px;
color:#cc0000;
}
/*last_articles*/
.last_articles_table {
background-color:#feffcd;
width:95%;
margin-bottom:15px;
}
.last_articles_table h1 {
text-decoration:none;
margin:10px 0px 5px 20px;
font-family:Arial;
font-size:15px;
color:#C37A7E;
}
.last_lessons_table {
background-color:#e8eefc;
width:95%;
margin-bottom:15px;
}
.last_lessons_table h1 {
text-decoration:none;
margin:10px 0px 5px 20px;
font-family:Arial;
font-size:15px;
color:#0066FF;
}
.last_goodies_table {
background-color:#f2e6fd;
width:95%;
margin-bottom:15px;
}
.last_goodies_table h1 {
text-decoration:none;
margin:10px 0px 5px 20px;
font-family:Arial;
font-size:15px;
color:#9966CC;
}
.last_goodies_h1 {
color:#9966CC
}
.last_articles_adds span{
font-size:11px;
margin-left:20px;
font-family:Tahoma, Verdana;
}
.last_articles_adds strong{
color:#F26C4F;
}
.last_articles_adds2 a {
color:#0E6B97;
font-family:Tahoma, Verdana;
margin-left:5px;
text-decoration:none;
}
.last_articles_adds a {
color:#F26C4F;
text-decoration:none;
}
.last_articles_adds2 span{
font-size:11px;
margin-left:28px;
font-family:Tahoma, Verdana;
}
.last_articles_adds2 strong{
color:#F26C4F;
}
.last_articles_img img {
margin-right:10px;
border:1px solid #999999;
}
/*page_navigation*/
.pstrnav {
padding: 0px 10px 20px 15px;
color:#424242;
}
.select_page {
border:1px solid #666666;
font-weight:bold;
margin-left:2px;
margin-right:2px;
padding:4px 4px 3px 3px;
background-color:#CCCCCC;
}
.pstrnav span {
border:1px solid #666666;
margin-left:2px;
margin-right:2px;
padding:3px 4px 3px 3px;
background-color:#f6f6f6;
}
.pstrnav a{
font-family : Verdana,Tahoma;
font-size:11px;
color:#245E93;
text-decoration:none;
}
/*lesson*/
.step_lesson {
margin: 15px;
font-size:13px;
color:#FF3300;
}
.article_tools {
font-size:16px;
text-align:center;
margin:0px 250px 0px 250px;
padding: 5px 0px 5px 0px;
}
.aim {
width:495px;
height:139px;
background:url(img/lesson_aim.png) no-repeat;
padding-top:40px;
}
.aim a {
text-decoration:none;
color:#0033CC;
}
/*highlight*/
pre code{
max-height:200px;
max-width:580px;
width:580px;
overflow:auto;
display: block;
background-color: #f4f4f4;
border:1px solid silver;
padding:0px 0px 10px 10px;
margin-left:25px;
}
pre code[class]:after {
content: 'Синтаксис: ' attr(class);
text-align:right;
float:right;
padding-left:200px;
color:gray;
margin: 5px 10px 10px 0px;
}
.html .doctype, .html .keyword, .html .tag, .css .keyword, .javascript, .php, .apache {
color:#000099;
}
.html .comment, .css .comment, .javascript .comment, .apache .comment {
color:#999999;
background:none;
}
.css .value, .javascript .string, .php .keyword, .apache .keyword, .html .attribute {
color:#0000FF;
}
.css {
color:#FF00FF;
}
.html .value, .javascript .regexp, .php .variable, .apache .literal {
color:#006600;
}
.javascript .function, .apache .tag {
font-weight:bold;
color:black;
}
.javascript .title, .apache .sqbracket {
color:#990099;
}
.javascript .literal, .php .string, .apache .cbracket {
color:#cc0000;
}
.php .number, .apache .number {
color:#FF0000;
}
.php .comment {
color:#FF9900;
background:none;
}
.php .preprocessor {
color:red;
font-weight:bold;
}
.apache .tag{
color:black;
}
.h3_tags {
color:#006666;
margin:15px;
font-size:15px;
}
/*top css-navigation*/
#dolphincontainer{
	position:relative;
	height:50px;
	color:#E0E0E0;
	background:#143D55;
	width:100%;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	}

#dolphinnav{
	position:relative;
	height:29px;
	font-size:12px;
	font-weight:bold;
	background:#fff url(img/dolphin_bg.gif) repeat-x bottom left;
	padding:0 0 0 20px;
	}

#dolphinnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	float:left;
	}

#dolphinnav ul li{
	display:block;
	float:left;
	margin:0 1px;
	}

#dolphinnav ul li a{
	display:block;
	float:left;
	color:#EAF3F8;
	text-decoration:none;
	padding:0 0 0 20px;
	height:29px;
	}

#dolphinnav ul li a span{
	padding:8px 20px 0 0;
	height:21px;
	float:left;
	}

#dolphinnav ul li a:hover{
	color:#fff;
	background:transparent url(img/dolphin_bg-OVER.gif) repeat-x bottom left;
	}

#dolphinnav ul li a:hover span{
	display:block;
	width:auto;
	cursor:pointer;
	}

#dolphinnav ul li a.current,#dolphinnav ul li a.current:hover{
	color:#fff;
	height:33px;
	background:#1D6893 url(img/dolphin_left-ON.gif) no-repeat top left;
	line-height:275%;
	}

#dolphinnav ul li a.current span{
	display:block;
	height:33px;
	width:auto;
	padding:0 20px 0 0;
	background:#1D6893 url(img/dolphin_right-ON.gif) no-repeat top right;
	}
/*lightbox*/

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:img/lightbox/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(img/lightbox/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(img/lightbox/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }
.lb {
border:1px solid #666666;
padding:1px;
margin:0 10px 0px 15px;
}
.hidden-link {
display:none;
}
